[buildout]
extends =
  buildout.hash.cfg
  ../slapos.cfg
  ../../component/python-cryptography/buildout.cfg
parts =
  slapos-cookbook

[caucase-eggs]
recipe = zc.recipe.egg
eggs =
  ${python-cryptography:egg}
  caucase
scripts =
  caucase
  caucase-probe
  caucase-updater
  caucased
  caucased-manage

[caucase-jinja2-library-eggs]
recipe = zc.recipe.egg
eggs =
  ${slapos-cookbook:eggs}
  plone.recipe.command
  slapos.recipe.template

[caucase-jinja2-library]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}
mode = 0644
depends = ${caucase-jinja2-library-eggs:eggs}

[versions]
caucase = 0.9.4
pem = 17.1.0
