[buildout]
extends =
  ../flex/buildout.cfg
  ../libnsl/buildout.cfg
  ../lzo/buildout.cfg
  ../openssl/buildout.cfg
  ../xz-utils/buildout.cfg

parts =
  openvpn

[openvpn]
recipe = slapos.recipe.cmmi
url = https://swupdate.openvpn.org/community/releases/openvpn-${:version}.tar.xz
version = 2.4.7
md5sum = 4ad8a008e1e7f261b3aa0024e79e7fb7
configure-options =
  --disable-dependency-tracking
  --disable-plugin-auth-pam
  --enable-iproute2
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
  LZO_LIBS=-L${lzo:location}/lib -llzo2
  LZO_CFLAGS=-I${lzo:location}/include
  OPENSSL_LIBS=-L${openssl-1.1:location}/lib -lcrypto -lssl
  OPENSSL_CFLAGS=-I${openssl-1.1:location}/include
  LDFLAGS =-Wl,-rpath=${lzo:location}/lib -Wl,-rpath=${flex:location}/lib -Wl,-rpath=${openssl-1.1:location}/lib -L${libnsl:location}/lib -Wl,-rpath=${libnsl:location}/lib
  CPPFLAGS=-I${lzo:location}/include -I${flex:location}/include -I${libnsl:location}/include
