# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[mariadb-resiliency-after-import-script]
filename = instance-mariadb-resiliency-after-import-script.sh.in
md5sum = 85ce1e2f3d251aa435fef8118dca8a63

[mariadb-slow-query-report-script]
filename = mysql-querydigest.sh.in
md5sum = 6457ab192d709aa2c9014e9a3e91ca20

[mariadb-start-clone-from-backup]
filename = instance-mariadb-start-clone-from-backup.sh.in
md5sum = d10b8e35b02b5391cf46bf0c7dbb1196

[template-mariadb]
filename = instance-mariadb.cfg.in
md5sum = f4e10df6253a76fcdb95458516ce9bdd

[template-kumofs]
filename = instance-kumofs.cfg.in
md5sum = fed6dd2bdc389b4fc7e7b7ca32c5d4b6

[template-zope-conf]
filename = zope.conf.in

[template]
filename = instance.cfg.in
md5sum = 172abf64a9b46e2259cfa43d589f2ebf

[template-erp5]
filename = instance-erp5.cfg.in
md5sum = 02442f5f2e16340d8a0e5fa33499c6c4

[template-zeo]
filename = instance-zeo.cfg.in
md5sum = 34491fdb370143192b4c167c9a73605b

[template-zodb-base]
filename = instance-zodb-base.cfg.in
md5sum = bc821f9f9696953b10a03ad7b59a1936

[template-zope]
filename = instance-zope.cfg.in
md5sum = 25789ec79cd7ddaca2d940c50418479a

[template-balancer]
filename = instance-balancer.cfg.in
md5sum = 802135024f07807eb11f56331d9a08e9

[template-haproxy-cfg]
filename = haproxy.cfg.in
md5sum = 7e326ff5d93dc34f98c8de136e30bd78

[template-rsyslogd-cfg]
filename = rsyslogd.cfg.in
md5sum = 5cf0316fdd17a940031e4083bbededd8

[instance-wcfs.cfg.in]
filename = instance-wcfs.cfg.in
md5sum = 945e8e4552a6bdf228b9609567b09399
