[buildout]
extends =
  buildout.cfg
# Exact versions from Zope 4
  versions.cfg
  versions-prod.cfg
parts -=
  template-neo
  
parts +=
# Development eggs
  slapos-cookbook-develop
  slapos-cookbook
  zopescripts

[zopescripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs =
    Zope
    Paste
    ZEO
# Former zope dependencies
    pylint
    zLOG
    docutils
    Missing
    pytz
    zope.sendmail
    zope.structuredtext
    Products.CMFCore
    Products.PythonScripts 
    Products.SiteErrorLog 
    xml_marshaller
    mysqlclient
    Products.ZSQLMethods
    Products.DCWorkflow
    ply
    Products.MimetypesRegistry

Products.DCWorkflow-patches = ${:_profile_base_location_}/../../component/egg-patch/Products.DCWorkflow/workflow_method.patch#e44faaf9953eee21124c572039ffecf1
Products.DCWorkflow-patch-options = -p1

[python]
part = python3

[slapos.cookbook-repository]
develop = true
branch = zope4

parts -=
# XXX: The following parts have no support for Python 3. Ignore for now.
  rdiff-backup
  ocropy
  hookbox
  scipy
  numpy
  scikit-learn
  scikit-image
  PyWavelets
  jupyter-notebook-initialized-scripts
  jupyter
  matplotlibrc
  pandas
  h5py
  ipython
  tesseract
  tesseract-eng-traineddata
  tesseract-osd-traineddata
#  neoppod
  testrunner
  test_suite_runner

[test_suite_runner]
recipe =   
[testrunner]
recipe =   
[neoppod]
recipe = 
[h5py]
recipe =
[matplotlibrc]
recipe =
[jupyter]
recipe =
[rdiff-backup]
recipe =
[rdiff-backup-build]
recipe =
[ocropy]
recipe =
[hookbox]
recipe =
[scipy]
recipe =
[scikit-learn]
recipe =
[PyWavelets]
recipe =
[scikit-image]  
recipe = 
[numpy]
recipe =
[openblas]
recipe = 
[pandas]
recipe =
[ipython]
recipe =
  
[python-ldap-python]
# No patch needed anymore
patches =
include-dirs -=
  ${cyrus-sasl:location}/include/sasl
include-dirs +=
  ${cyrus-sasl:location}/include

[eggs]
eggs -=
# tracemalloc is now part of Python 3.4!
  pytracemalloc
# XXX: The following eggs have no support for Python 3. Ignore for now.
  ocropy
  ${ocropy:egg}
  PyXML
  threadframe
  suds
  xupdate_processor
  SOAPpy
  fpconst
  ${scipy:egg}
  ${scikit-learn:egg}
  ${scikit-image:egg}
  ${numpy:egg}
  ${matplotlib:egg}
  ${pandas:egg}
  h5py
  ${h5py:egg}
  ${statsmodels:egg}
  astor
  ${ipython:egg}
# jupter base egg
  jupyter
# explicit eggs to generate scripts from them
  jupyter_client
  jupyter_console
  jupyter_core
  nbconvert
  nbformat
  notebook
# additional eggs
  requests
  astor
  ${matplotlib:egg}
  ${scipy:egg}
  ${pandas:egg}
  ${scikit-learn:egg}
  ${seaborn:egg}
  ${statsmodels:egg}
  patsy
  ${h5py:egg}
  openpyxl
  sympy
  xlrd
# additional eggs for jupyterlab
  jupyterlab
  jupyterlab-launcher
  pytesseract
#  ${neoppod:eggs}

Acquisition-patches = ${:_profile_base_location_}/../../component/egg-patch/Acquisition/aq_dynamic-4.5.patch#e923ab436d53282df536de3ef7d3e127

[pylint]
patches=

[versions]
# patched eggs
#Acquisition = 4.6+SlapOSPatched001

# zc.recipe.egg 2.0.7 (in versions.cfg) requires zc.buildout>=2.12.0, so let's
# revert to the version contained in stack/slapos.cfg
zc.recipe.egg = 2.0.3+slapos003

pyasn1-modules = 0.2.8
pyasn1 = 0.4.8

# Version up to support Python 3.7
numpy = 1.16.6
pandas = 0.24.2
# XXX: No version of scipy is both compatible with Python 2.7 and 3.7
scipy = 1.5.2
#scikit-learn = 0.20.4
statsmodels = 0.10.2
pyzmq = 19.0.2
PyStemmer = 2.0.1
python-ldap = 3.1.0
ipython = 0.10.2
cryptography = 3.2.1
Products.CMFCore = 2.4.8
Products.MailHost = 4.0
Products.GenericSetup = 2.0
mccabe = 0.6
isort = 4.2.5
astroid = 2.4.0
wrapt = 1.11
typed-ast = 1.4.0
Products.SiteErrorLog = 5.4
Products.PythonScripts = 4.12
Products.DCWorkflow = 2.4.0+SlapOSPatched001
lxml = 4.4.3 
# This is the version of lxml building, I copy/paste the 4.6.1 from pip install instead
# XXX it must be checked later
xml_marshaller = 1.0.2
mysqlclient = 2.0.1
Products.ZSQLMethods = 3.0.10
Products.ExternalMethod = 4.4
Products.StandardCacheManagers = 4.0.3
Products.MimetypesRegistry = 2.1.8