# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template-cfg]
filename = instance.cfg.in
md5sum = f3e308a63cc4da79b0aad8cde8626f10

[template_nginx_conf]
filename = templates/nginx.conf.in
md5sum = 4d41e1919841dd096f15e1af0506a11b

[instance-input-schema.json]
filename = instance-input-schema.json
md5sum = 6a71b749b5df7c54eca20a9b772b38ef

[software.json]
filename = software.cfg.json
md5sum = 8b929c98cf6fd9a42aabf59f4a2a6538
