[buildout]
extends = 
   
parts =
  firefox

[firefox]
recipe = hexagonit.recipe.cmmi
url = ftp://ftp.mozilla.org/pub/mozilla.org/firefox/releases/3.6.9/source/firefox-3.6.9.source.tar.bz2
configure-options = 
  --enable-application=browser
configure-options =
  --disable-webm
  --disable-ogg
  --disable-wave
  --disable-libjpeg-turbo
  --disable-necko-wifi
  --disable-pango

[libnotify]
recipe = hexagonit.recipe.cmmi
url = http://www.galago-project.org/files/releases/source/libnotify/libnotify-0.4.5.tar.bz2

[GTK]
recipe = hexagonit.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/gtk+/2.20/gtk+-2.20.0.tar.bz2

[cairo]
recipe = hexagonit.recipe.cmmi
url = http://cairographics.org/releases/cairo-1.10.2.tar.gz

[pango]
recipe = hexagonit.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/pango/1.20/pango-1.20.0.tar.bz2

[libXrender]
recipe = hexagonit.recipe.cmmi
url = http://xlibs.freedesktop.org/release/libXrender-0.9.0.tar.bz2
environment =
  PKG_CONFIG_PATH=${render:location}/lib/pkgconfig
  LD_LIBRARY_PATH=${render:location}/lib
  LD_RUN_PATH=${render:location}/lib
  PATH=${pkgconfig:location}/bin:%(PATH)s

[render]
recipe = hexagonit.recipe.cmmi
url = http://xlibs.freedesktop.org/release/renderext-0.9.tar.bz2

[atk]
recipe = hexagonit.recipe.cmmi
url = http://ftp.acc.umu.se/pub/gnome/sources/atk/2.0/atk-2.0.0.tar.bz2

[dbus-1]
recipe = hexagonit.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus/dbus-1.4.10.tar.gz

[dbus-glib]
recipe = hexagonit.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus-glib/dbus-glib-0.90.tar.gz

[libIDL]
recipe = hexagonit.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/libIDL/0.8/libIDL-0.8.0.tar.bz2
environment =
  PKG_CONFIG_PATH=${bison:location}/lib/pkgconfig:${glib:location}/lib/pkgconfig
  LD_LIBRARY_PATH=${bison:location}/lib:${glib:location}/lib
  LD_RUN_PATH=${bison:location}/lib:${glib:location}/lib
  PATH=${pkgconfig:location}/bin:${bison:location}/bin:%(PATH)s
  
[bison]
recipe = hexagonit.recipe.cmmi
url = http://ftp.gnu.org/gnu/bison/bison-2.3.tar.bz2
