[buildout]
extends = 
  ../glib/buildout.cfg
  ../bison/buildout.cfg
  ../gtk-2/buildout.cfg
   
parts =
  firefox

#[firefox]
#recipe = slapos.recipe.build
#slapos_promise =
#  file:firefox
#  file:firefox-bin
#
#x86 = http://releases.mozilla.org/pub/mozilla.org/firefox/releases/6.0.2/linux-i686/en-US/firefox-6.0.2.tar.bz2 d3334d1c4f7c94d0ec2b2d76f6d720d0
#x86-64 = http://releases.mozilla.org/pub/mozilla.org/firefox/releases/6.0.2/linux-x86_64/en-US/firefox-6.0.2.tar.bz2 13df923c0fbc40da0af4d3147da8ec2f
#script =
#  if not self.options.get('url'): self.options['url'], self.options['md5sum'] = self.options[guessPlatform()].split(' ')
#  extract_dir = self.extract(self.download(self.options['url'], self.options.get('md5sum')))
#  workdir = guessworkdir(extract_dir)
#  self.copyTree(workdir, "%(location)s")
  
[firefox]
recipe = hexagonit.recipe.cmmi
url = ftp://ftp.mozilla.org/pub/mozilla.org/firefox/releases/6.0.2/source/firefox-6.0.2.source.tar.bz2
configure-options = 
  --enable-application=browser
  --disable-webm
  --disable-ogg
  --disable-wave
  --disable-pango
  --disable-gnomevfs
  --disable-gconf
  --disable-libnotify
  --disable-gnomeui
  --disable-dbus
  --disable-crypto
  --disable-jsd
  --disable-dbm
  --disable-accessibility
  --disable-printing
  --disable-xpcom-fastload
  --disable-permissions
  --disable-negotiateauth
  --disable-xtf
  --disable-pref-extensions
  --disable-angle
  --disable-crashreporter
  --disable-libjpeg-turbo
  --disable-mathml
  --disable-smil
  --disable-installer
  --disable-updater
  --disable-xpconnect-idispatch
  --disable-activex
  --disable-tests
  --disable-parental-controls
  --disable-feeds
  --disable-zipwriter
  --disable-libconic
  --disable-optimize
  --disable-logging
  --disable-elf-hack
  --disable-xul
  --disable-profilelocking
  --disable-rdf
  --disable-necko-disk-cache
  --disable-necko-wifi
  --disable-cookies
  --disable-ctypes
environment =
  PKG_CONFIG_PATH=${gtk-2:location}/lib/pkgconfig
  
#  --without-libIDL
#  --with-libIDL-prefix=PFX
#  --with-libIDL-exec-prefix=PFX
#  --disable-libIDLtest
#  --with-glib-prefix=PFX
#  --with-glib-exec-prefix=PFX
#  --disable-glibtest

#perl
#libXt-devel
#freetype
#fontconfig
#pkgconfig
#yasm
#autoconf

[dbus-1]
recipe = hexagonit.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus/dbus-1.4.10.tar.gz

[dbus-glib]
recipe = hexagonit.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus-glib/dbus-glib-0.90.tar.gz

[libIDL]
recipe = hexagonit.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/libIDL/0.8/libIDL-0.8.0.tar.bz2
environment =
  PKG_CONFIG_PATH=${bison:location}/lib/pkgconfig:${glib:location}/lib/pkgconfig
  LD_LIBRARY_PATH=${bison:location}/lib:${glib:location}/lib
  LD_RUN_PATH=${bison:location}/lib:${glib:location}/lib
  PATH=${pkgconfig:location}/bin:${bison:location}/bin:%(PATH)s
