[buildout]
extends =
  ../autoconf/buildout.cfg
  ../automake/buildout.cfg
  ../bison/buildout.cfg
  ../coreutils/buildout.cfg
  ../gettext/buildout.cfg
  ../texinfo/buildout.cfg
parts =
  findutils-output

[findutils]
recipe = slapos.recipe.cmmi
shared = true
url = http://git.savannah.gnu.org/gitweb/?p=findutils.git;a=snapshot;h=f2542a4fe3e2e361b0dcb31a7561fa5503b55d1f;sf=tgz
md5sum = 50c24acc89b2013a97909de05b3a3ea5
pre-configure =
  rm -f .gitmodules && rm -rf gnulib && ./bootstrap
environment =
  PATH=${autoconf:location}/bin:${automake:location}/bin:${gettext:location}/bin:${bison:location}/bin:${texinfo:location}/bin:%(PATH)s
  GNULIB_REVISION=d654989d8bad1a82c4dcbd80204f20147408106e

[findutils-output]
# Shared binary location to ease migration
recipe = plone.recipe.command
stop-on-error = true
update-command = ${:command}
command = ${coreutils-output:test} -x ${:find} -a -x ${:xargs}
find = ${findutils:location}/bin/find
xargs = ${findutils:location}/bin/xargs
