[buildout]
extends =
    ../../component/rust/buildout.cfg
    ../../component/protobuf/buildout.cfg
    ../../component/llvm/buildout.cfg

parts = qdrant-instance

[qdrant]
<= protobuf-21.12
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/qdrant/qdrant/archive/refs/tags/v1.11.5.tar.gz
md5sum = c72147a13cf01615720697eac81265e9
configure-command = :
make-binary = cargo install --root=%(location)s --path . --locked
make-targets =
environment =
  PATH=${rustc:location}/bin:%(PATH)s
  LIBCLANG_PATH=${llvm:location}/lib
  LLVM_CONFIG_PATH=${llvm:location}/bin
  BINDGEN_EXTRA_CLANG_ARGS="-I${llvm:location}/lib/clang/19/include"
  PROTOC=${protobuf-21.12:location}/bin/protoc

[deployment-params]
http-port = 6333
grpc-port = 6334

[qdrant-instance]
recipe = slapos.recipe.template:jinja2
output = ${buildout:directory}/instance.cfg
# url = ${:_profile_base_location_}/${:filename}
filename = instance.cfg.in
md5sum = ddb60b0206bedd1d54581ee8ff3c4f64
context =
  section buildout buildout
  section params deployment-params
  key qdrant_location qdrant:location
