[buildout]
extends =
  ../libsodium/buildout.cfg
  ../patch/buildout.cfg
  ../pkgconfig/buildout.cfg

parts =
  libzmq

[libzmq]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/zeromq/libzmq/releases/download/v4.3.5/zeromq-4.3.5.tar.gz
md5sum = ae933b1e98411fd7cb8309f9502d2737
configure-options =
  --without-documentation
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${libsodium:location}/lib/pkgconfig
patches =
  ${:_profile_base_location_}/disable-stringop-overflow-gcc-10.5.patch#4705ba5b86e48e2fd2eaea1d1f891cfe
patch-options = -p1
