[buildout]
extends =
  ../m4/buildout.cfg
  ../xz-utils/buildout.cfg
parts = libtool

[libtool]
recipe = slapos.recipe.cmmi
md5sum = 1bfb9b923f2c1339b4d2ce1807064aa5
url = http://ftp.gnu.org/gnu/libtool/libtool-2.4.6.tar.xz
configure-options =
  --disable-static
environment =
  M4=${m4:location}/bin/m4
  PATH=${xz-utils:location}/bin:%(PATH)s
