[buildout]
extends =
  ../xz-utils/buildout.cfg
parts = libtool

[libtool]
recipe = slapos.recipe.cmmi
md5sum = ee9c087775aeb98ce53a9c69da865a55
url = http://ftp.gnu.org/gnu/libtool/libtool-2.4.5.tar.xz
configure-options =
  --disable-static
environment =
  M4=${m4:location}/bin/m4
  PATH=${xz-utils:location}/bin:%(PATH)s
