[buildout]
# stack/lamp installs Apache, MariaDB and PHP
# and deploys the specified web application.
extends =
  ../../stack/lamp/buildout.cfg

[application]
# Download the web application that stack/lamp will run.
url = https://github.com/librespeed/speedtest/archive/refs/tags/v5.5.1.tar.gz
md5sum = 878a5d510a146de56aa2fcf9d0a1905d