# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[instance]
filename = instance.cfg.in
md5sum = 4a40a6a7668905c8d2df6a52ee6e65aa

[template-patrowl]
filename = instance-patrowl.cfg.jinja2.in
md5sum = 19f7e8d3e7cd25d62bcd49e40d24e768

[template-patrowl-engines]
filename = instance-patrowl-engines.cfg.jinja2.in
md5sum = 492e7f0a1a476189895a4f8b8addb253

[template-patrowl-wrapper]
filename = patrowl-wapper.sh.in
md5sum = d2d8c018fd46a9e2936736961a3fa872

[template-create_default_admin.py.in]
filename = create_default_admin.py.in
md5sum = 9b7bb45c5c934884054eedc0f7d801ef

[template-nginx.conf.in]
filename = nginx.conf.in
md5sum = 4046c3f1e9c7e9d17e1ba245177daa58

[template-nginx-engines.conf.in]
filename = nginx-engines.conf.in
md5sum = 9221f27c6ceb71ea1b39dfac41e3e421
