[buildout]
extends = ../openssl/buildout.cfg

parts =
  stunnel

[stunnel]
recipe = slapos.recipe.cmmi
url = https://www.stunnel.org/downloads/stunnel-5.02.tar.gz
md5sum = bb48b1c18cfc0a42708ef996b1a26926
configure-options =
  --enable-ipv6
  --disable-libwrap
  --disable-fips
  --with-ssl=${openssl:location}
environment =
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-Wl,-rpath=${openssl:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
