[buildout]
extends =
  ../m4/buildout.cfg
  ../xz-utils/buildout.cfg
parts = libmilter

[libmilter]
recipe = slapos.recipe.build
shared = true
url = https://ftp.sendmail.org/sendmail.8.18.1.tar.gz
md5sum = b6b332295b5779036d4c9246f96f673c
install =
  import glob
  import os
  import shutil
  import subprocess

  workdir = guessworkdir(self.extract(self.download()))
  site_dir = os.path.join(workdir, 'devtools', 'Site')
  os.makedirs(site_dir, exist_ok=True)
  with open(os.path.join(site_dir, 'site.config.m4'), 'w') as fh:
    fh.write("APPENDDEF(`confENVDEF', `-DNETINET6=1')\n")

  env = os.environ.copy()
  env['PATH'] = os.pathsep.join(filter(None, (
    os.path.join(self.buildout['m4']['location'], 'bin'),
    env.get('PATH'),
  )))

  for library_name in ('libsm', 'libsmutil', 'libmilter'):
    subprocess.check_call(['make'], cwd=os.path.join(workdir, library_name), env=env)

  include_dir = os.path.join(location, 'include', 'libmilter')
  lib_dir = os.path.join(location, 'lib')
  os.makedirs(include_dir)
  os.makedirs(lib_dir)

  for header in 'mfapi.h', 'mfdef.h':
    shutil.copy2(
      os.path.join(workdir, 'include', 'libmilter', header),
      os.path.join(include_dir, header),
    )

  for pattern in (
    'obj.*/libmilter/libmilter.*',
    'obj.*/libsm/libsm.*',
    'obj.*/libsmutil/libsmutil.*',
  ):
    for path in glob.glob(os.path.join(workdir, pattern)):
      if os.path.isfile(path):
        shutil.copy2(path, os.path.join(lib_dir, os.path.basename(path)))
