[buildout]
extends =
  ../pkgconfig/buildout.cfg
  ../gettext/buildout.cfg
  ../glib/buildout.cfg
  ../zlib/buildout.cfg
  ../gnutls/buildout.cfg
  ../libassuan/buildout.cfg
  ../gpgme/buildout.cfg

[gmime]
recipe = slapos.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/gmime/2.6/gmime-2.6.15.tar.xz
md5sum = a139ee5870ec4c0bf28fcff8ac0af444
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${glib:location}/lib/pkgconfig
  CPPFLAGS=-I${glib:location}/include -I${gettext:location}/include -I${zlib:location}/include -I${gpg-error:location}/include -I${libassuan:location}/include -I${gpgme:location}/include
  LDFLAGS=-L${glib:location}/lib -Wl,-rpath=${glib:location}/lib -L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib -L${gpg-error:location}/lib -Wl,-rpath=${gpg-error:location}/lib -L${libassuan:location}/lib -Wl,-rpath=${libassuan:location}/lib -L${gpgme:location}/lib -Wl,-rpath=${gpgme:location}/lib
configure-options =
  --disable-maintainer-mode
  --enable-dependency-tracking
  --enable-shared
  --disable-static
  --disable-fast-install
  --disable-libtool-lock
  --disable-gtk-doc
  --disable-gtk-doc-html
  --disable-gtk-doc-pdf
  --disable-profiling
  --enable-warnings
  --enable-strict-parser
  --enable-cryptography
  --disable-glibtest
  --enable-rpath
  --enable-largefile
  --enable-smime
  --disable-mono
# environment =
#   CPPFLAGS=-I${zlib:location}/include -I${gettext:location}/include
#   LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib -L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib
#   PATH=${gettext:location}/bin:%(PATH)s
