[buildout]
extends =
  ../colm/buildout.cfg
parts =
  ragel

[ragel]
recipe = slapos.recipe.cmmi
url = https://www.colm.net/files/ragel/ragel-7.0.0.12.tar.gz
md5sum = f95b1830fa6d9acea34f753d91e038e8
configure-options =
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
  --with-colm=${colm:location}
make-target =
  install
