# CA certificates

[buildout]
parts =
  ca-certificates

[ca-certificates]
recipe = slapos.recipe.cmmi
version = 20120623
url = ftp://ftp.free.fr/mirrors/ftp.debian.org/pool/main/c/ca-certificates/ca-certificates_${:version}.tar.gz
md5sum = 5105d4cc086f0d4ecf7bf2e4c4667289
configure-command = true
make-targets = install DESTDIR=%(prefix)s CERTSDIR=certs SBINDIR=sbin
patches =
  ${:_profile_base_location_}/ca-certificates-sbin-dir.patch#0b4e7d82ce768823c01954ee41ef177b
