# CA certificates

[buildout]

extends =
  ../patch/buildout.cfg
  ../xz-utils/buildout.cfg

parts =
  ca-certificates

[ca-certificates]
recipe = slapos.recipe.cmmi
shared = true
url = http://deb.debian.org/debian/pool/main/c/ca-certificates/ca-certificates_20190110.tar.xz
md5sum = e91d3d9259127ba2dbb65fda58d73f31
patch-binary = ${patch:location}/bin/patch
patches =
  ${:_profile_base_location_}/ca-certificates-any-python.patch#b7e234b1b2a40750c054c06603fb3749
  ${:_profile_base_location_}/ca-certificates-sbin-dir.patch#0b4e7d82ce768823c01954ee41ef177b
patch-options = -p0
configure-command = true
make-targets = install DESTDIR=@@LOCATION@@ CERTSDIR=certs SBINDIR=sbin
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
