[buildout]
extends =
  ../xz-utils/buildout.cfg
parts =
  gzip

[gzip]
recipe = slapos.recipe.cmmi
shared = true
url = https://ftp.gnu.org/pub/gnu/gzip/gzip-1.14.tar.xz
md5sum = 4bf5a10f287501ee8e8ebe00ef62b2c2
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
