[buildout]
extends =
  ../../stack/drupal/buildout.cfg

[next.js-app]
# next.js project repository
project-url = https://github.com/chapter-three/next-drupal-basic-starter

# Download drupal composer
[application]
recipe  = slapos.recipe.build:gitclone
git-executable = ${git:location}/bin/git
repository = https://lab.nexedi.com/alain.takoudjou/drupal-composer.git
branch = master