[buildout]
parts =
  ninja

[ninja]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
version = 1.10.2
url = https://github.com/ninja-build/ninja/archive/refs/tags/v${:version}.tar.gz
md5sum = 639f75bc2e3b19ab893eaf2c810d4eb4
configure-command = ${buildout:executable} configure.py
configure-options = --bootstrap --verbose
make-binary = true
post-install =
  set %(location)s/bin
  mkdir -p $1
  mv ninja $1
