[buildout]
extends =
  ../fonts/buildout.cfg
  ../freetype/buildout.cfg
  ../libxml2/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../bzip2/buildout.cfg
  ../zlib/buildout.cfg
  ../bzip2/buildout.cfg

parts =
  fontconfig

[fontconfig]
recipe = slapos.recipe.cmmi
url = http://fontconfig.org/release/fontconfig-2.11.1.tar.bz2
md5sum = 824d000eb737af6e16c826dd3b2d6c90
pkg_config_depends = ${freetype:pkg_config_depends}:${freetype:location}/lib/pkgconfig:${libxml2:location}/lib/pkgconfig
# XXX-Cedric : should we use --with-add-fonts={somefont:location}/share,{someotherfont:location}/share?
configure-options =
  --disable-static
  --disable-docs
  --enable-libxml2
  --with-default-fonts=${fonts:location}
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${:pkg_config_depends}
  CPPFLAGS=-I${zlib:location}/include -I${bzip2:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib -L${bzip2:location}/lib -Wl,-rpath=${bzip2:location}/lib
