ue_db: [
{%- for s in sim_list %}
{%-   if s.get('disable_sim', '') != 'Disable SIM' %}
{
    sim_algo: "{{ s.get('sim_algo', 'milenage') }}",
    imsi: "{{ s.imsi }}",
    opc: "{{ s.get('opc', '') }}",
    amf: {{ s.get('amf', '0x9001') }},
    sqn: "{{ s.get('sqn', '000000000000') }}",
    K: "{{ s.k }}",
    impu: {{ s.impu }},
    impi: "{{ s.impi }}",
{%-     if s.get('domain', '') %}
    domain: "{{ s.domain }}",
{%-     endif %}
    authent_type: "{{ s.get('authent_type', 'AKAv1') }}",
{%-     if s.get('multi_sim', '') %}
    multi_sim: true,
{%-     endif %}
{%-     if s.get('res_len', '') %}
    res_len: {{ s.res_len }},
{%-     endif %}
{%- if len(s.pdn_list)  > 0 %}
    pdn_list: [
{%-   for pdn in s.pdn_list %}
      {
        access_point_name: "{{ pdn.access_point_name }}",
        default: {{ pdn.default | tojson }},
        multicast: {{ pdn.multicast | tojson }},
        ipv6_multicast: {{ pdn.ipv6_multicast | tojson }},
        broadcast: {{ pdn.broadcast | tojson }},
{%-     if pdn.get('ipv4_addr') %}
        ipv4_addr: "{{ pdn.ipv4_addr }}",
{%-     endif %}
{%-     if pdn.get('ipv6_prefix') %}
        ipv6_prefix: "{{ pdn.ipv6_prefix }}",
{%-     endif %}
{%-     if pdn.get('route_list') %}
        routes: [
{%-       for route in pdn.route_list %}
          [
            {
{%-          if 'ipv4_remote_addr' in route %}
              ipv4_remote_addr: "{{ route['ipv4_remote_addr'] }}",
              mask: "{{ route['mask'] }}",
{%-          else %}
              ipv6_remote_addr_prefix: "{{ route['ipv6_remote_addr_prefix'] }}",
              prefix_len: {{ route['prefix_len'] }},
{%-          endif %}
            }
          ],
{%-        endfor -%}
        ],
{%-     endif %}
      },
{%-   endfor %}
    ],
{%- endif %}
{%-     if "ip" in s or s.get('enable_multicast', False) or s.get('enable_ipv6_multicast', False) or s.get('enable_broadcast') or s.get('route_list', False) %}
    pdn_list:[{
      access_point_name: "internet",
      default: true,
{%-       if "ip" in s %}
      ipv4_addr: "{{ s['ip'] }}",
{%-       endif %}
{%-       if "ipv6" in s %}
      ipv6_prefix: "{{ s['ipv6'] }}",
{%-       endif %}
{%-       if s.get('enable_multicast', False) %}
      multicast: true,
{%-       endif %}
{%-       if s.get('enable_ipv6_multicast', False) %}
      ipv6_multicast: true,
{%-       endif %}
{%-       if s.get('enable_broadcast', False) %}
      broadcast: true,
{%-       endif %}
{%-       if s.get('route_list', False) %}
      routes: [
{%-         for route in s.route_list %}
        [
          {
{%-       if 'ipv4_remote_addr' in route %}
            ipv4_remote_addr: "{{ route['ipv4_remote_addr'] }}",
            mask: "{{ route['mask'] }}",
{%-       else %}
            ipv6_remote_addr_prefix: "{{ route['ipv6_remote_addr_prefix'] }}",
            prefix_len: {{ route['prefix_len'] }},
{%-       endif %}
          }
        ],
{%-         endfor -%}
      ],
{%-       endif %}
    }]
{%-     endif %}
},
{%-   endif %}
{%- endfor -%}
]

