[buildout]
parts =
  srtp

[srtp]
recipe = slapos.recipe.cmmi
url = http://freefr.dl.sourceforge.net/project/srtp/srtp/1.4.4/srtp-1.4.4.tgz
md5sum = 9b449edb011c934ca97009e7e0566d22
environment =
  CFLAGS=-fPIC
configure-options =
  --disable-syslog
  --disable-gdoi
  --disable-console
