[buildout]
extends = ../readline/buildout.cfg
parts =
  sqlite3

[sqlite3]
recipe = slapos.recipe.cmmi
url = http://www.sqlite.org/2013/sqlite-autoconf-3080002.tar.gz
md5sum = 6d6cc639a4da04fbbdda7b1a1a01b386
configure-options =
  --disable-static
  --enable-readline
environment =
  CPPFLAGS=-I${readline:location}/include -I${ncurses:location}/include
  LDFLAGS=-L${buildout:parts-directory}/${:_buildout_section_name_} -Wl,-rpath=${readline:location}/lib -Wl,-rpath=${ncurses:location}/lib -L${readline:location}/lib -L${ncurses:location}/lib
