[buildout]
extends =
  ../../component/postfix/buildout.cfg
  ../../stack/slapos.cfg

parts =
  template
  postfix-main-cf-template
  slapos-cookbook



[postfix-main-cf-template]
recipe = hexagonit.recipe.download
filename = main.cf.jinja2
url = ${:_profile_base_location_}/etc/${:filename}
mode = 644
#md5sum = 
download-only = true
on-update = true


[postfix-master-cf-template]
recipe = hexagonit.recipe.download
filename = master.cf.jinja2
url = ${:_profile_base_location_}/etc/${:filename}
mode = 644
#md5sum = 
download-only = true
on-update = true


[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
mode = 0644
#md5sum = 
