[buildout]
extends =
  ../../component/golang/buildout.cfg
  ../../component/openssl/buildout.cfg
  ../../component/postgresql/buildout.cfg
  ../../stack/monitor/buildout.cfg
  ../../stack/slapos.cfg
  ../../component/defaults.cfg
  buildout.hash.cfg

parts =
  slapos-cookbook
  instance-profile
  mattermost-config-file
  postgresql
  gowork

[nodejs]
<= nodejs-18.18.0

[gowork]
mattermost-bin = ${:bin}/mattermost
mattermost-homepath = ${mattermost:homepath}

[go_github.com_mattermost_mattermost]
<= go-git-package
go.importpath = github.com/mattermost/mattermost
repository = https://github.com/mattermost/mattermost
revision = v9.5.6

[mattermost]
recipe = plone.recipe.command
command = bash -c "
  ulimit -n 8096 &&
  . ${gowork:env.sh} &&
  mkdir -p ${gowork:bin} &&
  cd ${:homepath}/webapp &&
  make dist &&
  cd ${:homepath}/server &&
  export MM_NO_DOCKER=true &&
  make setup-go-work prepackaged-binaries validate-go-version client &&
  make build-linux-amd64
  "
#command = bash -c "
#  ulimit -n 8096 &&
#  . ${gowork:env.sh} &&
#  mkdir -p ${gowork:bin} &&
#  cd ${:homepath}/webapp &&
#  make dist &&
#  cd ${:homepath}/server &&
#  export MM_NO_DOCKER=true &&
#  make setup-go-work prepackaged-binaries validate-go-version client &&
#  make build-linux-amd64 &&
#  make package-linux-amd64 &&
#  tar -xvzf dist/mattermost*.tar.gz
#  "
homepath = ${go_github.com_mattermost_mattermost:location}
stop-on-error = true

[download-file-base]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[mattermost-config-file]
<= download-file-base

[instance-profile]
recipe = slapos.recipe.template:jinja2
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/instance.cfg
extensions = jinja2.ext.do
context =
  section buildout buildout
  key mattermost_bin gowork:mattermost-bin
  key mattermost_homepath gowork:mattermost-homepath
  key template_monitor monitor2-template:output
  key postgresql_location postgresql:location

