[buildout]
parts = tcl

[tcl]
recipe = slapos.recipe.cmmi
url = http://prdownloads.sourceforge.net/tcl/tcl8.5.15-src.tar.gz
md5sum = f3df162f92c69b254079c4d0af7a690f
location = ${buildout:parts-directory}/${:_buildout_section_name_}
configure-command = ./unix/configure
configure-options =
  --prefix=${:location}
  --with-encoding=utf-8
