
[buildout]

extends = 
  ../bison/buildout.cfg
  ../rrdtools/buildout.cfg
  ../flex/buildout.cfg

parts =
  lmsensors

[lmsensors]
recipe = slapos.recipe.cmmi
md5sum = da506dedceb41822e64865f6ba34828a
url = http://dl.lm-sensors.org/lm-sensors/releases/lm_sensors-3.3.5.tar.bz2
configure-command = true
make-options =
  PREFIX=${buildout:parts-directory}/${:_buildout_section_name_}
  ETCDIR=${buildout:parts-directory}/${:_buildout_section_name_}/etc

environment = 
  PATH=${bison:location}/bin:${flex:location}/bin:%(PATH)s

