# Squid: Optimising Web Delivery
# http://squid-cache.org

[buildout]
parts =
  squid
extends =
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg

[squid]
recipe = slapos.recipe.cmmi
url = http://www.squid-cache.org/Versions/v3/3.4/squid-3.4.13.tar.xz
md5sum = a5f6c978b2d7a99b161c8275e1acb470
configure-options =
  --disable-dependency-tracking
  --disable-static
  --disable-translation
  --disable-htcp
  --disable-snmp
  --disable-loadable-modules
  --disable-icmp
  --disable-esi
  --disable-icap-client
  --disable-ecap
  --disable-wccp
  --disable-wccpv2
  --disable-eui
  --enable-http-violations
  --disable-ipfw-transparent 
  --disable-ipf-transparent
  --disable-pf-transparent
  --disable-linux-netfilter
  --enable-follow-x-forwarded-for
  --disable-auth
  --disable-url-rewrite-helpers
  --disable-auto-locale
  --disable-kerberos
  --enable-x-accelerator-vary
  --disable-external-acl-helpers
  --disable-auth-ntlm
  --with-krb5-config=no
Environment =
  PATH=${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
