[buildout]

extends =
  ../../stack/lamp/buildout.cfg
  ../../stack/slapos.cfg

[application]
recipe = slapos.recipe.build:download-unpacked
url = Student shall put here url of zipped or tarballed web page or application
md5sum = Student may put here md5sum of this file, this is good idea
#If provided tarball does not contain top directory, option shall be changed to false
strip-top-level-dir = true

[application-template]
recipe = slapos.recipe.download
url = ${:_profile_base_location_}/template/REPLACE_ME_BY_APPLICATION_TEMPLATE_NAME
#md5sum = Student may put here md5sum of this file, this is good idea
filename = template.in
mode = 0644
location = ${buildout:parts-directory}/${:_buildout_section_name_}

[application-configuration]
#Student shall put here relative path to application top level directory where configuration shall be created
#location = 
