# OptiPNG is a PNG optimizer that recompresses image files to a smaller size, without losing any information.
# https://optipng.sourceforge.net/

[buildout]
extends =
  ../libpng/buildout.cfg
  ../zlib/buildout.cfg

[optipng]
recipe = slapos.recipe.cmmi
shared = true
url = https://sourceforge.net/projects/optipng/files/OptiPNG/optipng-7.9.1/optipng-7.9.1.tar.gz
md5sum = aa10f5a484a2e844892825d14ffa0bb5
configure-options =
  --with-system-libpng
  --with-system-zlib
environment =
  CPPFLAGS=-I${libpng:location}/include -I${zlib:location}/include
  LDFLAGS=-L${libpng:location}/lib -Wl,-rpath=${libpng:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
