# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance]
filename = instance.cfg
md5sum = 1fbb72e4305ded9614ee80c0ee17b672

[instance-apache]
filename = instance-apachephp.cfg
md5sum = a9bc574f838985b8b8b165e2ce12fe61

[website1-template]
filename = templates/index.html.in
md5sum = c5695762361b801c284ee23a150cd1f1

[website2-template]
filename = templates/index.html.in
md5sum = c5695762361b801c284ee23a150cd1f1

[template-httpd-conf-hash]
filename = templates/apache.conf.in
md5sum = 4fc3f853abf702aeb6653942d4fb85d8
