[buildout]
extends =
  software.cfg

[python]
part = python3

[eggs]
eggs -=
# plantuml is not Py3-compatible
  ${slapos.test.plantuml-setup:egg}

[template]
tests =
  ${:extra}
extra =
  ${slapos.test.powerdns-setup:setup}
