# Little CMS - Great color at small footprint
# https://www.littlecms.com

[buildout]
extends =
  ../gnu-config/buildout.cfg
  ../jbigkit/buildout.cfg
  ../libjpeg/buildout.cfg
  ../libtiff/buildout.cfg
  ../zlib/buildout.cfg

parts =
  lcms2

[lcms2]
recipe = slapos.recipe.cmmi
shared = true
url = https://sourceforge.net/projects/lcms/files/lcms/2.17/lcms2-2.17.tar.gz/download
md5sum = 9f44275ee8ac122817e94fdc50ecce13
pre-configure = cp -f ${gnu-config:location}/config.sub ${gnu-config:location}/config.guess .
configure-options =
  --disable-static
environment =
  CPPFLAGS=-I${libjpeg:location}/include -I${libtiff:location}/include -I${zlib:location}/include
  LDFLAGS=-L${jbigkit:location}/lib -Wl,-rpath=${jbigkit:location}/lib -L${libjpeg:location}/lib -Wl,-rpath=${libjpeg:location}/lib -L${libtiff:location}/lib -Wl,-rpath=${libtiff:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
