[buildout]

find-links += http://dist.repoze.org
    http://www.nexedi.org/static/packages/source/

extends =
  ../../stack/slapos.cfg
  ../../component/git/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/zip/buildout.cfg
  ../../component/busybox/buildout.cfg
  ../../component/shellinabox/buildout.cfg
  ../../component/pwgen/buildout.cfg
  ../../component/apache/buildout.cfg

# Local development
develop =
  ${:parts-directory}/slapos.cookbook-repository
parts =
# Local development
  slapos-cookbook
  slapos.cookbook-repository
  check-recipe
  template
  lxml-python
  eggs
  zip
  git
  apache

# Local development
[slapos.cookbook-repository]
recipe = plone.recipe.command
stop-on-error = true
location = ${buildout:parts-directory}/${:_buildout_section_name_}
command = "${git:location}/bin/git" clone --branch erp5testnode --quiet http://git.erp5.org/repos/slapos.git "${:location}"
update-command = cd "${:location}" && "${git:location}/bin/git" fetch --quiet && "${git:location}/bin/git" reset --hard @{upstream}

[check-recipe]
recipe = plone.recipe.command
stop-on-error = true
update-command = ${:command}
command = grep parts ${buildout:develop-eggs-directory}/slapos.cookbook.egg-link

[eggs]
recipe = zc.recipe.egg
eggs =
  ${lxml-python:egg}
  zc.buildout
  slapos.libnetworkcache
  slapos.core
  inotifyx
  erp5.util
  PyXML

[testnode]

scripts =
  testnode = erp5.util.testnode:main
  slapgrid-cp = slapos.grid.slapgrid:runComputerPartition
  slapgrid-sr = slapos.grid.slapgrid:runSoftwareRelease
  slapproxy = slapos.proxy:main


[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
mode = 0644
md5sum = 307663d73ef3ef94b02567ecd322252e

[template-default]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-default.cfg
output = ${buildout:directory}/template-default.cfg
mode = 0644
md5sum = 7beecdffede3c0abf83944b57476f84f 

[versions]
PyXML = 0.8.5
erp5.util = 0.4.41
plone.recipe.command = 1.1
slapos.recipe.build = 0.12
slapos.recipe.template = 2.5
