{
  "$schema": "https://json-schema.org/draft/2020-12/schema",

  "title": "NR UE",
  "type": "object",

  "properties": {
    "$ref": "../../ue/common.json#/properties",

    "ue_type": {
      "$ref": "#/properties/ue_type",
      "const":    "lte",
      "template": "lte"
    },

    "dl_nr_arfcn": {
      "title": "DL NR ARFCN",
      "description": "Downlink NR Absolute Radio Frequency Channel Number of the cell",
      "type": "number"
    },
    "band": {
      "title": "NR band",
      "description": "NR band number",
      "type": "number"
    },
    "bandwidth": {
      "title": "Bandwidth",
      "description": "Downlink Bandwidth (in MHz)",
      "type": "number",
      "default": {{ default_nr_bandwidth }}
    },
    "ssb_nr_arfcn": {
      "title": "SSB NR ARFCN",
      "description": "SSB NR ARFCN, you can retrieve from ENB/GNB side",
      "type": "number"
    }
  }
}
