[buildout]
parts =
  zstd

[zstd]
recipe = slapos.recipe.cmmi
url = https://github.com/facebook/zstd/archive/v1.3.5.tar.gz
md5sum = d2fc97be4852d666f086282053c02319
shared = true
location = @@LOCATION@@
configure-command = :
make-options = PREFIX=${:location}
