[buildout]
parts = xpdf

[xpdf]
<= xpdf-3.03

[xpdf-3.03]
recipe = hexagonit.recipe.cmmi
md5sum = af75f772bee0e5ae4a811ff9d03eac5a
url = ftp://ftp.foolabs.com/pub/xpdf/xpdf-3.03.tar.gz
configure-options =
  --without-x
