# Various programs to do TSN measurements

[buildout]
extends =
    ../git/buildout.cfg

[tsn-rt-measures-repository]
recipe = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/tsn-rt-measures.git
branch = master
revision = b70065cece224faf47930acb40a12fed97671df1
git-executable = ${git:location}/bin/git

[tsn-rt-measures]
recipe = slapos.recipe.cmmi
path = ${tsn-rt-measures-repository:location}
configure-command =
  echo "No configure.."
