[buildout]
extends =
  ../autoconf/buildout.cfg
  ../automake/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../m4/buildout.cfg

parts =
  libfastjson

[libfastjson]
<= glibc-aware
recipe = slapos.recipe.cmmi
url = https://github.com/rsyslog/libfastjson/archive/v0.99.9.tar.gz
md5sum = 3c45e6efc838cd364588d6d1822c4ea8
shared = true
pre-configure =
  autoreconf -fvi -I ${libtool:location}/share/aclocal -I ${pkgconfig:location}/share/aclocal -I ${automake:location}/share/aclocal

environment =
  PATH=${autoconf:location}/bin:${automake:location}/bin:${libtool:location}/bin:%(PATH)s
  M4=${m4:location}/bin/m4
