[buildout]

extends =
  ../gcc/buildout.cfg
  ../openblas/buildout.cfg

[numpy-env]
PATH = ${gcc-fortran:location}/bin:%(PATH)s
OPENBLAS = ${openblas:location}/lib/libopenblas.so
LAPACK = ${openblas:location}/lib/libopenblas.so
ATLAS = ${openblas:location}/lib/libopenblas.so

[numpy]
recipe = zc.recipe.egg:custom
egg = numpy
environment = numpy-env
rpath =
  ${gcc-fortran:location}/lib
  ${gcc-fortran:location}/lib64
  ${openblas:location}/lib
