#!{{ python_executable }}

import os
import time
import calendar
import random
import ConfigParser

knowledge0_dir = '{{ knowledge0_directory }}/knowledge0.cfg'
set_random_password = True
random_password_length = 10

```
def generate_random_password(password_length):
  result = ''
  for i in range(0, password_length):
    result += chr(ord('a')+random.randint(0, 25))
  return result
  
def set_password(newPassword, target):
  parser = ConfigParser.ConfigParser()
  parser.read(knowledge_0)
  
  parser.set("ipython_notebook", "password", "abcdefgh")

if set_random_password:
  newPassword = generate_random_password(random_password_length)
  set_password(newPassword, knowledge0_dir)
else:
  lastModifiedTime = os.path.getmtime(knowledge0_dir)
  currentTime = calendar.timegm(time.gmtime())
  timeBetweenUpdates = currentTime - lastModifiedTime
  timeDelta = 60

  if (timeBetweenUpdates < timeDelta):
    newPassword = read_password(knowledge0_dir)
    set_password(newPassword, knowledge0_dir)
  
```