{
  "argv": [
    "{{python_executable}}",
    "{{kernel_dir}}",
    "-f",
    "{connection_file}"
  ],
  "display_name": "{{display_name}}",
  "language": "{{language_name}}",
  "language_info": {"name": "python"}
}
