[buildout]
extends =
  ../patch/buildout.cfg
  ../popt/buildout.cfg
  ../xz-utils/buildout.cfg
parts = logrotate

[logrotate]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/logrotate/logrotate/releases/download/3.21.0/logrotate-3.21.0.tar.xz
md5sum = 6c15f45efc3475a576c4f7e6cc481b2c
# BBB this is only for backward-compatibility.
configure-options =
  --with-selinux=no
post-install =
  ln -nsf . @@LOCATION@@/usr
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${popt:location}/include
  LDFLAGS=-L${popt:location}/lib -Wl,-rpath=${popt:location}/lib
