[buildout]
# Scipy requires BLAS/LAPACK libraries.
extends =
  ../meson/buildout.cfg
  ../ninja/buildout.cfg
  ../numpy/openblas.cfg
  ../pandas/buildout.cfg
  ../pybind11/buildout.cfg
  ../pkgconfig/buildout.cfg
parts = scipy

[scipy-env]
<= numpy-env
PATH=${cython:bin-directory}:${ninja:location}/bin:${pkgconfig:location}/bin:${meson:location}/bin:${scipy-setup-eggs:bin-directory}:%(PATH)s
PKG_CONFIG_PATH = ${openblas:location}/lib/pkgconfig

[scipy]
recipe = zc.recipe.egg:custom
egg = scipy
environment = scipy-env
setup-eggs = ${numpy:egg}
rpath = ${numpy:rpath}
depends =
  ${scipy-pythonpath:recipe}
  ${scipy-pkgconfig:recipe}

[scipy-pythonpath]
<= macro.pythonpath.eggs
environment = scipy-env
eggs = ${scipy-setup-eggs:eggs}

[scipy-pkgconfig]
<= macro.variable.eggs
variable = PKG_CONFIG_PATH
environment = scipy-env
eggs = ${pybind11:egg}
subpaths =
  pybind11 pybind11/share/pkgconfig/
depends = ${scipy-setup-eggs:recipe}

[scipy-setup-eggs]
recipe = zc.recipe.egg
shared = true
scripts =
  pythran
eggs =
  ${cython:egg}
  ${numpy:egg}
  ${pandas:egg}
  meson-python
  pythran
  ${pybind11:egg}

[versions]
scipy = 1.12.0
beniget = 0.4.1
gast = 0.5.3

[versions:sys.version_info < (3,11)]
tomli = 2.0.1:whl

[scipy-env:sys.version_info < (3,8)]
<= numpy-env
PATH=${ninja:location}/bin:${pkgconfig:location}/bin:${meson:location}/bin:%(PATH)s
