[buildout]
ignore-existing = true
extends =
   ../../stack/slapos.cfg

parts =
  setup-cygwin
  slapos-build-installer
  inno-setup
  installer
  instance-template

[inno-setup]
recipe = hexagonit.recipe.download
url = http://dashingsoft.com/products/slapos/inno-setup.tar.gz
md5sum = 44620b8619c9cc5b3e262655f0089f05
download-only = true

[slapos-build-installer]
recipe = hexagonit.recipe.download
url = http://git.erp5.org/gitweb/slapos.package.git/blob_plain/heads/cygwin:/windows/scripts/slapos-build-installer
md5sum = 217066b8a5bda72e52d97b04461bd9f1
download-only = true

[setup-cgywin]
recipe = hexagonit.recipe.download
url = http://git.erp5.org/gitweb/slapos.package.git/blob_plain/heads/cygwin:/windows/scripts/setup-cygwin.bat
md5sum = 5ec4f11eee39230a38ef3d2ba59fde44
download-only = true

[installer]
recipe = slapos.recipe.cmmi
url = http://dashingsoft.com/products/slapos/cygwin-packages.tar.gz
pre-configure=
  mkdir -p ${:location}/cygwin
  (cd ${:location}/cygwin ; tar xzf ${inno-setup:location}/inno-setup.tar.gz)
  cp /usr/bin/setup.exe ${:location}
  cp ${setup-cygwin}/setup-cygwin.bat ${:location}/cygwin
  cp ${slapos-build-installer}/slapos-build-installer ${:location}/cygwin
configure-command = ${buildout:directory}/setup-cygwin.bat
make-binary = ${:location}/cygwin/bin/bash --login /slapos-build-installer
make-options =
  --inno-setup=/inno-setup/ISCC.exe

#----------------
#-- Instance-level buildout profiles.

[instance-template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg.in
output = ${buildout:directory}/instance.cfg
mode = 0644

[versions]
Jinja2 = 2.6
MySQL-python = 1.2.4
Werkzeug = 0.8.3
apache-libcloud = 0.12.3
async = 0.6.1
buildout-versions = 1.7
gitdb = 0.5.4
hexagonit.recipe.cmmi = 1.6
inotifyx = 0.2.0-1
lxml = 3.1.1
meld3 = 0.6.10
netaddr = 0.7.10
pycrypto = 2.6
pytz = 2013b
rdiff-backup = 1.0.5
slapos.cookbook = 0.76.0
slapos.recipe.build = 0.11.6
slapos.recipe.download = 1.0.dev-r4053
slapos.recipe.template = 2.4.2
slapos.recipe.cmmi = 0.2
slapos.toolbox = 0.34.0
smmap = 0.8.2

# Required by:
# slapos.core==0.35.1
# slapos.toolbox==0.34.0
Flask = 0.9

# Required by:
# slapos.toolbox==0.34.0
GitPython = 0.3.2.RC1

# Required by:
# slapos.toolbox==0.34.0
atomize = 0.1.1

# Required by:
# slapos.toolbox==0.34.0
feedparser = 5.1.3

# Required by:
# slapos.core==0.35.1
netifaces = 0.8-1

# Required by:
# slapos.toolbox==0.34.0
paramiko = 1.10.0

# Required by:
# slapos.toolbox==0.34.0
psutil = 0.6.2

# Required by:
# slapos.core==0.35.1
pyflakes = 0.6.1

# Required by:
# hexagonit.recipe.download==1.6nxd002
# slapos.cookbook==0.76.0
# slapos.core==0.35.1
# slapos.toolbox==0.34.0
# supervisor==3.0b1
# zc.buildout==1.6.0-dev-SlapOS-010
# zope.interface==4.0.5
setuptools = 0.6c12dev-r88846

# Required by:
# slapos.toolbox==0.34.0
slapos.core = 0.35.1

# Required by:
# slapos.core==0.35.1
supervisor = 3.0b1

# Required by:
# slapos.core==0.35.1
unittest2 = 0.5.1

# Required by:
# slapos.toolbox==0.34.0
xml-marshaller = 0.9.7

# Required by:
# slapos.core==0.35.1
zope.interface = 4.0.5
