[buildout]
parts = cython
extends =
  ../patch/buildout.cfg

[cython]
recipe = zc.recipe.egg:custom
egg = cython
patches =
  https://lab.nexedi.com/kirr/cython/commit/ed7c54e961e4.patch#2e3ca7921159148de295b08026e338c5
patch-options = -p1
patch-binary = ${patch:location}/bin/patch

[versions]
cython = 0.29.24
