[buildout]

extends =
  ../pkgconfig/buildout.cfg
  ../cython/buildout.cfg
  ../libpng/buildout.cfg
  ../zlib/buildout.cfg
  ../libjpeg/buildout.cfg
  ../libtiff/buildout.cfg
  ../gtk-2/buildout.cfg
  ../gtk-3/buildout.cfg
  ../glib/buildout.cfg
  ../libexpat/buildout.cfg
  ../libepoxy/buildout.cfg
  ../jbigkit/buildout.cfg
  ../gettext/buildout.cfg
  ../pillow/buildout.cfg
  ../numpy/buildout.cfg

parts =
    wxPython

[python2.7]
environment =
  PATH=${patch:location}/bin:${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${zlib:location}/include -I${readline:location}/include -I${libexpat:location}/include -I${libffi:location}/include -I${ncurses:location}/include -I${ncurses:location}/include -I${bzip2:location}/include  -I${gdbm:location}/include -I${openssl:location}/include -I${sqlite3:location}/include -I${gettext:location}/include -fPIC
  LDFLAGS=-L${zlib:location}/lib -L${readline:location}/lib -L${libexpat:location}/lib -L${libffi:location}/lib -L${ncurses:location}/lib -L${bzip2:location}/lib -L${gdbm:location}/lib -L${openssl:location}/lib -L${sqlite3:location}/lib -Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${readline:location}/lib -Wl,-rpath=${libexpat:location}/lib -Wl,-rpath=${libffi:location}/lib -Wl,-rpath=${ncurses:location}/lib -Wl,-rpath=${bzip2:location}/lib -Wl,-rpath=${gdbm:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${sqlite3:location}/lib -L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib -Wl,-rpath=${file:location}/lib

[python-path]
recipe = collective.recipe.shelloutput
commands =
  pythonpath = ls -d ${buildout:eggs-directory}/* | tr '\n' ':'

[wxPython-env]
PATH = ${gettext:location}/bin:${gtk-3:location}/bin:${pkgconfig:location}/bin:%(PATH)s
PKG_CONFIG_PATH = ${glib:location}/lib/pkgconfig:${gtk-3:location}/lib/pkgconfig:${libtiff:location}/lib/pkgconfig:${gtk-3:pkg_config_depends}
LIBRARY_PATH = ${xz-utils:location}/lib:${gtk-3:location}/lib:${glib:location}/lib:${libexpat:location}/lib:${zlib:location}/lib:${libpng:location}/lib:${libjpeg:location}/lib:${pango:location}/lib:${cairo:location}/lib:${gdk-pixbuf:location}/lib:${atk:location}/lib:${libepoxy:location}/lib:${jbigkit:location}/lib
C_INCLUDE_PATH = ${xz-utils:location}/include:${gtk-3:location}/include/gtk-3.0:${glib:location}/include/glib-2.0:${glib:location}/lib/glib-2.0/include:${pango:location}/include/pango-1.0:${cairo:location}/include/cairo:${cairo:location}/include:${gdk-pixbuf:location}/include/gdk-pixbuf-2.0:${atk:location}/include/atk-1.0:${libepoxy:location}/include:${libexpat:location}/include:${zlib:location}/include:${libjpeg:location}/include:${libpng:location}/include:${jbigkit:location}/include
LDFLAGS=-L${gtk-3:location}/lib -Wl,-rpath=L${gtk-3:location}/lib -L${gettext:location}/lib -L${libX11:location}/lib -Wl,-rpath=${libX11:location}/lib
CPPFLAGS=-I${libexpat:location}/include -I${xz-utils:location}/include -I${zlib:location}/include -I${gettext:location}/include -I${gtk-3:location}/include/gtk-3.0 -I${pango:location}/include/pango-1.0 -I${cairo:location}/include/cairo -I${cairo:location}/include -I${gdk-pixbuf:location}/include/gdk-pixbuf-2.0 -I${atk:location}/include/atk-1.0 -I${glib:location}/include/glib-2.0 -I${glib:location}/include/gio-unix-2.0 -I${glib:location}/lib/glib-2.0/include -I${libjpeg:location}/include -I${libpng:location}/include -I${libtiff:location}/include
GTK_LIBS = -lgtk-3
GIO_LIBS=-L${glib:location}/lib -lgio-2.0
LD_LIBRARY_PATH = ${gtk-3:location}/lib:${pango:location}/lib:${cairo:location}/lib:${gdk-pixbuf:location}/lib:${atk:location}/lib:${glib:location}/lib:${gettext:location}/lib
PYTHONPATH = ${python-path:pythonpath}

[wxPython]
recipe = zc.recipe.egg:custom
egg = wxPython
environment = wxPython-env
setup-eggs =
  ${pillow-python:egg}
  ${numpy:egg}
rpath =
  ${atk:location}/lib
  ${cairo:location}/lib
  ${libepoxy:location}/lib
  ${gdk-pixbuf:location}/lib
  ${glib:location}/lib
  ${gtk-3:location}/lib
  ${libexpat:location}/lib
  ${libjpeg:location}/lib
  ${libpng:location}/lib
  ${libtiff:location}/lib
  ${pango:location}/lib
  ${zlib:location}/lib
  ${xz-utils:location}/lib
include-dirs =
  ${gtk-3:location}/include/gtk-3.0
library-dirs =

[versions]
Pillow = 6.2.2
