[buildout]
extends =
  ../geos/buildout.cfg
  
parts =
  shapely


[shapely_env]
GEOS_CONFIG=${geos:location}/bin/geos-config


[shapely]
recipe = zc.recipe.egg:custom
egg = shapely
environment = shapely_env