[buildout]
extends =
  ../geos/buildout.cfg
  ../gcc/buildout.cfg

parts =
  shapely

[shapely-env]
GEOS_CONFIG = ${geos:location}/bin/geos-config
LD_LIBRARY_PATH = ${geos:location}/lib

[shapely]
environment = shapely-env
recipe = zc.recipe.egg:custom
egg = shapely
rpath =
  ${geos:location}/lib
  ${gcc:location}/lib
  ${gcc:location}/lib64
