[buildout]
extends =
  ../lxml-python/buildout.cfg

parts =
  cloudooo

[cloudooo-yformat-bin]
recipe = slapos.recipe.build:download
url = https://lab.nexedi.com/bk/DocumentServer/raw/073f135e2373e82277e71b3201bb9302da147be0/ServerComponents/Bin/x2t
directory = ${buildout:bin-directory}
destination = ${:directory}/x2t
md5sum = d91b489ef1e2836e89893abf158dd91d
mode = 0755

[cloudooo-yformat-bin-lib-dir]
recipe = slapos.cookbook:mkdirectory
lib = ${cloudooo-yformat-bin:directory}/lib/

[cloudooo-yformat-bin-lib]
recipe = slapos.recipe.build:download
url = https://lab.nexedi.com/bk/DocumentServer/raw/073f135e2373e82277e71b3201bb9302da147be0/ServerComponents/Bin/libdoctrenderer.so
destination = ${cloudooo-yformat-bin-lib-dir:lib}/libdoctrenderer.so
md5sum = 9d67aae590af76e575b6d60e6086c334
mode = 0644

[cloudooo-develop]
recipe = zc.recipe.egg:develop
setup = ${cloudooo-repository:location}

[cloudooo-repository]
recipe = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/cloudooo.git
branch = master
git-executable = ${git:location}/bin/git

[cloudooo]
recipe = zc.recipe.egg
yformat-depend = ${cloudooo-yformat-bin-lib:destination}
eggs =
  ${lxml-python:egg}
  PasteScript
  python-magic
  psutil
  WSGIUtils
  cloudooo
entry-points =
  main=cloudooo.paster_application:application
  cloudooo_tester=cloudooo.bin.cloudooo_tester:main
  runCloudoooUnitTest=cloudooo.tests.runHandlerUnitTest:run
  runCloudoooTestSuite=cloudooo.tests.runTestSuite:run
scripts = 
  paster=cloudooo_paster
  runCloudoooUnitTest
  runCloudoooTestSuite
