<html>
<head>
 <title>Monitoring Interface</title>
</head>
<body style="padding:15px">
<ul>
 <li><a href="/{{ rss_filename }}" target="cgi-frame">RSS feed</a></li>
 <li><a href="/{{ status_filename }}" target="cgi-frame">status</a></li>
 <li><a href="/{{ settings_filename }}" target="cgi-frame">settings</a></li>
</ul>
<iframe name="cgi-frame" style="width:80%;height:70%;margin-left:15%;position:absolute;top:10px;border-style:none;border-left-style:solid"></iframe>
<body>
