# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance.cfg.in]
md5sum = 6372d0b0f26093d0d421ddc32c8c8583

[instance-common.cfg.in]
md5sum = 5784bea3bd608913769ff9a8afcccb68

[instance-requester-input-schema.json]
md5sum = 6cf88736fa4074de85a5d3ea228a42ee

[instance-requester-output-schema.json]
md5sum = 99914b932bd37a50b983c5e7c90ae93b

[instance-slave-input-schema.json]
md5sum = c85db08c219606d370eaedacff2e763a

[instance-slave-output-schema.json]
md5sum = 4e907c419856a15c6482eb81d4ed3918

[software.cfg.json]
md5sum = 01d1d8d00976d1a696631b92fbbf069c
