[buildout]
extends =
  buildout.hash.cfg
  ../../stack/slapos.cfg
#  ../../component/openssl/buildout.cfg

#  ../../component/coreutils/buildout.cfg

parts +=
  slapos-cookbook
#  template
#  software-install

allow-picked-versions = true

[software-setup]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/setup.py

[software-py]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/software.py

[software-prepare]
recipe = plone.recipe.command
stop-on-error = True
location = ${buildout:parts-directory}/${:_buildout_section_name_}
command =
  rm -fr ${:location} &&
  mkdir -p ${:location} &&
  cp ${software-setup:target} ${:location}/ &&
  cp ${software-py:target} ${:location}/

[software-develop]
recipe = zc.recipe.egg:develop
setup = ${software-prepare:location}

[software-install]
depends = ${software-develop:recipe}
recipe = zc.recipe.egg
eggs =
  software

[profile-common]
recipe = slapos.recipe.template:jinja2
url = ${:_profile_base_location_}/instance-common.cfg.in
output = ${buildout:directory}/instance-common.cfg
context =
  key develop_eggs_directory buildout:develop-eggs-directory
  key eggs_directory buildout:eggs-directory

[software-parameter-section]
# profiles
profile_master = ${profile-master:target}
profile_common = ${profile-common:output}
profile_master_publish_slave_information = ${profile-master-publish-slave-information:target}

[template]
recipe = slapos.recipe.template:jinja2
url = ${:_profile_base_location_}/instance.cfg.in
output = ${buildout:directory}/template.cfg
context =
  section software_parameter_dict software-parameter-section

[download-profile]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[profile-master]
<= download-profile

[profile-master-publish-slave-information]
<= download-profile

[versions]
#