[buildout]
versions = versions
extends =
  ../../component/msgpack-python/buildout.cfg
  ../../component/msgpack-numpy/buildout.cfg
  ../../component/scipy/buildout.cfg
  ../../software/erp5/software.cfg
  base.cfg

parts +=
  wendelin
  scipy
  msgpack-python
  msgpack-numpy
  ipython
  jupyter
  jupyter-notebook-initialized-scripts

[versions]
msgpack-numpy = 0.4.4.3


# Test Suite: Wendelin.UnitTest-Master ran at 2025/04/18 11:26:42.584484 UTC
#             0 failures, 0 errors, 78 total, status: PASS

[slapos]
revision = 44d867c42f4b4f06f0d1792ecf3a7d7390f95280


[erp5]
revision = 2992df8e9370bf82c9ec23fef97eb78030b491b4


[wendelin]
revision = 6a48d21d608f5458470d7ec86de626edae13de8c


[wendelin.core]
revision = e868655c9b255ca96685c37ee19aa378272937ad


[erp5-bin]
revision = 08c44f32cf6cb30ac610e9ed1b4380a4bb82c7fa


[erp5-doc]
revision = 3996ae1f832ca438ead9fbcf0ab8082dd1d22021

