[buildout]
versions = versions
extends =
  ../../component/msgpack-python/buildout.cfg
  ../../component/msgpack-numpy/buildout.cfg
  ../../component/scipy/buildout.cfg
  ../../software/erp5/software.cfg
  base.cfg

parts +=
  wendelin
  scipy
  msgpack-python
  msgpack-numpy
  ipython
  jupyter
  jupyter-notebook-initialized-scripts

[versions]
msgpack-numpy = 0.4.4.3


# Test Suite: Wendelin.UnitTest-Master ran at 2025/05/13 11:34:19.296898 UTC
#             4 failures, 0 errors, 78 total, status: FAIL

[slapos]
revision = 51eef626980374a044b71080f51334894c8278d3


[erp5]
revision = 9b799be8a8c1bca314289ec5f246c79e043ec35d


[wendelin]
revision = 38cec3da7ef6a306e25b154761280077c9be8769


[wendelin.core]
revision = e868655c9b255ca96685c37ee19aa378272937ad


[erp5-bin]
revision = 08c44f32cf6cb30ac610e9ed1b4380a4bb82c7fa


[erp5-doc]
revision = 3996ae1f832ca438ead9fbcf0ab8082dd1d22021

