[buildout]
extends =
  ../../component/keras/buildout.cfg
  ../../component/chainer/buildout.cfg
  ../../component/pytorch/buildout.cfg
  software.cfg
parts +=
  keras-egg
  chainer-egg
  pytorch-egg

[eggs]
eggs +=
  ${tensorboard-build-install-egg:egg}
  ${tensorflow-build-install-egg:egg}
  ${protobuf-python:egg}
  ${h5py:egg}
  ${pillow-python:egg}
  ${python-PyYAML:egg}
  six
  keras
  filelock
  nose
  ${chainer:egg}
  ${pytorch-build-install-egg:egg}
  ${python-cocoapi-build-install-egg:egg}
  torchvision

[cuda]
# If you use cuda, please adjust paramters for your environment
# else ignore this part.
# https://developer.nvidia.com/cuda-gpus
tf_need_cuda = 1
tf_cuda_version = 8.0
tf_cudnn_version = 5.1.10
tf_cuda_compute_capabilities = 5.2,6.1
cuda_toolkit_path = /usr/local/cuda
cudnn_install_path = /usr/local/cuda

[versions]
mock = 2.0.0
funcsigs = 1.0.2
