[buildout]
versions = versions
extends =
  ../../stack/wendelin/buildout.cfg
  ../../stack/slapos-py2.cfg
  ../../component/scipy/python2.cfg



# Test Suite: Wendelin.UnitTest-Master ran at 2026/04/16 22:10:37.431484 UTC
#             0 failures, 0 errors, 80 total, status: PASS

[slapos]
revision = 9c4715c4f50551f0eadfdaa970d0cb1f816efef8


[erp5]
revision = 2a21f31ceddd525832c02860aa6550d8cdbe4060


[wendelin.core]
revision = ed9f33fd03a9f59d72254d3db3a78d1e0e30bc8d


[erp5-bin]
revision = bf22709b4d62c694e26d3ecefc93b80ef5c6704e


[erp5-doc]
revision = 3996ae1f832ca438ead9fbcf0ab8082dd1d22021

