# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template]
_update_hash_filename_ = instance.cfg.jinja2
md5sum = 4041d83cf92f723b777902391440c782

[template-common]
_update_hash_filename_ = instance-common.cfg.jinja2
md5sum = c3a54ac864508ecb693c16cdec06671e

[template-rapid-cdn-human]
_update_hash_filename_ = instance-rapid-cdn-human.cfg.jinja2
md5sum = 6a57e7727c8d258f5ae81bdbb86328cb

[template-rapid-cdn-pop]
_update_hash_filename_ = instance-rapid-cdn-pop.cfg.jinja2
md5sum = c8859a6fdd9c009eb6f2e1d32747ad82

[template-rapid-cdn-kedifa]
_update_hash_filename_ = instance-rapid-cdn-kedifa.cfg.jinja2
md5sum = 13c92f006a0c06789b691ca6b21a8195

[template-rapid-cdn-log-aggregator]
_update_hash_filename_ = instance-rapid-cdn-log-aggregator.cfg.jinja2
md5sum = 6a57e7727c8d258f5ae81bdbb86328cb

[template-rapid-cdn-frontend]
_update_hash_filename_ = instance-rapid-cdn-frontend.cfg.jinja2
md5sum = a4dde56b0c51318d55d5b66308813ebd

[template-front-haproxy]
_update_hash_filename_ = template/front-haproxy.cfg.jinja2
md5sum = c25041bee84cf16b905ee021daff599a

[template-front-rsyslogd]
_update_hash_filename_ = template/front-rsyslogd.conf.jinja2
md5sum = 7f227e54717860f75a882b7ca9519bf4
