# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template]
filename = instance.cfg.jinja2
md5sum = 9febe54d69172164d297aabd0437588d

[template-common]
filename = instance-common.cfg.jinja2
md5sum = 60db72534ab13c6547ec76ff1bf69e9e

[template-rapid-cdn-cluster]
filename = instance-rapid-cdn-cluster.cfg.jinja2
md5sum = f70847e34d58b79348e4e15e80af5719

[template-rapid-cdn-human]
filename = instance-rapid-cdn-human.cfg.jinja2
md5sum = e73485ddb062f9c9d7ad4fc6099532db

[template-rapid-cdn-kedifa]
filename = instance-rapid-cdn-kedifa.cfg.jinja2
md5sum = e73485ddb062f9c9d7ad4fc6099532db

[template-rapid-cdn-log-aggregator]
filename = instance-rapid-cdn-log-aggregator.cfg.jinja2
md5sum = e73485ddb062f9c9d7ad4fc6099532db

[template-rapid-cdn-frontend]
filename = instance-rapid-cdn-frontend.cfg.jinja2
md5sum = 86c7b87241afde754aaf501d9d317b87
