[buildout]
extends =
  {{ software_parameter_dict['template_common'] }}
  {{ software_parameter_dict['template_monitor2'] }}

{%- set frontend_list = [] %}
{%- for slave in instance_parameter_dict['slave-instance-list'] %}
{%-   do slave.pop('timestamp') %}
{%-   do slave.pop('connection-parameter-hash') %}
{%-   do slave.__setitem__('title', slave.pop('slave_title')) %}
{%-   do slave.__setitem__('reference', slave.pop('slave_reference')) %}
{%-   do frontend_list.append(slave) %}
{%- endfor %}
[publish-information]
<= monitor-publish
recipe = slapos.cookbook:publish.serialised
frontend-list = {{ dumps(frontend_list | sort(attribute='title')) }}


{%- set PART_LIST = [] %}
{%- for frontend in frontend_list | sort(attribute='title') %}
{%-   set frontend_section_title = hashlib.md5(frontend['title'].encode('utf-8')).hexdigest() %}
{%-   set auto_url = 'https://%s.todo.domain.example.com/' % (frontend['reference'].replace("-", "").replace("_", "").lower()) %}
{%-   do PART_LIST.append(frontend_section_title) %}
[{{ frontend_section_title }}]
recipe = slapos.cookbook:publish.serialised
-slave-reference = {{ frontend['reference'] }}
title = {{ frontend['title'] }}
url = {{ auto_url }}
{%- endfor %}

[budilout]
parts +=
  publish-information
{% for part in PART_LIST %}
{{ '  %s' % part }}
{% endfor %}
