# mroonga - a MySQL storage engine using full-text search engine groonga
# http://mroonga.github.com/
# http://groonga.org/

[buildout]
parts =
  groonga

[groonga]
recipe = hexagonit.recipe.cmmi
url = http://packages.groonga.org/source/groonga/groonga-1.2.6.tar.gz
md5sum = 21bc2f043304837717d3aacdf4118c7a
configure-options =
  --disable-static
  --disable-glibtest
  --without-mecab
