[buildout]
versions = versions
extensions = buildout-versions

extends =
  ../../stack/slapos.cfg
  ../../component/nginx/buildout.cfg
  ../../component/dash/buildout.cfg

develop = /opt/slapdev

parts =
    template
    dash
    nginx
    eggs
	instance_html5as

[html5as]

[eggs]
recipe = z3c.recipe.scripts
eggs = slapos.cookbook

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
#md5sum = 196670999d6b015f48483d2ae6f15fbd
mode = 0644

[instance_html5as]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance_html5as.cfg
output = ${buildout:directory}/template_html5as.cfg
#md5sum = 4e0a5c24ded8f0e9afa78c2f37377278
mode = 0644

[versions]
zc.buildout = 1.6.0-dev-SlapOS-005
