[buildout]
extends =
  ../gmp/buildout.cfg
  ../nettle/buildout.cfg
  ../p11-kit/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../lunzip/buildout.cfg
  ../zlib/buildout.cfg

parts = gnutls

[gpg-error]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnupg.org/gcrypt/libgpg-error/libgpg-error-1.18.tar.bz2
md5sum = 12312802d2065774b787cbfc22cc04e9

[gcrypt]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnupg.org/gcrypt/libgcrypt/libgcrypt-1.6.3.tar.bz2
md5sum = 4262c3aadf837500756c2051a5c4ae5e
configure-options =
  --with-gpg-error-prefix=${gpg-error:location}
environment =
  CPPFLAGS=-I${gpg-error:location}/include
  LDFLAGS=-L${gpg-error:location}/lib -Wl,-rpath=${gpg-error:location}/lib

[gnutls]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnutls.org/gcrypt/gnutls/v3.2/gnutls-3.2.21.tar.lz
md5sum = a653d93a5a26434474c603470cc86666
configure-options =
  --disable-static
  --disable-libdane
  --disable-guile
  --disable-crywrap
  --without-tpm
environment =
  PATH=${pkgconfig:location}/bin:${lunzip:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${nettle:location}/lib/pkgconfig:${p11-kit:location}/lib/pkgconfig:${zlib:location}/lib/pkgconfig
  CPPFLAGS=-I${gmp:location}/include -I${zlib:location}/include
  LDFLAGS=-L${gmp:location}/lib -Wl,-rpath=${gmp:location}/lib -Wl,-rpath=${nettle:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
