[buildout]
extends =
  ../gmp/buildout.cfg
  ../nettle/buildout.cfg
  ../p11-kit/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg

parts = gnutls

[gpg-error]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnupg.org/gcrypt/libgpg-error/libgpg-error-1.13.tar.bz2
md5sum = fe0cfa7e15262ef8fdeee366109e9ff6

[gcrypt]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnupg.org/gcrypt/libgcrypt/libgcrypt-1.6.1.tar.bz2
md5sum = a5a5060dc2f80bcac700ab0236ea47dc
configure-options =
  --with-gpg-error-prefix=${gpg-error:location}
environment =
  CPPFLAGS=-I${gpg-error:location}/include
  LDFLAGS=-L${gpg-error:location}/lib -Wl,-rpath=${gpg-error:location}/lib

[gnutls]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnutls.org/gcrypt/gnutls/v3.2/gnutls-3.2.16.tar.xz
md5sum = d9a3fb49121b49bc332bfe9c3f49b005
configure-options =
  --disable-static
  --disable-libdane
  --disable-guile
  --disable-crywrap
  --without-tpm
environment =
  PATH=${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${nettle:location}/lib/pkgconfig:${p11-kit:location}/lib/pkgconfig:${zlib:location}/lib/pkgconfig
  CPPFLAGS=-I${gmp:location}/include -I${zlib:location}/include
  LDFLAGS=-L${gmp:location}/lib -Wl,-rpath=${gmp:location}/lib -Wl,-rpath=${nettle:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
