[buildout]
parts =
  double-conversion
extends =
  ../cmake/buildout.cfg

[double-conversion]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/google/double-conversion/archive/refs/tags/v3.3.0.tar.gz
md5sum = b344abb64084a4a1d98a43e67752989b
location = @@LOCATION@@
configure-command = cmake
configure-options =
  -DBUILD_SHARED_LIBS=ON
  -DCMAKE_INSTALL_PREFIX=@@LOCATION@@
environment =
  PATH=${cmake:location}/bin:%(PATH)s
