[buildout]
extends =
  ../patch/buildout.cfg
parts =
  ncurses

[ncurses]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnu.org/pub/gnu/ncurses/ncurses-6.0.tar.gz
md5sum = ee13d052e1ead260d7c28071f46eefb1
patch-options = -p1
patches =
  ${:_profile_base_location_}/ncurses-5.9-gcc-5.patch#57f4cd0cc0c0a42a5ddb2167f9546d72
  ${:_profile_base_location_}/work_around_changed_output_of_GNU_cpp_5.x.patch#130537ea8c0b51f7bd1ee2461b734da9
configure-options =
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
  --with-shared
  --without-ada
  --without-manpages
  --without-tests
  --without-normal
  --without-debug
  --without-gpm
  --enable-rpath
# tricky way to rerun with --enable-widec
make-targets =
  install && (for i in curses unctrl eti form menu panel term; do ln -sf ncurses/$i.h ${buildout:parts-directory}/${:_buildout_section_name_}/include/$i.h; done; ln -sf libncurses.so ${buildout:parts-directory}/${:_buildout_section_name_}/lib/libcurses.so) && ./configure ${:configure-options} --enable-widec && make ${:make-options} && make ${:make-options} install
# pass dummy LDCONFIG to skip needless calling of ldconfig by non-root user
environment =
  LDCONFIG=/bin/echo
  PATH=${patch:location}/bin:%(PATH)s
make-options =
  -j1
