[buildout]
parts =
  ncurses

[ncurses]
recipe = slapos.recipe.cmmi
shared = true
url = https://ftp.gnu.org/gnu/ncurses/ncurses-6.6.tar.gz
md5sum = dd45bf6854430af403452a7a6a40652c
configure-options =
  --prefix=%(location)s
  --enable-pc-files
  --disable-termcap
  --with-pkg-config-libdir=%(location)s/lib/pkgconfig
  --with-shared
  --with-termlib
  --with-versioned-syms
  --without-ada
  --without-manpages
  --without-tests
  --without-normal
  --without-debug
  --without-gpm
  --enable-rpath
post-install =
  cd '%(location)s/include'
  mv ncursesw/* .
  rmdir ncursesw
  ln -s . ncursesw
  echo 'GROUP( libtinfo.so )' > %(location)s/lib/libtermcap.so
  cd '%(location)s/lib'
  ln -s libtinfow.so libtinfo.so
# pass dummy LDCONFIG to skip needless calling of ldconfig by non-root user
# unset TERMINFO as it is used to write the TIC database and we don't want it to point outside the compilation dir
environment =
  LDCONFIG=/bin/echo
  TERMINFO=
