# MariaDB - a database server that offers drop-in replacement functionality for MySQL.
# http://mariadb.org/

[buildout]
extends =
  ../bison/buildout.cfg
  ../cmake/buildout.cfg
  ../zlib/buildout.cfg
  ../libevent/buildout.cfg
  ../ncurses/buildout.cfg
  ../openssl/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../readline/buildout.cfg

parts = mariadb

[mariadb]
recipe = slapos.recipe.cmmi
version = 5.5.25
dependencies = cmake zlib libevent ncurses openssl pkgconfig readline bison
url = http://downloads.askmonty.org/f/mariadb-${:version}/kvm-tarbake-jaunty-x86/mariadb-${:version}.tar.gz/from/http://ftp.osuosl.org/pub/mariadb
md5sum = 943f67c267d73a4080ab497e11740daf
configure-command = ${cmake:prefix}/bin/cmake
configure-options =
  -DCMAKE_INSTALL_PREFIX=%(prefix)s
  -DBUILD_CONFIG=mysql_release
  -DDEFAULT_CHARSET=utf8
  -DDEFAULT_COLLATION=utf8_unicode_ci
  -DWITH_SSL=system
  -DWITH_ZLIB=system
  -DWITH_READLINE=0
  -DWITH_PIC=1
  -DENABLE_DTRACE=0
  -DWITH_EXTRA_CHARSETS=complex
  -DWITH_EMBEDDED_SERVER=0
  -DWITHOUT_EXAMPLE_STORAGE_ENGINE=1
  -DWITHOUT_DAEMON_EXAMPLE=1

patches =
  ${:_profile_base_location_}/mariadb_5.5_create_system_tables__no_test.patch
  ${:_profile_base_location_}/mariadb-5.5.25-no-mysql-test.patch

[x86-cygwin-mariadb]
patches =
  ${mariadb:patches}
  ${:_profile_base_location_}/cygwin-mariadb-5.5.25-no-threadpool.patch
post-install =
  ln -fs  %(prefix)s/lib/libmysqlclient.dll.a  %(prefix)s/lib/libmysqlclient_r.dll.a
  cp --preserve -f %(prefix)s/lib/cygmysqlclient-*.dll %(prefix)s/bin

[x86-linux-mariadb]
configure-options =
  ${mariadb:configure-options}
  -DCMAKE_C_FLAGS="-I${ncurses:prefix}/include -I${openssl:prefix}/include -I${readline5:prefix}/include -I${zlib:prefix}/include"
  -DCMAKE_CXX_FLAGS="-I${ncurses:prefix}/include -I${openssl:prefix}/include -I${readline5:prefix}/include -I${zlib:prefix}/include"
  -DCMAKE_INSTALL_RPATH=${ncurses:prefix}/lib:${openssl:prefix}/lib:${readline5:prefix}/lib:${zlib:prefix}/lib
  -DCMAKE_INSTALL_COMPONENT="Readme Server Client SharedLibraries SupportFiles Server_Scripts IniFiles Development SqlBench" 
#  Test

environment =
  CMAKE_PROGRAM_PATH=${cmake:prefix}/bin
  CMAKE_INCLUDE_PATH=${ncurses:prefix}/include:${openssl:prefix}/include:${readline5:prefix}/include:${zlib:prefix}/include
  CMAKE_LIBRARY_PATH=${ncurses:prefix}/lib:${openssl:prefix}/lib:${readline5:prefix}/lib:${zlib:prefix}/lib
  
[mroonga-mariadb]
# mroonga - a storage engine for MySQL. It provides fast fulltext search feature to all MySQL users.
# http://mroonga.github.com/
recipe = slapos.recipe.cmmi
url = https://github.com/downloads/mroonga/mroonga/mroonga-2.06.tar.gz
md5sum = 89ce640a57ed8f2161b8358ff4c29c66
configure-options =
  --with-mysql-source=${mariadb:location}__compile__/mariadb-${mariadb:version}
  --with-mysql-config=${mariadb:location}/bin/mysql_config
depends =
  ${mariadb:version}
  ${mariadb:revision}
environment =
  PATH=${groonga:location}/bin:${pkgconfig:location}/bin:%(PATH)s
  CPPFLAGS=-I${groonga:location}/include/groonga
  LDFLAGS=-L${groonga:location}/lib
  PKG_CONFIG_PATH=${groonga:location}/lib/pkgconfig
  CXXFLAGS=-Wno-deprecated
# CXXFLAGS workaround: avoid depracation warning in order to compile on gcc 4.7+
