# Do not extend any file that touch buildout:parts.

[mariadb]
version = 10.2.11
md5sum = 954088299fe5f11b4fda3b540558adbd
stable-patches =
configure-options +=
# force build of TokuDB due to a regression in 10.2.11
  -DTOKUDB_OK=1
  -DPLUGIN_DAEMON_EXAMPLE=NO
  -DPLUGIN_EXAMPLE=NO
  -DPLUGIN_MROONGA=NO
  -DCMAKE_C_COMPILER=${gcc:location}/bin/gcc
  -DCMAKE_CXX_COMPILER=${gcc:location}/bin/g++
extra_cflags = -I${zstd:location}/include
extra_include_path = :${zstd:location}/include
extra_library_path = :${zstd:location}/lib:${gcc:location}/lib:${gcc:location}/lib64
