
import ConfigParser

knowledge_0 = '{{ config_cfg }}'

c = get_config()

parser = ConfigParser.ConfigParser()
parser.read(knowledge_0)

if parser.has_option("ipython_notebook", "password"):
  c.NotebookApp.password = parser.get("ipython_notebook", "password")

# The name of the IPython directory. This directory is used for logging
# configuration (through profiles), history storage, etc. The default is usually
# $HOME/.ipython. This options can also be specified through the environment
# variable IPYTHONDIR.
c.IPKernelApp.ipython_dir = unicode('{{ ipython_dir }}')
c.NotebookApp.ipython_dir = unicode('{{ ipython_dir }}')
