[buildout]
extends =
  ../libcap/buildout.cfg

[python-prctl]
recipe = zc.recipe.egg:custom
egg = python-prctl
include-dirs =
  ${libcap:location}/include
library-dirs =
  ${libcap:location}/lib
rpath =
  ${:library-dirs}

# setup.py also calls cpp directly to verify for sys/capabilities.h
environment = python-prctl-env
[python-prctl-env]
C_INCLUDE_PATH=${libcap:location}/include


[versions]
python-prctl = 1.8.1
