[buildout]
extends =
  buildout.hash.cfg
  ../../stack/slapos.cfg
  ../../component/powerdns/buildout.cfg
  ../../stack/monitor/buildout.cfg

parts =
  template
  slapos-cookbook
  eggs

[python]
part = python3

[gcc]
# For old version of PowerDNS and Ragel.
part = gcc-5.5
max_version = 6

[eggs]
recipe = zc.recipe.egg
eggs =
  plone.recipe.command

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/template.cfg
mode = 0644

[template-powerdns]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/template-powerdns.cfg
mode = 0644

[template-pdns-configuration]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}
mode = 640

[template-dns-replicate]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}
mode = 0644

[iso-list]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}
mode = 0644

[template-cdn-conf]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}
mode = 0644

[versions]
PyRSS2Gen = 1.1
cns.recipe.symlink = 0.2.3
plone.recipe.command = 1.1
slapos.recipe.template = 4.4
dnspython = 1.15.0
passlib = 1.7.1
GitPython = 2.1.11
lockfile = 0.12.2
feedparser = 5.2.1
atomize = 0.2.0
