[buildout]
extends =
  ../cmake/buildout.cfg


[ceph]
recipe = slapos.recipe.cmmi
shared = true
url = https://download.ceph.com/tarballs/ceph_17.1.0.orig.tar.gz
md5sum = 179f86928835da857c237b42f4b2df73

pre-configure =
  ./do_cmake.sh


