[buildout]
extends =
  ../boost-lib/buildout.cfg
  ../cmake/buildout.cfg
  ../cryptsetup/buildout.cfg
  ../curl/buildout.cfg
  ../keyutils/buildout.cfg
  ../libnl/buildout.cfg
  ../ncurses/buildout.cfg
  ../ninja/buildout.cfg
  ../openssl/buildout.cfg
  ../patch/buildout.cfg
  ../snappy/buildout.cfg
  ../systemd/buildout.cfg
  ../util-linux/buildout.cfg
  ../zlib/buildout.cfg
  ../pkgconfig/buildout.cfg

[pyyaml-download]
recipe = slapos.recipe.build:download
shared = true
url = https://files.pythonhosted.org/packages/05/8e/961c0007c59b8dd7729d542c61a4d537767a59645b82a0b521206e1e25c2/${:filename}
filename = pyyaml-6.0.3.tar.gz
md5sum = dbc6f815cd75160ccf12e470be1c8d6e

[pyaml-download]
recipe = slapos.recipe.build:download
shared = true
url = https://files.pythonhosted.org/packages/c4/01/41f63d66a801a561c9e335523516bd5f761bc43cc61f8b75918306bf2da8/${:filename}
filename = pyaml-25.7.0.tar.gz
md5sum = b5b6dc631c2c117ba3373faecf6d72f5

[librbd-python]
recipe = slapos.recipe.build
shared = true
pyyaml = ${pyyaml-download:target}
pyaml = ${pyaml-download:target}
wheel = ${systemd-wheel-dowload:target}
init =
  # add the python executable in the options dict so that
  # buildout signature changes if python executable changes
  import sys
  options['python-executable'] = sys.executable

install =
  import os, sys
  call([sys.executable, '-m', 'venv', '--clear', location])
  pip = os.path.join(location, 'bin', 'pip')
  call([pip, 'install', '--no-index', options['wheel']])
  call([pip, 'install', '--no-index', options['pyyaml'], options['pyaml']])
  call([pip, 'uninstall', '-y', 'pip', 'setuptools', 'wheel'])
  # selftest
  python = os.path.join(location, 'bin', 'python')
  call([python, '-c', 'import yaml'])

[librbd]
# CEPH only for librbd
recipe = slapos.recipe.cmmi
shared = true
url = https://download.ceph.com/tarballs/ceph-17.2.6.tar.gz
md5sum = aba03b7caacc590295b09829e0d4f088

# Note: SlapOSifying whole ceph, including it's managers, is an enormous effort
#       so only "librbd" is provided with header files and this requires
#       careful selection and ordering of ninja's targets and also manual
#       copying of common library
configure-command = cmake
make-binary = ninja -C build librbd librados
make-targets = src/librbd/install src/librados/install src/common/install src/include/install ; cp build/lib/libceph-common.so build/lib/libceph-common.so.2 %(location)s/lib ; cd %(location)s/lib

patch-binary = ${patch:location}/bin/patch
patch-options = -p1
patches =
  ${:_profile_base_location_}/ceph-minimal.patch#a84c4d30586c8b8f87a581fed5fbf5d8
# backported fixes for gcc 13 and gcc 14
  https://github.com/ceph/ceph/commit/796ce63667b460ba9b8d40891f30e45981ba237a.patch?full_index=1#84a5fe6ed9682f382be45c3bfb9e9ff2
  https://github.com/ceph/ceph/commit/0eace4ea9ea42412d4d6a16d24a8660642e41173.patch?full_index=1#26b4da331d6140140d020c7846f09137

CMAKE_LIBRARY_PATH="${util-linux:location}/lib;${ncurses:location}/lib;${keyutils:location}/x86_64-linux-gnu;${cryptsetup:location}/lib;${snappy:location}/lib;${systemd:location}/lib64;${zlib:location}/lib;${libnl:location}/lib;${boost-lib:location}/lib;${curl:location}/lib;${openssl:location}/lib"
CMAKE_INCLUDE_PATH="${systemd:location}/include;${util-linux:location}/include;${boost-lib:location}/include;${ncurses:location}/include;${keyutils:location}/include;${cryptsetup:location}/include;${snappy:location}/include;${zlib:location}/include;${libnl:location}/include;${curl:location}/include;${openssl:location}/include"

environment =
  PATH=${cmake:location}/bin:${ninja:location}/bin:${pkgconfig:location}/bin:${librbd-python:location}/bin:%(PATH)s

configure-options =
  -DCMAKE_BUILD_TYPE=RelWithDebInfo
  -DCMAKE_INCLUDE_PATH=${:CMAKE_INCLUDE_PATH}
  -DCMAKE_INSTALL_PREFIX=%(location)s
  -DCMAKE_LIBRARY_PATH=${:CMAKE_LIBRARY_PATH}
  -DCMAKE_INSTALL_RPATH=%(location)s/lib
  -DDEBUG_GATHER=OFF
  -DWITH_SYSTEM_ROCKSDB=OFF
  -DWITH_BABELTRACE=OFF
  -DWITH_BLUESTORE=OFF
  -DWITH_CEPHFS=OFF
  -DWITH_FUSE=OFF
  -DWITH_FUSE=OFF
  -DWITH_KRBD=OFF
  -DWITH_LIBCEPHFS=OFF
  -DWITH_LIBCEPHSQLITE=OFF
  -DWITH_LTTNG=OFF
  -DWITH_LZ4=OFF
  -DWITH_MANPAGE=OFF
  -DWITH_MGR=OFF
  -DWITH_MGR_DASHBOARD_FRONTEND=OFF
  -DWITH_OPENLDAP=OFF
  -DWITH_RADOSGW=OFF
  -DWITH_RADOSGW_AMQP_ENDPOINT=OFF
  -DWITH_RADOSGW_BEAST_OPENSSL=OFF
  -DWITH_RADOSGW_DBSTORE=OFF
  -DWITH_RADOSGW_KAFKA_ENDPOINT=OFF
  -DWITH_RADOSGW_LUA_PACKAGES=OFF
  -DWITH_RADOSGW_SELECT_PARQUET=OFF
  -DWITH_RBD=ON
  -DWITH_RDMA=OFF
  -DWITH_SYSTEMD=OFF
  -DWITH_SYSTEM_BOOST=ON
  -DWITH_TESTS=OFF
  -DWITH_XFS=OFF
  -GNinja
  -S . -B build
