# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[index-html]
_update_hash_filename_ = web-gui/index.html.jinja
md5sum = d652b1b4769bae17b0b8c92ed233144b

[instance-profile]
filename = instance.cfg.in
md5sum = c7f9de7830c1a6a57ae8683a1d329977

[instance-default]
filename = instance-default.cfg.jinja
md5sum = e0bc9a69bf85b761ca2e53ceaa1ec65f

[instance-peer]
filename = instance-peer.cfg.jinja.in
md5sum = c648289fe68a439b0e4a803fb69948e4

[main]
_update_hash_filename_ = drone-scripts/main.js.jinja
md5sum = 65eebe9c6f153674b2dd616e6b8fe380

[pubsub]
_update_hash_filename_ = drone-scripts/pubsub.js.jinja
md5sum = 1555496ad591a31a845f33488d5c335d

[script-js]
_update_hash_filename_ = web-gui/script.js.jinja
md5sum = a5a25ce8aa7d40907139a995c65dc48c

[worker]
_update_hash_filename_ = drone-scripts/worker.js.jinja
md5sum = ccbdd75b2a58e8d92d7cb990f2565b37
