# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance-profile]
filename = instance.cfg
md5sum = 360b58007c25727b7bd8a9154d5cafd4

[instance-default]
filename = instance-default.cfg
md5sum = 903939308701b11b1ff751784a9be110

[instance-drone]
filename = instance-drone.cfg
md5sum = 1ff50063f5a54712a0bc0ff38fa74630

[main]
filename = main.js
md5sum = 21217f85fdab2f6307e3edc6ba74d0b6

[pubsub]
filename = pubsub.js
md5sum = 1555496ad591a31a845f33488d5c335d

[worker]
filename = worker.js
md5sum = 9167a47913658d395a328f67b5a80d36
