# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance-profile]
filename = instance.cfg
md5sum = c15e4e308d5669cd87258c841714244f

[instance-default]
filename = instance-default.cfg
md5sum = 9a41a0902663fb87d52bc35a03dbcc49

[instance-drone]
filename = instance-drone.cfg
md5sum = b1910416ffa6f2b6a84fd13cca6109ce

[main]
filename = main.js
md5sum = 81e692d3edcfe666bb4d7505b3375d8d

[pubsub]
filename = pubsub.js
md5sum = 1555496ad591a31a845f33488d5c335d

[worker]
filename = worker.js
md5sum = 33f09ad15e70230054f00778e6f53f38
