[buildout]

ignore-existing = true

parts =
  slapos-cookbook
  apache-php-postgres
  rdiff-backup
  dropbear
  eggs
  instance
  psycopg2

  instance-apache-php
  instance-postgres

#Contains the importer and exporter recipes for postgres
  instance-postgres-import
  instance-postgres-export

#Contains the importer and exporter recipes for apache
  instance-apache-import
  instance-apache-export


extends =
  ../../component/apache-php/buildout.cfg
  ../../component/apache/buildout.cfg
  ../../component/dash/buildout.cfg
  ../../component/dcron/buildout.cfg
  ../../component/gzip/buildout.cfg
  ../../component/logrotate/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/postgresql/buildout.cfg
  ../../component/rdiff-backup/buildout.cfg
  ../../component/stunnel/buildout.cfg
  ../../component/dropbear/buildout.cfg
  ../slapos.cfg
  ../resilient/buildout.cfg


#----------------
#-- Application-specific part (maarch, etc.)

[application]
recipe = hexagonit.recipe.download
# If the provided tarball does not contain top directory, this option should be changed to false
strip-top-level-dir = true


#----------------
#-- Instance-level buildout profiles.

[instance]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg.in
output = ${buildout:directory}/instance.cfg
md5sum = 25d07b5101d5f566398686642ada4cee
mode = 0644

[instance-apache-php]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/apache/instance-apache-php.cfg.in
output = ${buildout:directory}/instance-apache-php.cfg
md5sum = 823257dda6f3068a38c6b69c771cf307
mode = 0644

[instance-apache-import]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/apache/instance-apache-import.cfg.in
output = ${buildout:directory}/instance-apache-import.cfg
md5sum = f1dc2a71d362b5d2d36481ffefdd2293
mode = 0644

[instance-apache-export]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/apache/instance-apache-export.cfg.jinja2
rendered = ${buildout:directory}/instance-apache-export.cfg
extensions = jinja2.ext.do

context = key templateapache instance-apache-php:output
          key templatepbsreadyexport pbsready-export:output

import-list = file parts template-parts:destination
              file replicated template-replicated:destination

md5sum = bdc7e126567ece6bf93a9bb493e29fac
mode = 0644

[instance-resilient]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance-resilient.cfg.jinja2
rendered = ${buildout:directory}/instance-resilient.cfg
extensions = jinja2.ext.do

context = key buildout buildout:bin-directory
          key develop_eggs_directory buildout:develop-eggs-directory
          key eggs_directory buildout:eggs-directory

import-list = file parts template-parts:destination
              file replicated template-replicated:destination

md5sum = 26da0631906c2267b82703c4d4f4a911
mode = 0644

[instance-postgres]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/postgres/instance-postgres.cfg.in
output = ${buildout:directory}/instance-postgres.cfg
md5sum = a2370d9a23e436166b20203f66412608
mode = 0644

[instance-postgres-import]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/postgres/instance-postgres-import.cfg.in
output = ${buildout:directory}/instance-postgres-import.cfg
md5sum = 7edfa157ddccc27e99bf128fc1c2b9ee
mode = 0644

[instance-postgres-export]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/postgres/instance-postgres-export.cfg.in
output = ${buildout:directory}/instance-postgres-export.cfg
md5sum = d95205a5fc2825e9709ed6db295111e2
mode = 0644


#----------------
#-- Postgres driver for Python recipes.

[psycopg2-env]
PATH = ${postgresql:location}/bin:%(PATH)s


[psycopg2]
recipe = zc.recipe.egg:custom
egg = psycopg2
define = PSYCOPG_EXTENSIONS,PSYCOPG_DISPLAY_SIZE,PSYCOPG_NEW_BOOLEAN,HAVE_PQFREEMEM,HAVE_PQPROTOCOL3
environment = psycopg2-env
include-dirs =
    ${postgresql:location}/include
library-dirs =
    ${postgresql:location}/lib
rpath = 
    ${postgresql:location}/lib


#----------------
#--
#-- Optional part allowing applications using this stack to run a custom
#-- instance.cfg at the end of Apache/PHP instance deployment.
#-- To use it in your application, just override those two parameters, like:

[custom-application-deployment]
# path = /path/to/instance-custom.cfg
# part-list = part1 part2
# See software/maarch/software.cfg for an example.
path =
part-list =

#----------------
#-- Dummy parts in case no application configuration file is needed

[application-template]
filename =
location =

[application-configuration]
location =

#----------------

[eggs]
recipe = zc.recipe.egg
eggs =
  ${lxml-python:egg}
  ${psycopg2:egg}
  slapos.toolbox

[versions]
apache-libcloud = 0.12.1
async = 0.6.1
cp.recipe.cmd = 0.4
gitdb = 0.5.4
plone.recipe.command = 1.1
pycrypto = 2.6
slapos.recipe.download = 1.0.dev-r4053
slapos.recipe.template = 2.4.2
slapos.toolbox = 0.40.4
smmap = 0.8.2

# Required by:
# slapos.toolbox==0.40.2
GitPython = 0.3.2.RC1

# Required by:
# slapos.toolbox==0.40.2
atomize = 0.1.1

# Required by:
# slapos.toolbox==0.40.2
feedparser = 5.1.3

# Required by:
# slapos.toolbox==0.40.2
paramiko = 1.15.1

# Required by:
# slapos.recipe.maarch==0.4
psycopg2 = 2.4.6

# Required by:
# zope.testing==4.1.2
zope.exceptions = 4.0.6

# Required by:
# cp.recipe.cmd==0.4
zope.testing = 4.1.2
