# File - Determines file type using "magic" numbers
# http://www.darwinsys.com/file/

[buildout]
parts = file
extends =
  ../zlib/buildout.cfg

[file]
recipe = slapos.recipe.cmmi
url = ftp://ftp.astron.com/pub/file/file-5.19.tar.gz
md5sum = e3526f59023f3f7d1ffa4d541335edab
configure-options =
  --disable-static
environment =
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
