# File - Determines file type using "magic" numbers
# http://www.darwinsys.com/file/

[buildout]
parts = file
extends =
  ../zlib/buildout.cfg

[file]
recipe = slapos.recipe.cmmi
url = ftp://ftp.astron.com/pub/file/file-5.18.tar.gz
md5sum = d420d8f2990cd344673acfbf8d76ff5a
configure-options =
  --disable-static
environment =
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
