[buildout]
parts =
  zlib

[zlib]
recipe = slapos.recipe.cmmi
url = http://downloads.sourceforge.net/project/libpng/zlib/1.2.11/zlib-1.2.11.tar.gz
md5sum = 1c9f62f0778697a09d36121ead88e08e
patch-options = -p1
patches =
  ${:_profile_base_location_}/1.2.11-gzguts_h.patch
  ${:_profile_base_location_}/1.2.11-gzlib_c.patch
  ${:_profile_base_location_}/1.2.11-gzopen_w.patch
  ${:_profile_base_location_}/1.2.11-zlib_h.patch
  
#configure-command = make -f win32/Makefile.gcc
#make-options =
#  -fwin32/Makefile.gcc
#  SHARED_MODE=1
#  INCLUDE_PATH=%(prefix)s/include
#  LIBRARY_PATH=%(prefix)s/lib
#  BINARY_PATH=%(prefix)s/bin


#[x86-cygwin-zlib]
#configure-command = make -f win32/Makefile.gcc
#make-options =
#  -fwin32/Makefile.gcc
#  SHARED_MODE=1
#  INCLUDE_PATH=%(prefix)s/include
#  LIBRARY_PATH=%(prefix)s/lib
#  BINARY_PATH=%(prefix)s/bin