[buildout]
parts =
  zlib

[zlib]
recipe = slapos.recipe.cmmi
url = http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz
md5sum = 44d667c142d7cda120332623eab69f40

[zlib:cygwin]
share = /usr
promises = 
  /usr/bin/cygz.dll
  /usr/lib/libz.dll.a
