[buildout]
extends =
  ../gnutls/buildout.cfg
  ../gnupg/buildout.cfg

parts =
  libgpgme

[libgpgme]
recipe = slapos.recipe.cmmi
shared = true
url = https://www.gnupg.org/ftp/gcrypt/gpgme/gpgme-1.23.2.tar.bz2
md5sum = 01a8c05b409847e87daf0543e91f8c37
configure-options =
  --disable-gpg-test
  --with-libgpg-error-prefix=${libgpg-error:location}
  --with-libassuan-prefix=${libassuan:location}
make-options =
  PYTHONS=
environment =
  LDFLAGS=-Wl,-rpath=${libgpg-error:location}/lib -Wl,-rpath=${libassuan:location}/lib
