# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[instance-theia]
_update_hash_filename_ = instance-theia.cfg.jinja.in
md5sum = 6ea30357440478f3fe5400184da73315

[instance]
_update_hash_filename_ = instance.cfg.in
md5sum = 4f752dd5444a6f9e7c617ec7ccfe62d6

[instance-import]
_update_hash_filename_ = instance-import.cfg.jinja.in
md5sum = 854c9234d719ddf855330f9cb5c6a00b

[instance-export]
_update_hash_filename_ = instance-export.cfg.jinja.in
md5sum = a723e9ba1d27c4c988e3193eb54e428f

[instance-resilient]
_update_hash_filename_ = instance-resilient.cfg.jinja
md5sum = 3d6a6a79ddfb8101984722bfae9eb2f9

[slapos-standalone-script]
_update_hash_filename_ = slapos_standalone_script.py.jinja
md5sum = 3572b3fa458505ae25ebcea9b1ed3267

[theia-common]
_update_hash_filename_ = theia_common.py
md5sum = 839e52249389c986d6a4ed3b0398e23c

[theia-export]
_update_hash_filename_ = theia_export.py
md5sum = dee2a58994296b56ba1a4a639c238165

[theia-import]
_update_hash_filename_ = theia_import.py
md5sum = 4380153bf0ed4b668e02ba42c49b9f17

[slapos.css.in]
_update_hash_filename_ = slapos.css.in
md5sum = d2930ec3ef973b7908f0fa896033fd64

[logo.png]
_update_hash_filename_ = logo.png
md5sum = 97bd0f828ffbac2681af0f4bd72cba27
