# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[instance]
filename = instance.cfg.in
md5sum = c35e6baca37c690bce39ef43825ec42b

[yarn.lock]
filename = yarn.lock
md5sum = fc2f20d496911241a0d9001c445d6158

[python-language-server-requirements.txt]
filename = python-language-server-requirements.txt
md5sum = 242c8359be6893725ad2ac8e3c864eb0
