[buildout]
parts =
  screen
extends =
  ../ncurses/buildout.cfg
  ../patch/buildout.cfg
  ../texinfo/buildout.cfg

[screen]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = http://ftp.gnu.org/gnu/screen/screen-${:version}.tar.gz
version = 4.8.0
md5sum = d276213d3acd10339cd37848b8c4ab1e
patches =
  ${:_profile_base_location_}/dependencies.diff
patch-options = -p2
environment =
  CFLAGS=-I${ncurses:location}/include
  LDFLAGS=-L${ncurses:location}/lib -Wl,-rpath=${ncurses:location}/lib
  PATH=${patch:location}/bin:${texinfo:location}/bin:%(PATH)s
