[buildout]

extends =
  ../../stack/slapos.cfg
  ../../component/noVNC/buildout.cfg
  ../../component/shellinabox/buildout.cfg
  ../../component/nginx/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/numpy/buildout.cfg
  ../../component/numpy/openblas.cfg
  ../../component/matplotlib/buildout.cfg
  ../../component/wxpython/buildout.cfg
  ../../component/matiec/buildout.cfg
  ../../component/wxwidgets/buildout.cfg
  ../../stack/monitor/buildout.cfg

parts +=
  slapos-cookbook
  eggs
  matiec
  beremiz

allow-picked-versions = true

[gcc]
# Always build GCC for Fortran (see openblas).
max_version = 0

[python]
part = python2.7

[python2.7]
shared = false

[eggs]
recipe = zc.recipe.egg
interpreter = python2.7
eggs =
  ${wxPython:egg}
  ${python-cryptography:egg}
  ${lxml-python:egg}
  ${matplotlib:egg}
  websockify
  zeroconf2
  enum34
  pyro
  twisted
  nevow
  autobahn

[beremiz]
recipe = slapos.recipe.build:download-unpacked
# download beremiz at revision 246bbeeb7fa29ee9588565f849c340dd24f2be20
url = https://github.com/beremiz/beremiz/archive/246bbeeb7fa29ee9588565f849c340dd24f2be20.tar.gz
md5sum = 0f98e987e3cdf6560102071186f848a0

[versions]
Pillow = 6.2.2
matplotlib = 2.2.5
kiwisolver = 1.1.0
cycler = 0.11.0
websockify = 0.10.0
Pyro = 3.16
zeroconf2 = 0.19.2
cython = 0.29.24
sphinx = 1.8.5
doc2dash = 2.3.0
wxPython = 4.1.1
Twisted = 20.3.0
autobahn = 19.11.2
attrs = 21.4.0
Automat = 0.3.0
zope.interface = 4.4.2
Nevow = 0.14.5
PyHamcrest = 2.0.3
constantly = 15.1.0
hyperlink = 21.0.0
incremental = 21.3.0
txaio = 21.2.1
# Required by:
# Automat==0.3.0
characteristic = 14.3.0
# Required by:
# hyperlink==21.0.0
typing = 3.10.0.0
