[buildout]

extends =
  ../../stack/slapos.cfg
  ../../component/noVNC/buildout.cfg
  ../../component/shellinabox/buildout.cfg
  ../../component/nginx/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/numpy/buildout.cfg
  ../../component/numpy/openblas.cfg
  ../../component/matplotlib/buildout.cfg
  ../../component/wxpython/buildout.cfg
  ../../stack/monitor/buildout.cfg

parts +=
  slapos-cookbook
  eggs

allow-picked-versions = true

[gcc]
# Always build GCC for Fortran (see openblas).
max_version = 0

[python]
part = python2.7

[python2.7]
shared = false

#configure-options =
#  --enable-ipv6
#  --enable-unicode=ucs4
#  --with-system-expat
#  --with-system-ffi
#  --with-threads
#  --enable-static
#  --enable-shared
 
[eggs]
recipe = zc.recipe.egg
interpreter = python2.7
eggs =
  setuptools
  ${lxml-python:egg}
  ${numpy:egg}
  ${pillow-python:egg}
  ${matplotlib:egg}
  websockify
  zeroconf2
  enum34
  pyro
  ${wxPython:egg}
  twisted
  nevow
  autobahn

#future matplotlib zeroconf2 enum34 pyro
 

[versions]
matplotlib = 2.2.5
kiwisolver = 1.1.0
cycler = 0.11.0
websockify = 0.10.0
Pyro = 3.16
zeroconf2 = 0.19.2
cython = 0.29.24
sphinx = 1.8.5
doc2dash = 2.3.0
wxPython = 4.1.1
Twisted = 20.3.0
cryptography = 3.4.6
