[buildout]

extends =
  ../../stack/slapos.cfg
  ../../component/flex/buildout.cfg
  ../../component/fonts/buildout.cfg
  ../../component/noVNC/buildout.cfg
  ../../component/shellinabox/buildout.cfg
  ../../component/nginx/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/numpy/buildout.cfg
  ../../component/numpy/openblas.cfg
  ../../component/matplotlib/buildout.cfg
  ../../component/wxpython/buildout.cfg
  ../../component/matiec/buildout.cfg
  ../../component/mesa/buildout.cfg
  ../../component/wxwidgets/buildout.cfg
  ../../component/libvnc/buildout.cfg
  ../../stack/monitor/buildout.cfg
  ./buildout.hash.cfg

parts +=
  slapos-cookbook
  eggs
  instance

allow-picked-versions = true

[gcc]
# Always build GCC for Fortran (see openblas).
max_version = 0

[python]
part = python2.7
shared = false

[eggs]
recipe = zc.recipe.egg
interpreter = python
eggs =
  ${wxPython:egg}
  ${python-cryptography:egg}
  ${lxml-python:egg}
  ${matplotlib:egg}
  future
  websockify
  zeroconf2
  enum34
  pyro
  twisted
  nevow
  autobahn
  pycountry
  fonttools
  ${beremiz-setup:egg}

[beremiz]
recipe = slapos.recipe.build:download-unpacked
# download beremiz at revision 246bbeeb7fa29ee9588565f849c340dd24f2be20
url = https://github.com/beremiz/beremiz/archive/246bbeeb7fa29ee9588565f849c340dd24f2be20.tar.gz
md5sum = 0f98e987e3cdf6560102071186f848a0

[beremiz-setup]
recipe  = zc.recipe.egg:develop
egg = beremiz
setup = ${beremiz:location}

[download-template]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[instance]
recipe = slapos.recipe.template:jinja2
rendered = ${buildout:directory}/instance.cfg
template = ${:_profile_base_location_}/${:filename}
python-bin = ${buildout:bin-directory}/${eggs:interpreter}
context =
    key bash_location bash:location
    key beremiz_location beremiz:location
    key bin_directory buildout:bin-directory
    key buildout_egg_directory buildout:eggs-directory
    key buildout_develop_directory buildout:develop-eggs-directory
    key buildout_directory buildout:directory
    key template_fonts_conf_target template-fonts-conf:output
    key template_monitor_cfg monitor2-template:rendered
    key template_instance_beremiz template-instance-beremiz:target
    key template_logrotate template-logrotate-base:rendered
    key fontconfig_location fontconfig:location
    key font_dejavu dejavu-fonts:location
    key font_liberation liberation-fonts:location
    key logrotate_cfg template-logrotate-base:rendered
    key bison_location bison:location
    key flex_location flex:location
    key gtk3_location gtk-3:location
    key matiec_location matiec:location
    key mesa_location mesa:location
    key novnc_location noVNC:location
    key python_bin :python-bin
    key openssl_location openssl:location
    key xserver_location xserver:location
    key x11vnc_location x11vnc:location

[template-instance-beremiz]
<= download-template
output = ${buildout:directory}/instance-beremiz.cfg.jinja2

[versions]
Pillow = 6.2.2
matplotlib = 2.2.5
kiwisolver = 1.1.0
cycler = 0.10.0
websockify = 0.9.0
Pyro = 3.16
zeroconf2 = 0.19.2
cython = 0.29.24
sphinx = 1.8.5
doc2dash = 2.3.0
Twisted = 20.3.0
autobahn = 19.11.2
attrs = 19.2.0
Automat = 0.3.0
zope.interface = 4.4.2
Nevow = 0.14.5
PyHamcrest = 2.0.3
constantly = 15.1.0
hyperlink = 21.0.0
incremental = 21.3.0
future = 0.18.2
pycountry = 18.12.8
fonttools = 3.44.0
idna = 2.10
PyHamcrest = 2.0.2
txaio = 18.8.1
# Required by:
# Automat==0.3.0
characteristic = 14.3.0
# Required by:
# hyperlink==21.0.0
typing = 3.10.0.0
# Required by:
# zeroconf-py2compat==0.19.10
ifcfg = 0.22
