[buildout]
extends =
  ../../component/dash/buildout.cfg
  ../../component/dcron/buildout.cfg
  ../../component/logrotate/buildout.cfg
  ../../component/openssl/buildout.cfg
  ../../component/nginx/buildout.cfg
  ../../component/rdiff-backup/buildout.cfg
  ../../component/rsync/buildout.cfg
  ../../component/openssh/buildout.cfg
  ../../component/grep/buildout.cfg
  ../../component/findutils/buildout.cfg
  ../../component/util-linux/buildout.cfg
  ../../stack/slapos.cfg
  ../../stack/monitor/buildout.cfg

parts =
  extra-eggs
  monitor-extra-eggs
  rdiff-backup
  dcron
  logrotate
  nginx
  openssl
  rsync
  template
  template-pullrdiffbackup
  template-backup-script
  template-crontab-line
  slapos-cookbook

[monitor-extra-eggs]
recipe = zc.recipe.egg
eggs =
  ${monitor-eggs:eggs}

[extra-eggs]
recipe = zc.recipe.egg
interpreter = pythonforrssgen
eggs =
  PyRSS2Gen

##########################################################
# Service startup scripts and configuration files
##########################################################
[template-nginx-service]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-nginx-service.sh.in
md5sum = 5c94d952305552dcbeaeaeb27dd28f3b
output = ${buildout:directory}/template-nginx-service.sh.in
mode = 0644

[template-nginx-configuration]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-nginx.cfg.in
md5sum = c54d36f55ba71c897505ed61213e104a
output = ${buildout:directory}/template-nginx.cfg.in
mode = 0644

[template-dcron-service]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-dcron-service.sh.in
md5sum = 1372441dac23e4fa7d2dc773a74725ea
output = ${buildout:directory}/template-dcron-service.sh.in
mode = 0644

[template-backup-script]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-backup-script.sh.in
md5sum = 19dbafa190803ecacb99c480195a5294
output = ${buildout:directory}/template-backup-script.sh.in
mode = 0644

[template-crontab-line]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-crontab-line.in
md5sum = 5cbd64f04da0601ba4286516a6161f5e
output = ${buildout:directory}/template-crontab-line.in
mode = 0644

[template-crontab]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-crontab.in
md5sum = 072be0fd04896880c931d44d8eabde37
output = ${buildout:directory}/template-crontab.in
mode = 0644

[status2rss]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/status2rss.py
md5sum = a023694817975e73998fb9187a6015d6
output = ${buildout:directory}/status2rss.py
mode = 0644

[template-update-rss-script]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/template-update-rss.sh.in
md5sum = 460757843b287f5eba55806fa528456b
output = ${buildout:directory}/template-update-rss.sh.in
mode = 0644

##########################################################
# Buildout instance.cfg templates
##########################################################
[template-pullrdiffbackup]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-pullrdiffbackup.cfg.in
md5sum = 54a84dc8c7884ce5c0afad2be3a323fe
output = ${buildout:directory}/template-pullrdiffbackup.cfg
mode = 0644

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg.in
md5sum = 42021b325159dff29e4bd4e33b8ff2f3
output = ${buildout:directory}/template.cfg
mode = 0644

[rdiff-backup]
eggs =
  ${rdiff-backup-build-1.3.4:egg}

[versions]
# 1.3.4nxd5 is invalid version string, thus pached version string is not '1.3.4nxd5+SlapOSPatched001'
# but '1.3.4nxd5-SlapOSPatched001'.
rdiff-backup = 1.3.4nxd5-SlapOSPatched001
gunicorn = 19.1.1
plone.recipe.command = 1.1
slapos.recipe.template = 2.4.2
PyRSS2Gen = 1.1
apache-libcloud = 2.3.0
gitdb2 = 2.0.5
smmap2 = 2.0.5

