[buildout]
extends =
  ../perl/buildout.cfg

[perl-DBI]
recipe = slapos.recipe.cmmi
version = 1.616
# binary library should be rebuilt when perl is updated.
depends =
  ${perl:version}
  ${perl:revision}
url = http://search.cpan.org/CPAN/authors/id/T/TI/TIMB/DBI-1.616.tar.gz
md5sum = 799313e54a693beb635b47918458f7c4
configure-command =
  ${perl:location}/bin/perl Makefile.PL
