# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template-cfg]
filename = instance.cfg.in
md5sum = eaf957f57ff76b6716adee2b36a3b25b

[wren-engine-template-config-properties]
_update_hash_filename_ = templates/wren-engine-config-properties.in
md5sum = e64f6e58685139074fc9c3d362f5c8a7

[qdrant-template-config-yaml]
_update_hash_filename_ = templates/qdrant-config-yaml.in
md5sum = af2036417b17d85bd228fc309f38cb83

[wren-ai-template-config-yaml]
_update_hash_filename_ = templates/wren-ai-config-yaml.in
md5sum = c6ff3f9d688df509d7082cedf93cd1ee