[buildout]
parts =
  libestr

[libestr]
<= glibc-aware
recipe = slapos.recipe.cmmi
url = http://libestr.adiscon.com/files/download/libestr-0.1.11.tar.gz
md5sum = 1f25a2332750d4bfacfb314235fedff0
shared = true
