# IMAPSync - IMAP synchronization tool
# https://github.com/imapsync/imapsync
# Dependencies based on: https://github.com/imapsync/imapsync/blob/master/INSTALL.d/prerequisites_imapsync

[buildout]
extends =
  ../perl/buildout.cfg
  ../openssl/buildout.cfg
  ../perl-URI/buildout.cfg
  ../perl-libwww-perl/buildout.cfg

parts =
  imapsync

# --- SSL/TLS ---

[perl-Net-SSLeay]
<= perl-CPAN-package
module = Net/Net-SSLeay
version = 1.94
md5sum = 1b22c764e5a094c6261e37a4b1f148ce
inc =
extra-env = export PERL_MM_USE_DEFAULT=1 OPENSSL_PREFIX=${openssl:location} ;

[perl-Mozilla-CA]
<= perl-CPAN-package
module = Mozilla/Mozilla-CA
version = 20240730
md5sum = 5e1c97b65ef6fb4ecb07d0d01b3c655e
inc =

[perl-IO-Socket-SSL]
<= perl-CPAN-package
module = IO/IO-Socket-SSL
version = 2.085
md5sum = 7a13ba92cdbad523f1a489c03b151569
inc = ${perl-Net-SSLeay:site_perl}:${perl-Mozilla-CA:site_perl}
extra-env = export PERL_MM_USE_DEFAULT=1 ;

# --- Networking ---

[perl-Socket6]
<= perl-CPAN-package
module = Socket/Socket6
version = 0.29
md5sum = dab4b2dcc76f81b8bedea72d8fd1bc28
url = https://cpan.metacpan.org/authors/id/U/UM/UMEMOTO/Socket6-${:version}.tar.gz
inc =

[perl-IO-Socket-INET6]
<= perl-CPAN-package
module = IO/IO-Socket-INET6
version = 2.73
md5sum = f77a9173ea49d928530d6a2df33990f7
inc = ${perl-Socket6:site_perl}

[perl-LWP-Protocol-https]
<= perl-CPAN-package
module = LWP/LWP-Protocol-https
version = 6.14
md5sum = 65401e3e34be653c9e3b31f798ed5454
inc = ${perl-IO-Socket-SSL:site_perl}:${perl-libwww-perl:site_perl}

# --- IMAP ---

[perl-Mail-IMAPClient]
<= perl-CPAN-package
module = Mail/Mail-IMAPClient
version = 3.43
md5sum = 3330380b1b68fe9d4a442f9fe30c5014
inc = ${perl-Parse-RecDescent:site_perl}:${perl-IO-Socket-SSL:site_perl}

[perl-Parse-RecDescent]
<= perl-CPAN-package
module = Parse/Parse-RecDescent
version = 1.967015
md5sum = 7a36d45d62a9b68603edcdbd276006cc
inc =

# --- Authentication ---

[perl-Authen-NTLM]
<= perl-CPAN-package
module = Authen/NTLM
version = 1.09
md5sum = da314ee94b14af2a2f39b6f2c0046e73
inc = ${perl-Digest-HMAC:site_perl}

[perl-Digest-HMAC]
<= perl-CPAN-package
module = Digest/Digest-HMAC
version = 1.04
md5sum = 746a5edffd1485d7500e005730c271c8
inc =

# --- OAuth / JWT ---

[perl-Crypt-OpenSSL-Guess]
<= perl-CPAN-package
module = Crypt/Crypt-OpenSSL-Guess
version = 0.15
md5sum = e07f470dd25023730cf8536e0cefbabd
inc =

[perl-Crypt-OpenSSL-Random]
<= perl-CPAN-package
module = Crypt/Crypt-OpenSSL-Random
version = 0.17
md5sum = 294f545c54a5a4855cb00c5648eb5c2b
inc = ${perl-Crypt-OpenSSL-Guess:site_perl}
install-inc = ${perl-Crypt-OpenSSL-Guess:site_perl}
extra-env = export PERL_MM_USE_DEFAULT=1 OPENSSL_PREFIX=${openssl:location} ;

[perl-Crypt-OpenSSL-RSA]
<= perl-CPAN-package
module = Crypt/Crypt-OpenSSL-RSA
version = 0.33
md5sum = 402994cca9f4502741cf9514719b9bdf
inc = ${perl-Crypt-OpenSSL-Random:site_perl}:${perl-Crypt-OpenSSL-Guess:site_perl}
install-inc = ${perl-Crypt-OpenSSL-Guess:site_perl}
extra-env = export PERL_MM_USE_DEFAULT=1 OPENSSL_PREFIX=${openssl:location} ;

[perl-Module-Build]
<= perl-CPAN-package
module = Module/Module-Build
version = 0.4234
md5sum = 0032d0c0bc36a3b68ef41c947829d5e3
inc =

[perl-ExtUtils-Config]
<= perl-CPAN-package
module = ExtUtils/ExtUtils-Config
version = 0.008
md5sum = 565a7b09c7cac5907a25bbe2c959a717
inc =

[perl-ExtUtils-Helpers]
<= perl-CPAN-package
module = ExtUtils/ExtUtils-Helpers
version = 0.026
md5sum = 83b00c1e401321c425ae5db6b2b2fd12
inc =

[perl-ExtUtils-InstallPaths]
<= perl-CPAN-package
module = ExtUtils/ExtUtils-InstallPaths
version = 0.012
md5sum = 9a8d66aab1ffec98ea260faf03ac612b
inc = ${perl-ExtUtils-Config:site_perl}

[perl-Module-Build-Tiny]
<= perl-CPAN-package
module = Module/Module-Build-Tiny
version = 0.051
md5sum = 15b4434617b61e70315c0838c020a48e
site_perl = ${:location}/lib/perl5:${:location}:${:inc}
inc = ${perl-ExtUtils-Config:site_perl}:${perl-ExtUtils-Helpers:site_perl}:${perl-ExtUtils-InstallPaths:site_perl}
install-inc = ${perl-Module-Build:site_perl}
configure-command =
  ${:extra-env} \
  PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" \
  ${perl:location}/bin/perl \
  Build.PL \
  --install_base ${:location}
make-binary =
  ${:extra-env} PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" ${perl:location}/bin/perl Build
make-options =
make-targets = install

[perl-JSON-WebToken]
<= perl-CPAN-package
module = JSON/JSON-WebToken
version = 0.10
md5sum = a68a0e415493495c5d3c516d854de047
site_perl = ${:location}/lib/perl5:${:location}:${:inc}
inc = ${perl-JSON:site_perl}:${perl-Module-Runtime:site_perl}
install-inc = ${perl-Module-Build:site_perl}
configure-command =
  ${:extra-env} \
  PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" \
  ${perl:location}/bin/perl \
  Build.PL \
  --install_base ${:location}
make-binary =
  ${:extra-env} PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" ${perl:location}/bin/perl Build
make-options =
make-targets = install

# --- Encoding ---

[perl-Encode-IMAPUTF7]
<= perl-CPAN-package
module = Encode/Encode-IMAPUTF7
version = 1.07
md5sum = 095b099139c7e28bb645e9ddf3d38518
inc =

[perl-Unicode-String]
<= perl-CPAN-package
module = Unicode/Unicode-String
version = 2.10
md5sum = 7a8210e673824b9fb90fd1c360483890
inc =

# --- Data / JSON ---

[perl-JSON]
<= perl-CPAN-package
module = JSON/JSON
version = 4.10
md5sum = a709b32e194d0eb38f788cb49f422c4e
inc =

[perl-Data-Uniqid]
<= perl-CPAN-package
module = Data/Data-Uniqid
version = 0.12
md5sum = 6bab3b5da09fedfdf60ce2629a7367db
inc =

# --- IO / File utilities ---

[perl-IO-Tee]
<= perl-CPAN-package
module = IO/IO-Tee
version = 0.66
md5sum = 3c87b1f16cf90f85388cdac597b6ec7b
inc =

[perl-File-Tail]
<= perl-CPAN-package
module = File/File-Tail
version = 1.3
md5sum = 252635f89ec18cb871c0b45ed64b3f63
inc =

[perl-File-Copy-Recursive]
<= perl-CPAN-package
module = File/File-Copy-Recursive
version = 0.45
md5sum = e5eee1a3f8ae3aebbac063ea54870e54
inc =

# --- System / Process ---

[perl-Proc-ProcessTable]
<= perl-CPAN-package
module = Proc/Proc-ProcessTable
version = 0.636
md5sum = 2bcf49ae769a2ea1c1e0c69d2ca90061
inc =

[perl-Sys-MemInfo]
<= perl-CPAN-package
module = Sys/Sys-MemInfo
version = 0.99
md5sum = 88f0632691d7de91cbed95ba1ff29025
inc =

[perl-Term-ReadKey]
<= perl-CPAN-package
module = Term/TermReadKey
version = 2.38
md5sum = b2b4aab7a0e6bddb7ac3b21ba637482c
inc =

# --- General utilities ---

[perl-Try-Tiny]
<= perl-CPAN-package
module = Try/Try-Tiny
version = 0.32
md5sum = 964424fcada4654bede745a7a2fb870b
url = https://cpan.metacpan.org/authors/id/E/ET/ETHER/Try-Tiny-${:version}.tar.gz
inc =

[perl-Readonly]
<= perl-CPAN-package
module = Readonly/Readonly
version = 2.05
md5sum = acae851d7d55c509f5f00a8849597e54
site_perl = ${:location}/lib/perl5:${:location}:${:inc}
inc =
install-inc = ${perl-Module-Build-Tiny:site_perl}:${perl-Module-Build:site_perl}:${perl-ExtUtils-Config:site_perl}:${perl-ExtUtils-Helpers:site_perl}:${perl-ExtUtils-InstallPaths:site_perl}
configure-command =
  ${:extra-env} \
  PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" \
  ${perl:location}/bin/perl \
  Build.PL \
  --install_base ${:location}
make-binary =
  ${:extra-env} PERL5LIB="${:inc}:${:install-inc}:${:perl-PERL5LIB}" ${perl:location}/bin/perl Build
make-options =
make-targets = install

[perl-Regexp-Common]
<= perl-CPAN-package
module = Regexp/Regexp-Common
version = 2017060201
md5sum = b1bb40759b84154990f36a160160fb94
inc =

# --- Module infrastructure (deps of other deps) ---

[perl-Dist-CheckConflicts]
<= perl-CPAN-package
module = Dist/Dist-CheckConflicts
version = 0.11
md5sum = c8725a92b9169708b0f63036812070f2
inc = ${perl-Module-Runtime:site_perl}

[perl-Module-Implementation]
<= perl-CPAN-package
module = Module/Module-Implementation
version = 0.09
md5sum = 52e3fe0ca6b1eff0488d59b7aacc0667
inc = ${perl-Module-Runtime:site_perl}:${perl-Try-Tiny:site_perl}

[perl-Module-Runtime]
<= perl-CPAN-package
module = Module/Module-Runtime
version = 0.016
md5sum = d3d47222fa2e3dfcb4526f6cc8437b20
inc =

[perl-Package-Stash]
<= perl-CPAN-package
module = Package/Package-Stash
version = 0.40
md5sum = 7a2922941cc2aad6a52642e4fb13d07b
inc = ${perl-Package-Stash-XS:site_perl}:${perl-Module-Implementation:site_perl}:${perl-Dist-CheckConflicts:site_perl}

[perl-Package-Stash-XS]
<= perl-CPAN-package
module = Package/Package-Stash-XS
version = 0.30
md5sum = 40ff29b53c91cbc9d5ff5d31cb161c6e
inc =

# --- imapsync script ---

[imapsync-script]
recipe = slapos.recipe.build:download-unpacked
shared = true
url = https://github.com/imapsync/imapsync/archive/refs/tags/imapsync-2.229.tar.gz
md5sum = efae792ba984469ec106573a0141f56c
location = @@LOCATION@@
strip-top-level-dir = true

# --- imapsync wrapper with full PERL5LIB ---

[imapsync]
recipe = slapos.recipe.template
shared = true
output = ${buildout:bin-directory}/${:_buildout_section_name_}
inline =
  #!/bin/sh
  PERL5LIB=\
  ${perl-Mail-IMAPClient:site_perl}:\
  ${perl-IO-Socket-SSL:site_perl}:\
  ${perl-Net-SSLeay:site_perl}:\
  ${perl-Mozilla-CA:site_perl}:\
  ${perl-IO-Socket-INET6:site_perl}:\
  ${perl-Socket6:site_perl}:\
  ${perl-URI:site_perl}:\
  ${perl-Authen-NTLM:site_perl}:\
  ${perl-Digest-HMAC:site_perl}:\
  ${perl-Crypt-OpenSSL-RSA:site_perl}:\
  ${perl-Crypt-OpenSSL-Random:site_perl}:\
  ${perl-JSON-WebToken:site_perl}:\
  ${perl-JSON:site_perl}:\
  ${perl-Encode-IMAPUTF7:site_perl}:\
  ${perl-Unicode-String:site_perl}:\
  ${perl-Data-Uniqid:site_perl}:\
  ${perl-IO-Tee:site_perl}:\
  ${perl-File-Tail:site_perl}:\
  ${perl-File-Copy-Recursive:site_perl}:\
  ${perl-Proc-ProcessTable:site_perl}:\
  ${perl-Sys-MemInfo:site_perl}:\
  ${perl-Term-ReadKey:site_perl}:\
  ${perl-Try-Tiny:site_perl}:\
  ${perl-Readonly:site_perl}:\
  ${perl-Regexp-Common:site_perl}:\
  ${perl-Parse-RecDescent:site_perl}:\
  ${perl-libwww-perl:site_perl}:\
  ${perl-LWP-Protocol-https:site_perl}:\
  ${perl-Module-Runtime:site_perl}:\
  ${perl-Module-Implementation:site_perl}:\
  ${perl-Dist-CheckConflicts:site_perl}:\
  ${perl-Package-Stash:site_perl}:\
  ${perl-Package-Stash-XS:site_perl}
  export PERL5LIB
  exec ${perl:location}/bin/perl ${imapsync-script:location}/imapsync "$@"
mode = 0755
