[buildout]
parts =
  sed

[sed]
recipe = slapos.recipe.cmmi
shared = true
url = ftp://ftp.gnu.org/gnu/sed/sed-4.9.tar.gz
md5sum = a50000a406f767bfa35db319704ef7b5
environment =
  LDFLAGS =-Wl,--as-needed
