[buildout]
extends =
  ../autoconf/buildout.cfg
  ../automake/buildout.cfg
  ../git/buildout.cfg
  ../libtool/buildout.cfg
  ../m4/buildout.cfg
  ../patch/buildout.cfg
  ../zlib/buildout.cfg

parts = shellinabox

[shellinabox-git-repository]
; This version has much more features, but does not support IPv6 (support unix domain though)
recipe = slapos.recipe.build:gitclone
repository = https://github.com/shellinabox/shellinabox
revision = b8285748993c4c99e80793775f3d2a0a4e962d5a
git-executable = ${git:location}/bin/git

[shellinabox]
recipe = slapos.recipe.cmmi
# unfortunately shellinabox-git-repository does not support shared
shared = false
path = ${shellinabox-git-repository:location}
configure-command =
  ${libtool:location}/bin/libtoolize
  ${autoconf:location}/bin/autoreconf -vif
  ./configure --disable-ssl
environment =
  PATH=${autoconf:location}/bin:${automake:location}/bin:${git:location}/bin:${libtool:location}/bin:${m4:location}/bin:%(PATH)s
  CFLAGS = -I${zlib:location}/include
  LDFLAGS = -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
