[buildout]
parts = libdb

[libdb]
recipe = slapos.recipe.cmmi
shared = true
#url = http://download.oracle.com/berkeley-db/db-4.5.20.tar.gz
#md5sum = b0f1c777708cb8e9d37fb47e7ed3312d
#url = http://download.oracle.com/berkeley-db/db-6.2.32.tar.gz
#md5sum = 33491b4756cb44b91c3318b727e71023
url = http://anduin.linuxfromscratch.org/BLFS/bdb/db-5.3.28.tar.gz
md5sum = b99454564d5b4479750567031d66fe24
configure-command = cd build_unix && ../dist/configure
configure-options =
  --disable-static
  --prefix=@@LOCATION@@
  --enable-cxx
make-binary = cd build_unix && make
