[buildout]
parts = libdb

[libdb]
recipe = slapos.recipe.cmmi
url = http://download.oracle.com/berkeley-db/db-4.5.20.tar.gz
md5sum = b0f1c777708cb8e9d37fb47e7ed3312d
configure-command = cd build_unix && ../dist/configure
configure-options =
  --disable-static
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
make-binary = cd build_unix && make
