[buildout]
parts =
  alsa

[alsa]
# Contains libasound
recipe = slapos.recipe.cmmi
shared = true
url = https://www.alsa-project.org/files/pub/lib/alsa-lib-1.2.10.tar.bz2
md5sum = aced5acdb6161ed86e5ca3bb10618ca1
configure-options =
  --disable-static
  --disable-aload
  --enable-rawmidi
  --disable-ucm
  --disable-alisp
  --disable-old-symbols
  --disable-python
  --without-debug
