# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template-playbook-test]
filename = instance.cfg.in
md5sum = 0a4b412067be0d825ff85c40f64074ff

[dynamic-template-playbook-test]
filename = instance-playbook-test.cfg.jinja2
md5sum = 6652c0e2d82a877f4b3326cd1cbae5bb

[vm-test-script]
filename = vm-test-script
md5sum = b17cb27d27672a4b08ffa3a5297e620e
