# This is part of the OCEAN project.
# MCA stands for Metadata Collect Agent
# "dep--" means it does not compile all the building dependencies
# "--static" indicates that it is the statically linked version of it

[buildout]
# delete slapos.rebootstrap as we use python from the host
extensions =
  slapos.extension.strip
  slapos.extension.shared

extends =
  mca--static.cfg

parts =
  fluentbit-plugin-wendelin
  mca

[python2.7]
recipe =
environment =
location = /usr

[python3]
recipe =
environment =
location = /usr

[golang1.17]
recipe  = plone.recipe.command
command = ${:location}/bin/go env -w GOPATH=${buildout:directory}/go
environment =
location = /usr

[cmake]
recipe =
environment =
location = /usr
