[buildout]

extends =
  https://lab.nexedi.com/nexedi/slapos/raw/07021e01b6ba9b3aee1eb7e1b4c1b68f44272193/software/neoppod/software-common.cfg

parts +=
  template

[directory]
recipe = slapos.cookbook:mkdirectory
home = ${buildout:directory}
config = ${:home}/config

parts +=
# NEO instanciation
    template

[instance-neo-storage-sqlite]
<= download-base-neo
md5sum = 5f0b84fb9644b76722655b1b50ed5ed5 
url = ${:_profile_base_location_}/${:_buildout_section_name_}.cfg.in

[instance-slave-db]
<= download-base-neo
md5sum = 417bde0fe84ac8322d17b1dd340e5f01 
url = ${:_profile_base_location_}/${:_buildout_section_name_}.json.in

[instance-simcarddb-cluster]
<= download-base-neo
md5sum = 8033c8256ac94c9896af3d4c7a19b015 
url = ${:_profile_base_location_}/${:_buildout_section_name_}.cfg.in

[store.py.in]
<= download-base-neo
md5sum = 6c18e41bdd5c5ddc1f91061f608e7e6b 
url = ${:_profile_base_location_}/${:_buildout_section_name_}

[template]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance.cfg.in
md5sum = 2f43e6637c5a7bb8fa1340f2037a511a 
# XXX: "template.cfg" is hardcoded in instanciation recipe
rendered = ${buildout:directory}/template.cfg
context =
    key bin_directory buildout:bin-directory
    key instance_common_cfg instance-common:rendered
    key neo_storage_sqlite instance-neo-storage-sqlite:target
    key cluster instance-simcarddb-cluster:target
    key neo_cluster cluster:target
    key store_py_in store.py.in:target
    key root_common root-common:target
    key instance_slave_db_json instance-slave-db:target

[cluster]
<= download-base-neo
md5sum = ee8401a4e7d82bf488a57e3399f9ce48

[neoppod]
interpreter = pythonwitheggs
