[buildout]
parts =
  copy-scripts
  occi

eggs-directory = ${buildout:eggs-directory}
develop-eggs-directory = ${buildout:develop-eggs-directory}
offline = true

#[url]
#recipe = slapos.cookbook:publishurl
#url = 

[occi]
recipe = slapos.cookbook:occi

# Options
userid = $${slap-parameter:userid}
password = $${slap-parameter:password}
domain = $${slap-parameter:domain}
os-config = $${pocdirectory:poc}/os-config.xml

# Paths
manifest = ${occi-manifest:location}/${occi-manifest:filename}
manifest-destination = ${pocdirectory:poc}/manifest.xml

# Binary information
accords = ${accords:location}/bin/parser
parser = ${accords:location}/bin/parser
broker = ${accords:location}/bin/broker

[rootdirectory]
recipe = slapos.cookbook:mkdirectory
etc = $${buildout:directory}/etc/
var = $${buildout:directory}/var/
srv = $${buildout:directory}/srv/
bin = $${buildout:directory}/bin/

[basedirectory]
recipe = slapos.cookbook:mkdirectory
log = $${rootdirectory:var}/log/
services = $${rootdirectory:etc}/run/
run = $${rootdirectory:var}/run/
backup = $${rootdirectory:srv}/backup/

[pocdirectory]
recipe = slapos.cookbook:mkdirectory
poc = $${rootdirectory:poc}/poc
rest = $${rootdirectory:poc}/poc/rest
service = $${rootdirectory:poc}/poc/service
security = $${rootdirectory:poc}/poc/security

[copy-scripts]
recipe = slapos.cookbook:symbolic.link
target-directory = $${pocdirectory:poc}
file-list = 
  ${accord-source:location}/scripts/accords
  ${accord-source:location}/scripts/accords-config
  ${accord-source:location}/scripts/co-broker
  ${accord-source:location}/scripts/co-command
  ${accord-source:location}/scripts/co-parser
  ${accord-source:location}/scripts/cords_user.xml
  ${accord-source:location}/scripts/co-resolver
  ${accord-source:location}/scripts/co-start
  ${accord-source:location}/scripts/co-status
  ${accord-source:location}/scripts/co-stop
  ${accord-source:location}/scripts/run-azprocci
  ${accord-source:location}/scripts/run-broker
  ${accord-source:location}/scripts/run-coees 
  ${accord-source:location}/scripts/run-coes
  ${accord-source:location}/scripts/run-coips 
  ${accord-source:location}/scripts/run-comons
  ${accord-source:location}/scripts/run-conets
  ${accord-source:location}/scripts/run-coobas
  ${accord-source:location}/scripts/run-cosacs
  ${accord-source:location}/scripts/run-coss
  ${accord-source:location}/scripts/run-ezvm 
  ${accord-source:location}/scripts/run-fileserver
  ${accord-source:location}/scripts/run-onprocci 
  ${accord-source:location}/scripts/run-osprocci 
  ${accord-source:location}/scripts/run-parser 
  ${accord-source:location}/scripts/run-procci 
  ${accord-source:location}/scripts/run-publisher
