[buildout]
extends =
  ../../stack/slapos.cfg
  ../../stack/monitor/buildout.cfg
  ../../component/cmake/buildout.cfg
  ../../component/git/buildout.cfg
  ../../component/golang/buildout.cfg
  ../../component/ninja/buildout.cfg
  ../../component/gcc/buildout.cfg


# buildout.hash.cfg

parts =
  cmake
  git
  gcc-10.5
  ninja
  ollama-build
  slapos-cookbook


[golang]
<= golang1.23

[ollama-repository]
recipe = slapos.recipe.build:gitclone
git-executable = ${git:location}/bin/git
repository = https://github.com/ollama/ollama.git
revision = 0.6.8
init-submodules = true

[ollama-build]
recipe = slapos.recipe.cmmi
path = ${ollama-repository:location}
configure-command = ${cmake:location}/bin/cmake
configure-options = -B build
make-binary = ${cmake:location}/bin/cmake --build build
environment =
  PATH=${cmake:location}/bin:${git:location}/bin:${gcc-10.5:location}/bin:${ninja:location}/bin:${buildout:bin-directory}:%(PATH)s
  CC=${gcc-10.5:location}/bin/gcc
  CXX=${gcc-10.5:location}/bin/g++
  CGO_ENABLED=1
