# libnbd - NBD (Network Block Device) client library
# https://gitlab.com/nbdkit/libnbd
# Required by ceph's librbd build since Tentacle (20.x) for rbd-nbd support.

[buildout]
extends =
  ../gnutls/buildout.cfg
  ../pkgconfig/buildout.cfg
parts =
  libnbd

[libnbd]
recipe = slapos.recipe.cmmi
shared = true
url = https://download.libguestfs.org/libnbd/1.24-stable/libnbd-1.24.3.tar.gz
md5sum = e4a629c210b38c4e2abf8a9be3fd1b50
configure-options =
  --disable-static
  --disable-fuse
  --disable-ublk
  --disable-ocaml
  --disable-python
  --disable-golang
  --disable-rust
  --without-libxml2
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${gnutls:location}/lib/pkgconfig:${gnutls:pkg-config-path}
  LDFLAGS=-Wl,-rpath=${gnutls:location}/lib
