[buildout]
extends =
  ../pcre/buildout.cfg
  ../zlib/buildout.cfg

parts = nginx

[nginx]
recipe = hexagonit.recipe.cmmi
url = http://nginx.org/download/nginx-1.0.14.tar.gz
configure-options=
  --with-ld-opt="-L ${pcre:location}/lib  -Wl,-rpath=${pcre:location}/lib -Wl,-rpath=${zlib:location}/lib"
  --with-cc-opt="-I ${pcre:location}/include"

