[buildout]
extends =
  ../../stack/slapos.cfg

# stacks are listed from most generic to most specific,
# to avoid versioning issues

parts =
  slapos-cookbook-develop
  template
  eggs
  template-cdn-request

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
md5sum = a91fe7c80720d57c2acbf606a6a0d84d
mode = 0644

[template-cdn-request]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-cdn-request.cfg
output = ${buildout:directory}/template-cdn-request.cfg
md5sum = 4c5ad2a5e9c4364588e1e4212ed8d1aa
mode = 0644

[slapos.cookbook-repository]
branch = request.product

[eggs]
recipe = z3c.recipe.scripts
eggs =
  collective.recipe.environment
  cns.recipe.symlink
  erp5.util
  lock-file
  plone.recipe.command
  slapos.recipe.build
  ${slapos-cookbook:eggs}