[buildout]
parts =
  pylint
  astroid
extends =
  ../patch/buildout.cfg

[astroid]
recipe = zc.recipe.egg:custom
egg = astroid
patches =
  ${:_profile_base_location_}/astroid-six_moves_import_error.patch#377beb0c50f52b9608bb6be7bf93096e
patch-options = -p1
patch-binary = ${patch:location}/bin/patch

[astroid:python3]
setup-eggs = ${lazy-object-proxy:egg}

[lazy-object-proxy]
recipe = zc.recipe.egg:custom
egg = lazy-object-proxy
setup-eggs =
  ${setuptools-scm:egg}
  typing-extensions
  tomli

[setuptools-scm]
recipe = zc.recipe.egg:custom
egg = setuptools-scm
setup-eggs = packaging

[mccabe]
recipe = zc.recipe.egg:custom
egg = mccabe
setup-eggs = pytest-runner

[pylint]
recipe = zc.recipe.egg:custom
egg = pylint
patches =
  ${:_profile_base_location_}/pylint-super_on_old_class.patch#cb0c3f8c091bf4980be395c917edc435
  ${:_profile_base_location_}/pylint-redefining-builtins-modules.patch#043defc6e9002ac48b40e078797d4d17
patch-options = -p1
patch-binary = ${patch:location}/bin/patch

[pylint:python3]
recipe = zc.recipe.egg
patches =

[mccabe:python3]
recipe = zc.recipe.egg
patches =
setup-eggs =

[astroid:python3]
recipe = zc.recipe.egg
