[buildout]
parts =
  pylint
  astroid
extends =
  ../patch/buildout.cfg

[astroid]
recipe = zc.recipe.egg:custom
egg = astroid
patches =
  ${:_profile_base_location_}/astroid-six_moves_import_error.patch#35f50b5434c5c2c73b9cc206d87f3371
  ${:_profile_base_location_}/0001-Always-consider-absolute_import-for-ERP5-component-m.patch#201dfa59960187c0530d2fc7e0f2de42
patch-options = -p1
patch-binary = ${patch:location}/bin/patch

[pylint]
recipe = zc.recipe.egg:custom
egg = pylint
patches =
  ${:_profile_base_location_}/pylint-super_on_old_class.patch#49935b4af0a9b26558175d7ba3bff649
  ${:_profile_base_location_}/pylint-redefining-builtins-modules.patch#bbf4c2783e4a9d36a76d08170e4298a1
patch-options = -p1
patch-binary = ${patch:location}/bin/patch
