[buildout]
extends =
  ../xz-utils/buildout.cfg
  ../libtirpc/buildout.cfg

[libnsl]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/thkukuk/libnsl/releases/download/v2.0.0/libnsl-2.0.0.tar.xz
md5sum = 1e8c0615071ea13202452304de1eaab9
environment =
  CFLAGS=-I${libtirpc:location}/include
  LDFLAGS=-L${libtirpc:location}/lib -Wl,-rpath=${libtirpc:location}/lib
  PATH=${xz-utils:location}/bin:%(PATH)s
