[buildout]
extends =
  ../xz-utils/buildout.cfg
parts =
  m4

[m4]
recipe = slapos.recipe.cmmi
shared = true
url = https://ftp.gnu.org/gnu/m4/m4-1.4.20.tar.xz
md5sum = 6eb2ebed5b24e74b6e890919331d2132
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
