# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance]
filename = instance.cfg.in
md5sum = b50fc416f25d6e0503cdd7ed1cd48314

[instance-apache-php]
filename = instance-apache-php.cfg.in
md5sum = 5212aed6c82876509eae9eda0975ffa1

[instance-lamp]
filename = instance-lamp.cfg.jinja2.in
md5sum = 39e765fca5fcd92cb9fa13cd2b4d95fd

[template-apache.conf]
filename = apache.conf.in
md5sum = 04080510698732d84122b464fdb08c6a

[template-php.ini]
filename = php.ini.in
md5sum = 7de35e3f8619324119ff296580d2880f
