[buildout]
find-links +=
    http://www.nexedi.org/static/packages/source/slapos.buildout/

parts =
  apache-php
  mariadb
  mydumper
  mysql-python
  rdiff-backup
  dropbear
  eggs
  instance-recipe-egg
  template
  template-apache-php
  template-mariadb
  template-mariadb-pbsready
  template-mariadb-pbsready-import
  template-mariadb-pbsready-export

allow-hosts =
  *.nexedi.org
  *.python.org
  *.sourceforge.net
  alastairs-place.net
  dist.repoze.org
  effbot.org
  github.com
  peak.telecommunity.com
  psutil.googlecode.com
  www.dabeaz.com
  launchpad.net

extends =
  ../shacache-client.cfg
  ../../component/mariadb/buildout.cfg
  ../../component/apache/buildout.cfg
  ../../component/apache-php/buildout.cfg
  ../../component/dcron/buildout.cfg
  ../../component/git/buildout.cfg
  ../../component/glib/buildout.cfg
  ../../component/logrotate/buildout.cfg
  ../../component/python-2.7/buildout.cfg
  ../../component/perl/buildout.cfg
  ../../component/sqlite3/buildout.cfg
  ../../component/lxml-python/buildout.cfg
  ../../component/zlib/buildout.cfg
  ../../component/rdiff-backup/buildout.cfg
  ../../component/gzip/buildout.cfg
  ../../component/stunnel/buildout.cfg
  ../../component/mydumper/buildout.cfg
  ../../component/mysql-python/buildout.cfg
  ../../component/dropbear/buildout.cfg
  ../../component/gunicorn/buildout.cfg

versions = versions

[mariadb]
# Compile dir is for plugins, there's no plugin in LAMP
keep-compile-dir = false

[instance-recipe]
egg = slapos.cookbook
module = lamp.request

[instance-recipe-egg]
recipe = zc.recipe.egg
#python = python2.7
eggs = ${instance-recipe:egg}

[application]
recipe = hexagonit.recipe.download
#If provided tarball does not containt top directory this option shall be changed to false
strip-top-level-dir = true

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
md5sum = bcb2af107e4063c03f4cfff4add54410
mode = 0644

[template-down]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-down.cfg
output = ${buildout:directory}/template-down.cfg
md5sum = ccb8f1d3526db9841304b19917b5b7d3
mode = 0644

[template-apache-php]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-apache-php.cfg
output = ${buildout:directory}/template-apache-php.cfg
md5sum = e2b116cb97c99a19124a07f521d2ac5a
mode = 0644

[template-apache-backup]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-apache-backup.cfg
output = ${buildout:directory}/template-apache-backup.cfg
md5sum = bb304cefde1f981f91b8ad08eb14d3a8
mode = 0644

[template-backuped]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-backuped.cfg
output = ${buildout:directory}/template-backuped.cfg
md5sum = d2e4cdda25ee5e5a7b147e0c22f5d341
mode = 0644

[template-mariadb]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-mariadb.cfg
output = ${buildout:directory}/template-mariadb.cfg
md5sum = 70ab558c2e925c3627c39fbc20a7501c
mode = 0644

[template-mariadb-pbsready]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-mariadb-pbsready.cfg
output = ${buildout:directory}/template-mariadb-pbsready.cfg
md5sum = a55976b334cf2042b9182634a20fa25a
mode = 0644

[template-mariadb-pbsready-import]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-mariadb-pbsready-import.cfg
output = ${buildout:directory}/template-mariadb-pbsready-import.cfg
md5sum = 693745df17f339eadf8ada55ae0b88fb
mode = 0644

[template-mariadb-pbsready-export]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-mariadb-pbsready-export.cfg
output = ${buildout:directory}/template-mariadb-pbsready-export.cfg
md5sum = a3426f38c1e327a8d7d76d151e5d978d
mode = 0644

[template-pull-backup]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-pull-backup.cfg
output = ${buildout:directory}/template-pull-backup.cfg
md5sum = 9af6bb88c876d3920da1c1c30cea171f
mode = 0644

[eggs]
recipe = zc.recipe.egg
eggs =
  ${gunicorn:eggs}
  ${lxml-python:egg}
  slapos.toolbox
