[buildout]
extends =
  ../libxml2/buildout.cfg
  ../zlib/buildout.cfg

parts =
  libxslt

[libxslt]
url = https://download.gnome.org/sources/libxslt/1.1/libxslt-1.1.37.tar.xz
md5sum = 84e86fc8a1b7495674016e05e4c5da44
recipe = slapos.recipe.cmmi
shared = true
# --disable-static is temporarilly removed due to build error
# with xml2-config that does not support '--dynamic' argument.
configure-options =
  --with-libxml-prefix=${libxml2:location}
  --without-crypto
  --without-python
  --without-debug
  --without-debugger
environment =
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
