[buildout]
extends =
  ../libxml2/buildout.cfg
  ../zlib/buildout.cfg

parts =
  libxslt

[libxslt]
recipe = slapos.recipe.cmmi
shared = true
url = ftp://xmlsoft.org/libxslt/libxslt-1.1.32.tar.gz
md5sum = 1fc72f98e98bf4443f1651165f3aa146
configure-options =
  --disable-static
  --with-libxml-prefix=${libxml2:location}
  --without-crypto
  --without-python
  --without-debug
  --without-debugger
environment =
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
