# This is part of the OCEAN project.
# Plugin for fluent-bit to send data to Wendelin:
# https://lab.nexedi.com/nexedi/fluentbit-plugin-wendelin

[buildout]
extends =
  ../golang/buildout.cfg

parts =
  fluentbit-plugin-wendelin

[fluentbit-plugin-wendelin]
recipe = slapos.recipe.cmmi
share = true
url = https://lab.nexedi.com/nexedi/fluentbit-plugin-wendelin/-/archive/v0.2/fluentbit-plugin-wendelin-v0.2.tar.gz
md5sum = 4985017f5575528240bf5cd5b148396b
configure-command = echo "No configure command."
environment =
  PATH=${golang1.17:location}/bin:%(PATH)s
  PREFIX=@@LOCATION@@
