[buildout]
parts =
  liburing

[liburing]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/axboe/liburing/archive/refs/tags/liburing-2.1.tar.gz
md5sum = 78f13d9861b334b9a9ca0d12cf2a6d3c
