# This file is deprecated. Please use stack/slapos.cfg instead.
[buildout]
networkcache-section = networkcache

[networkcache]
download-cache-url = http://www.shacache.org/shacache
download-dir-url = http://www.shacache.org/shadir
