[buildout]
extends = slapos.cfg

[python]
part = python2.7

[openssl]
<= openssl-1.1

# Use Python2-compatible versions of zc.buildout dependencies from the start.
# These versions must be pinned unconditionally because slapos.rebootstrap
# will necessarily keep the same versions of zc.buildout and dependencies
# with the new Python. This is an intrisic limitation of slapos.rebootstrap.
[versions]
setuptools = 44.1.1
pip = 20.3.3
# Avoid https://github.com/pypa/wheel/issues/331
wheel = 0.33.6
