# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template]
filename = instance.cfg
md5sum = 7a190c81a88927e5099d3af97b42ec92

[template-monitor]
_update_hash_filename_ = instance-monitor.cfg.jinja2
md5sum = 596722194085744dfc1bbebe20dafafb

[json-test-template]
_update_hash_filename_ = json-test-template.json.in.jinja2
md5sum = 2eb5596544d9c341acf653d4f7ce2680

[template-monitor-edgetest]
_update_hash_filename_ = instance-monitor-edgetest.cfg.jinja2
md5sum = 7cd46951e8a1e38215675bcfe9933b17

[template-monitor-edgebot]
_update_hash_filename_ = instance-monitor-edgebot.cfg.jinja2
md5sum = 76dee9ddf0fc3b4d358d8cdaf64734e8

[network-bench-cfg]
filename = network_bench.cfg.in
md5sum = cfcbf2002b8eff5153e2bf68ed24b720

[monitor-collect-csv-dump]
filename = script/collect_csv_dump.py
md5sum = cad2402bbd21907cfed6bc5af8c5d3ab

[template-surykatka-ini]
_update_hash_filename_ = surykatka.ini.jinja2
md5sum = d630c31c7ae0f354afb39de06a7a0cbf

[surykatka-analyzer]
_update_hash_filename_ = surykatka_analyzer.py
md5sum = 6c6653fad517c90a3e8b4d9bab051ba7
