{%- if slap_software_type == software_type %}
{%- set CONFIGURATION = {} %}
{%- for k, v in slap_configuration.items() %}
{%-   if k.startswith('configuration.') %}
{%-     do CONFIGURATION.__setitem__(k[14:], v) %}
{%-   endif %}
{%- endfor %}
{%- set slave_instance_list = [] %}
{%- set extra_slave_instance_list = slapparameter_dict.get('extra_slave_instance_list') %}
{%- if extra_slave_instance_list %}
{#- Create slaves to process with setting up defaults #}
{%-   for slave in json_module.loads(extra_slave_instance_list) %}
{%-   if 'check_http_code' not in slave %}
{%-     do slave.__setitem__('check_http_code', CONFIGURATION['check_http_code']) %}
{%-   endif %}
{%-   if 'check_frontend_ip' not in slave %}
{%-     do slave.__setitem__('check_frontend_ip', CONFIGURATION['check_frontend_ip']) %}
{%-   endif %}
{%-   do slave_instance_list.append(slave) %}
{%-   endfor %}
{%- endif %}
{%- set part_list = [] %}
{%- for slave in slave_instance_list %}
{%-   set part_id = slave['slave_reference'] ~ '-promise' %}
{%-   do part_list.append(part_id) %}
{%-   set safe_name = part_id.replace('_', '').replace('.', '-').replace(' ', '-') %}
[{{part_id}}]
<= monitor-promise-base
# XXX TODO: configure anomaly time
module = check_command_execute
name = {{ safe_name }}.py
config-command =
  ${surykatka-analyzer:wrapper-path} http_query {{ slave['url'] }} {{ slave['check_http_code'] }} {{ slave['check_frontend_ip'] }}
{% endfor %}

[surykatka-bot-promise]
<= monitor-promise-base
# XXX TODO: configure anomaly time
module = check_command_execute
name = surykatka-bot-promise.py
config-command =
  ${surykatka-analyzer:wrapper-path} bot_status

[buildout]
extends = {{ monitor_template_output }}

parts =
  cron
  cron-entry-surykatka-status
  monitor-base
  publish-connection-information
  surykatka
  surykatka-bot-promise
{% for part_id in part_list %}
  {{ part_id }}
{% endfor %}

eggs-directory = {{ eggs_directory }}
develop-eggs-directory = {{ develop_eggs_directory }}
offline = true

[surykatka-config]
recipe = slapos.recipe.template:jinja2
db = ${directory:srv}/surykatka.db
rendered = ${directory:etc}/suryakatka.ini
template = {{ template_surykatka_ini }}
slave_instance_list = {{ dumps(slave_instance_list) }}
dns = {{ dumps(CONFIGURATION['dns']) }}
json = ${directory:srv}/surykatka.json

context =
  import json_module json
  key db :db
  key dns :dns
  key slave_instance_list :slave_instance_list

[surykatka]
recipe = slapos.cookbook:wrapper
config = ${surykatka-config:rendered}
command-line =
  {{ surykatka_binary }} --run crawl --reload --configuration ${:config}
wrapper-path = ${monitor-directory:service}/${:_buildout_section_name_}

[surykatka-status]
recipe = slapos.cookbook:wrapper
command-line =
  {{ surykatka_binary }} --run status --configuration ${surykatka:config} --output json
wrapper-path = ${monitor-directory:bin}/${:_buildout_section_name_}

[cron-entry-surykatka-status]
recipe = slapos.cookbook:cron.d
cron-entries = ${directory:etc}/cron.d
name = surykatka-status
frequency = */2 * * * *
command = ${surykatka-status:wrapper-path} > ${surykatka-config:json}

[surykatka-analyzer]
recipe = slapos.cookbook:wrapper
command-line =
  ${buildout:executable} {{ surykatka_analyzer }} ${surykatka-config:json}
wrapper-path = ${monitor-directory:bin}/${:_buildout_section_name_}

[publish-connection-information]
recipe = slapos.cookbook:publish.serialised
monitor-base-url = ${monitor-publish-parameters:monitor-base-url}
monitor-url = ${monitor-publish-parameters:monitor-url}
monitor-user = ${monitor-publish-parameters:monitor-user}
monitor-password = ${monitor-publish-parameters:monitor-password}

[monitor-instance-parameter]
monitor-httpd-port = {{ slapparameter_dict['monitor-httpd-port'] }}
cors-domains = {{ slapparameter_dict.get('monitor-cors-domains', 'monitor.app.officejs.com') }}
{% if slapparameter_dict.get('monitor-username', '') -%}
username = {{ slapparameter_dict['monitor-username'] }}
{% endif -%}
{% if slapparameter_dict.get('monitor-password', '') -%}
password = {{ slapparameter_dict['monitor-password'] }}
{% endif -%}
interface-url = {{ slapparameter_dict.get('monitor-interface-url', 'https://monitor.app.officejs.com') }}


[monitor-directory]
service = ${buildout:directory}/etc/service
var = ${buildout:directory}/var
srv = ${buildout:directory}/srv
server-log = ${:private}/server-log
monitor-log = ${:private}/monitor-log
cache = ${:var}/cache
mod-ssl = ${:cache}/httpd_mod_ssl

[python-symlink]
recipe = plone.recipe.command
command = ln -sf {{ buildout_bin }}/pythonwitheggs ${monitor-directory:bin}/python
update-command = ${:command}

[slap-configuration]
recipe = slapos.cookbook:slapconfiguration.serialised
computer = ${slap-connection:computer-id}
partition = ${slap-connection:partition-id}
url = ${slap-connection:server-url}
key = ${slap-connection:key-file}
cert = ${slap-connection:cert-file}

[slap-parameter]
{%- endif %}
