[SURYKATKA]
INTERVAL = 120
TIMEOUT = {{ timeout }}
SQLITE = {{ db }}
{%- set nameserver_list = nameserver.split() %}
{%- if len(nameserver_list) > 0 %}
NAMESERVER =
{%-   for nameserver_entry in sorted(nameserver_list) %}
  {{ nameserver_entry }}
{%-   endfor %}
{% endif %}
URL =
{%- for slave in slave_instance_list | sort(attribute='slave_title') %}
{%-   if 'url' in slave %}
  {{ slave['url'] }}
{%-   endif -%}
{% endfor %}

