[buildout]
extends =
  ../numpy/openblas.cfg
  ../matplotlib/buildout.cfg
  ../ipython/buildout.cfg
  ../python-pyzmq/buildout.cfg
  ../python-2.7/buildout.cfg
  ../scipy/buildout.cfg
  ../scikit-learn/buildout.cfg
  ../pandas/buildout.cfg
  ../seaborn/buildout.cfg

parts =
  jupyter

[jupyter-env]
<= numpy-env

[jupyter]
recipe = zc.recipe.egg:scripts
eggs =
# jupter base egg
  jupyter
# explicit eggs to generate scripts from them
  jupyter_client
  jupyter_console
  jupyter_core
  nbconvert
  nbformat
  notebook
# additional eggs
  requests
  astor
  ${matplotlib:egg}
  ${scipy:egg}
  ${pandas:egg}
  ${scikit-learn:egg}
  ${seaborn:egg}
  ${statsmodels:egg}
  patsy

interpreter = pythonjupyter

environment = jupyter-env
setup-eggs =
  ${numpy:egg}
  ${python-pyzmq:egg}
  ${ipython:egg}
