[buildout]
extends = 
  ../gmp/buildout.cfg
  ../xz-utils/buildout.cfg

[mpfr]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/mpfr/mpfr-3.1.3.tar.xz
md5sum = 6969398cd2fbc56a6af570b5273c56a9
configure-options =
  --with-gmp=${gmp:location}
  --disable-static
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
  LDFLAGS=-Wl,-rpath=${gmp:location}/lib