[buildout]
extends =
  ../gmp/buildout.cfg
  ../m4/buildout.cfg
  ../patch/buildout.cfg

[nettle]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/nettle/nettle-3.3.tar.gz
md5sum = 10f969f78a463704ae73529978148dbe
patches =
  ${:_profile_base_location_}/nettle-lib-location.patch#3c5f5b285ffd5bc30436ee0f4c662084
configure-option =
  --disable-static
  --disable-assembler
  --disable-openssl
  --disable-documentation
environment =
  PATH=${m4:location}/bin:${patch:location}/bin:%(PATH)s
  CPPFLAGS=-I${gmp:location}/include
  LDFLAGS=-L${gmp:location}/lib -Wl,-rpath=${gmp:location}/lib -Wl,-rpath=${buildout:parts-directory}/${:_buildout_section_name_}/lib
