[buildout]
extends =
  ../gettext/buildout.cfg
  ../ncurses/buildout.cfg
parts =
  bash

[bash]
recipe = slapos.recipe.cmmi
shared = true
url = https://ftp.gnu.org/pub/gnu/bash/bash-5.2.37.tar.gz
md5sum = 9c28f21ff65de72ca329c1779684a972
environment =
  CPPFLAGS=-I${ncurses:location}/include
  LDFLAGS=-L${ncurses:location}/lib -Wl,-rpath=${ncurses:location}/lib
  PATH=${gettext:location}/bin:%(PATH)s
