# SlapOS component for wendelin.core

[buildout]
extends =
  ../pygolang/buildout.cfg
  ../ZODB/buildout.cfg
  ../zodbtools/buildout.cfg
  ../numpy/buildout.cfg
  ../golang/buildout.cfg
  ../zlib/buildout.cfg
  ../git/buildout.cfg

parts =
  wendelin.core


# wendelin.core is installed from git checkout
[wendelin.core]
recipe = zc.recipe.egg:develop
setup = ${wendelin.core-repository:location}
egg = wendelin.core
setup-eggs =
    ${pygolang:egg}[pyx.build]
environment = wendelin.core-env

# dependent eggs that must come through in-tree recipes
depends =
    ${ZODB:egg}
    ${zodbtools:egg}
    ${numpy:egg}


[wendelin.core-env]
# wendelin.core needs git(dev) and go to build
PATH = ${git:location}/bin:%(PATH)s
GO   = ${go:exe}

# wcfs needs this:
[gowork]
cpkgpath += ${zlib:location}/lib/pkgconfig
[wendelin.core-env]
# `pkg-config --libs zlib` emits only -L, but not -Wl,-rpath
# better set it via gowork:environment when "VAR += ..." support is there
# environment +=
#   CGO_LDFLAGS += -Wl,-rpath=${zlib:location}/lib
CGO_LDFLAGS += -Wl,-rpath=${zlib:location}/lib


[wendelin.core-repository]
recipe  = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/wendelin.core.git
branch   = master
revision = wendelin.core-2.0.alpha3-7-g885b355
# dir is pretty name as top-level recipe
location = ${buildout:parts-directory}/wendelin.core
git-executable = ${git:location}/bin/git
