# SlapOS component for wendelin.core

[buildout]
extends =
  ../pygolang/buildout.cfg
  ../numpy/buildout.cfg
  ../git/buildout.cfg

parts =
  wendelin.core


# wendelin.core installed from released egg from pypi
[wendelin.core]
recipe = zc.recipe.egg:custom
<= wendelin.core-eggcommon

# wendelin.core installed from latest git version
[wendelin.core-dev]
recipe = zc.recipe.egg:develop
setup = ${wendelin.core-repository:location}
<= wendelin.core-eggcommon

# common parts in between wendelin.core and wendelin.core-dev
[wendelin.core-eggcommon]
egg = wendelin.core
setup-eggs =
    ${pygolang:egg}[pyx.build]
environment = wendelin.core-env

# dependent eggs that must come through in-tree recipes
depends =
    ${numpy:egg}


[wendelin.core-env]
# wendelin.core needs git(dev) to build
PATH = ${git:location}/bin:%(PATH)s


[wendelin.core-repository]
recipe  = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/wendelin.core.git
# dir is pretty name as top-level -dev recipe
location = ${buildout:parts-directory}/wendelin.core-dev
git-executable = ${git:location}/bin/git
