# SlapOS software release to test wendelin.core on Nexedi testing infrastructure.
# Common parts.

[buildout]
extends =
    ../../stack/erp5/buildout.cfg
    ../../software/neoppod/software.cfg

    ../pytest/buildout.cfg
    ../scipy/buildout.cfg
    ../gdb/buildout.cfg
    ../../stack/nxdtest.cfg
    buildout.cfg

parts =
# keep neoppod first and in parts so that ZODB is built correctly
    neoppod-develop
    neoppod

#   for instance
    wendelin.core-python
    slapos-cookbook
    instance.cfg


# test-dependent eggs that must come through in-tree recipes.
[wendelin.core]
depends +=  ${scipy:egg}


# bin/python is python interpreter with wendelin.core and all other eggs.
[wendelin.core-python]
<= python-interpreter
eggs =
    ${wendelin.core:egg}[test]
    ${pygolang:egg}[pyx.build]
    neoppod[tests]
    ${ZEO:egg}[test]

# env.sh for that python + go to be on $PATH
[wendelin.core-env.sh]
recipe   = slapos.recipe.template
output = ${buildout:directory}/${:_buildout_section_name_}
inline =
  . ${gowork:env.sh}
  export PS1="(wendelin.core-env) $PS1"
  export PATH=${buildout:bin-directory}:${gdb:location}/bin:$PATH

# instance to run nxdtest.
[instance.cfg]
<= jinja2-template
inline =
  [buildout]
  extends = ${nxdtest-instance.cfg:output}

  [runTestSuite]
  env.sh  = ${wendelin.core-env.sh:output}
  workdir = ${wendelin.core-repository:location}


[versions]
neoppod = 1.12.0
random2 = 1.0.1
