[buildout]
extends =
  ../gettext/buildout.cfg
  ../libffi/buildout.cfg
  ../perl/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg
parts =
  glib

[glib]
recipe = slapos.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/glib/2.38/glib-2.38.2.tar.xz
md5sum = 26d1d08e478fc48c181ca8be44f5b69f
configure-options =
  --disable-static
  --disable-selinux
  --disable-fam
  --disable-xattr
  --disable-man
environment =
  PATH=${gettext:location}/bin:${perl:location}/bin:${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${gettext:location}/include -I${zlib:location}/include
  LDFLAGS=-L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib
  LIBFFI_CFLAGS=-I${libffi:location}/include
  LIBFFI_LIBS= -L${libffi:location}/lib -Wl,-rpath=${libffi:location}/lib -lffi

[x86-cygwin-glib]
patches =
  ${:_profile_base_location_}/cygwin-glib-2.28.8-src.patch
