[buildout]
extends =
  software-common.cfg

parts =
  ${cloudooo-buildout:parts}
  template-cloudooo

[cloudooo-software-parameter-dict]
publish-url-name = cloudooo
port-parameter-name = tcpv4-port
port = 8000
backend-count-parameter-name = backend-count
backend-count = 1
timeout-parameter-name = timeout
# timeout in seconds
timeout = 600
ssl-dict-parameter-name = ssl
#ssl-dict =
mimetype-entry-addition-parameter-name = mimetype-entry-addition
#mimetype-entry-addition =
#  text/html application/pdf wkhtmltopdf

# Test Suite: CLOUDOOO-MASTER ran at 2017/06/30 10:55:2.489921 UTC
#             0 failures, 2 errors, 200 total, status: FAIL

[slapos-cookbook.repository]
revision = da3690faa104981961d426d69f81fb158ab81170


[cloudooo-repository]
branch = master
revision = 290f92fb700c6e04b515140cc45dcac1b4de18cc
