[buildout]
extends =
  ../patch/buildout.cfg
  ../perl/buildout.cfg
parts =
  perl-Encode-HanExtra

[perl-Encode-HanExtra]
<= perl-CPAN-package
module = Encode/Encode-HanExtra
version = 0.23
md5sum = e1d3bc32c1c8ee304235a06fbcd5d5a4

install-inc = .
patch-options = -p1
patches =
  ${:_profile_base_location_}/Encode-HanExtra-0.23_use_shebang.patch#4ac804013a68a3e6b7c3bc4115d25a5e
environment =
  PATH=${patch:location}/bin:%(PATH)s
