# Production profile of slapos-in-partition
# Exactly the same as common.cfg, but:
# 1/ Use a defined set of Python eggs instead of using the latest available
#    ones from Pypi, to ensure stability;
# 2/ Define list of trusted certificates for the cache.

[buildout]
extends = common.cfg

[versions]
Pygments = 1.6
collective.recipe.environment = 0.2.0
collective.recipe.template = 1.10
slapos.recipe.download = 1.0.dev-r4053
slapos.recipe.template = 2.5
