[buildout]
extends =
  ../zlib/buildout.cfg

parts = protobuf

[protobuf]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/google/protobuf/releases/download/v3.4.0/protobuf-python-3.4.0.tar.gz
md5sum = 0820cc2e56d71aef8e99794fcbd184cd
environment =
  LDFLAGS=-Wl,-rpath=${zlib:location}/lib

[protobuf-cpp]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/google/protobuf/releases/download/v3.4.0/protobuf-cpp-3.4.0.tar.gz
md5sum = 6d59dad503bea5ad420fd09ddad84481
environment =
  LDFLAGS=-Wl,-rpath=${zlib:location}/lib
