# MCA stands for Metadata Collect Agent
# https://lab.nexedi.com/nexedi/metadata-collect-agent

[buildout]
extends =
  ../../component/defaults.cfg
  ../../component/fmtlib/buildout.cfg
  ../../component/openssl/buildout.cfg

parts =
  mca

[mca]
recipe = slapos.recipe.cmmi
url = https://lab.nexedi.com/nexedi/metadata-collect-agent/-/archive/v0.2h-dev_buildout/metadata-collect-agent-v0.2h-dev_buildout.tar.gz
md5sum = f394ea9507d13a0b18f9485e70abaf32
configure-command = :
make-targets =
  no-dracut
  install-no-dracut
environment =
  PYTHON_PATH=${python3:location}
  PREFIX=@@LOCATION@@
  OPENSSL_PATH=${openssl:location}
  FMTLIB_PATH=${fmtlib:location}
