#!/bin/bash

VM_DIR={{ directory['srv'] }}
BACKUP_DIR={{ directory['backup'] }}
LC_ALL=C
export LC_ALL
umask 077

write_backup_proof () {
  cd {{ directory['backup'] }}
  find -type f ! -name backup.signature ! -wholename "./rdiff-backup-data/*" -print0 | xargs -0 sha256sum  | LC_ALL=C sort -k 66 > {{ directory['srv'] }}/proof.signature
  diff -ruw {{ directory['backup'] }} {{ directory['srv'] }}/proof.signature > {{ directory['srv'] }}/backup.diff
}

# For now we just make the diff before 
write_backup_proof

tmpdir=$(mktemp -d)
trap "rm -fr $tmpdir" EXIT TERM INT
cp -a $BACKUP_DIR $tmpdir
{{ qmprebase }} --dir $tmpdir/{{ device }}
# assert that restore went well and there is only one file
[ $(find $tmpdir/{{ device }} -type f -name 'FULL*qcow' | wc -l) -eq 1 ]
cp $tmpdir/{{ device }}/* $VM_DIR/virtual.qcow2
