[buildout]
extends =
  ../libxml2/buildout.cfg
  ../libxslt/buildout.cfg
  ../zlib/buildout.cfg

parts =
  lxml-python

[lxml-python-env]
PATH = ${libxslt:prefix}/bin:${zlib:prefix}/bin:%(PATH)s

[lxml-python]
recipe = zc.recipe.egg:custom
egg = lxml

rpath =
  ${libxml2:prefix}/lib/
  ${libxslt:prefix}/lib/
  ${zlib:prefix}/lib/
environment = lxml-python-env
