[buildout]
extends =
  ../bison/buildout.cfg
  ../flex/buildout.cfg

[libpcap]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = https://www.tcpdump.org/release/libpcap-1.10.1.tar.gz
md5sum = 28e17495004036567c2cc884b51eba45
environment =
  PATH=${bison:location}/bin:${flex:location}/bin:%(PATH)s
