[buildout]
extends = 
  ../cmake/buildout.cfg
  
parts = 
  llvm-make

[llvm]
recipe = hexagonit.recipe.download
url = http://llvm.org/releases/3.5.2/llvm-3.5.2.src.tar.xz
md5sum = f5a4dc595f7e8bd23397684d0906d014
destination = ${buildout:parts-directory}
path = ${buildout:parts-directory}/llvm-3.5.2.src

[clang]
recipe = hexagonit.recipe.download
url = http://llvm.org/releases/3.5.2/cfe-3.5.2.src.tar.xz
filename = cfe-3.5.2.src.tar.xz
md5sum = aba5d02251bf7845a2013d6bb0702ac7
destination = ${llvm:path}/tools
path = ${llvm:path}/tools/cfe-3.5.2.src

[llvm-cmake]
recipe = slapos.recipe.cmmi
# clang have to put in llvm/tools/clang dir
# and cannot build in place. So use cmake undocumented feature(-B, -H)
# to specify the source code path and build path
configure-command = $ [ -d ${:tools-clang} ] && rm -R ${:tools-clang} ||
  mv ${clang:path} ${:tools-clang} && \
  ${cmake:location}/bin/cmake \
  -B${buildout:parts-directory}/llvm-cmake \
  -H${llvm:path} \
  -DCMAKE_INSTALL_PREFIX=${:location}

tools-clang = ${llvm:path}/tools/clang
path = ${buildout:parts-directory}/llvm-cmake
location = ${buildout:parts-directory}/llvm

[llvm-make]
recipe = slapos.recipe.cmmi
path = ${llvm-cmake:path}