[buildout]
extends =
    ../cmake/buildout.cfg

parts =
  libdouble-conversion

[libdouble-conversion]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/google/double-conversion/archive/refs/tags/v3.3.0.tar.gz
md5sum = b344abb64084a4a1d98a43e67752989b
configure-command = cmake
configure-options =
  -Bbuild
  -DCMAKE_INSTALL_PREFIX=@@LOCATION@@
  -DDBUILD_SHARED_LIBS=ON
make-options = -C build
environment =
  PATH=${cmake:location}/bin:%(PATH)s
