[buildout]
extends =
  ../cmake/buildout.cfg

[json-c]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/json-c/json-c/archive/refs/tags/json-c-0.18-20240915.tar.gz
md5sum = 97f1a79151cae859983afbc46b40b92c
configure-command = mkdir build ; cd build ; ../cmake-configure
configure-options = --prefix=%(location)s -- -DCMAKE_POLICY_VERSION_MINIMUM=3.5
make-binary = cd build ; make
environment =
  PATH=${cmake:location}/bin:%(PATH)s
