[buildout]

extends =
  buildout.hash.cfg
  ../../component/dcron/buildout.cfg
  ../../component/logrotate/buildout.cfg
  ../../component/zabbix/buildout.cfg
  ../../stack/slapos.cfg

parts =
  slapos-cookbook
  template

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/template.cfg
