[buildout]
extends =
  ../../component/dcron/buildout.cfg
  ../../component/logrotate/buildout.cfg
  ../../component/zabbix/buildout.cfg
  ../../component/lxml-python/buildout.cfg

find-links = http://www.nexedi.org/static/packages/source/slapos.buildout/

versions = versions

parts =
  eggs
  template

[eggs]
recipe = zc.recipe.egg
eggs =
  ${lxml-python:egg}
  slapos.cookbook

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
md5sum = 98a680fe8fddce5dcee455e65c228fde
output = ${buildout:directory}/template.cfg
mode = 0644

[versions]
zc.buildout = 1.5.3-dev-SlapOS-001
