[buildout]
parts =
  lunzip

[lunzip]
recipe = slapos.recipe.cmmi
shared = true
url = http://download-mirror.savannah.gnu.org/releases/lzip/lunzip/lunzip-1.14.tar.gz
md5sum = e9ce0807c90d00cbf605c5b710adde91
