[buildout]
parts =
  lunzip

[lunzip]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = http://download-mirror.savannah.gnu.org/releases/lzip/lunzip/lunzip-1.13.tar.gz
md5sum = 4bc15e65fef99db64e27f4cd369ae02e
