[buildout]

parts =
  redis

[redis]
recipe = hexagonit.recipe.cmmi
url = https://github.com/teh/redis/archive/unstable.tar.gz
md5sum = b056f48c301004c80c23579ab337494a
configure-command = true
prefix = 
make-options =
  PREFIX=${buildout:parts-directory}/${:_buildout_section_name_}
  V=1
make-targets = 
  install
  test
