[buildout]

parts =
  redis

extends = ../tcl/buildout.cfg

[redis]
<= redis28

[redis28]
recipe = slapos.recipe.cmmi
url = http://download.redis.io/releases/redis-2.8.24.tar.gz
md5sum = 7b6eb6e4ccc050c351df8ae83c55a035
configure-command = true
prefix = 
make-options =
  PREFIX=${buildout:parts-directory}/${:_buildout_section_name_}
  V=1
make-targets = 
  install
  test
environment =
  PATH=${tcl:location}/bin:%(PATH)s
patch-options = -p1
patches =
  ${:_profile_base_location_}/0001-tests-Disable-replication-psync-for-now.patch#1ed899443ed70fce02d9b95f5e7ca046
