[buildout]
parts =
  noVNC

[noVNC]
recipe = slapos.recipe.build:download-unpacked
shared = true
url = https://github.com/novnc/noVNC/archive/refs/tags/v1.7.0.tar.gz
md5sum = 5b7fc1c06c57c5a0f40071173ec091c4
strip-top-level-dir = true
