[buildout]
parts =
  noVNC

[noVNC]
recipe = hexagonit.recipe.download
ignore-existing = true
# version-1.0.0 release on Feb 22, 2018
url = https://github.com/novnc/noVNC/archive/v1.0.0.tar.gz
md5sum = d63c2944abd12fecec6ec504e82f27c8
strip-top-level-dir = true
