[buildout]
extends =
  ../xz-utils/buildout.cfg
  ../tar/buildout.cfg
  ../perl/buildout.cfg

parts =
  libxcrypt

[libxcrypt-common]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/besser82/libxcrypt/releases/download/v${:package_version}/libxcrypt-${:package_version}.tar.xz
post-install = sed -i 's|/usr/local/lib|%(location)s/lib|' %(location)s/lib/libcrypt.la


[libxcrypt]
<= libxcrypt4.4

[libxcrypt4.4]
<= libxcrypt-common
version=4.4
package_version = 4.4.38
md5sum = 1796a5d20098e9dd9e3f576803c83000
