[buildout]
extends =
  ../xz-utils/buildout.cfg

parts = tar

[tar]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/tar/tar-1.29.tar.xz
md5sum = a1802fec550baaeecff6c381629653ef
environment =
  FORCE_UNSAFE_CONFIGURE=1
  PATH=${xz-utils:location}/bin:%(PATH)s
