[buildout]

parts =
  slapos-cookbook
  redis
  template
  template-redis

extends =
  ../../component/redis/buildout.cfg
  ../../component/git/buildout.cfg
  ../../stack/slapos.cfg

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
mode = 0644
md5sum = 5d2008c96a569c3ce498ddc0933afea3

[template-redis]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-redis.cfg
output = ${buildout:directory}/template-redis.cfg
mode = 0644
md5sum = f7b01ca7698c1b771f0653d64dc945a7

[versions]
slapos.cookbook=0.78.1
Jinja2 = 2.7
MarkupSafe = 0.18
Werkzeug = 0.8.3
buildout-versions = 1.7
hexagonit.recipe.cmmi = 2.0
inotifyx = 0.2.0-1
lxml = 3.2.1
meld3 = 0.6.10
netaddr = 0.7.10
plone.recipe.command = 1.1
pytz = 2013b
slapos.core = 0.35.1
slapos.recipe.cmmi = 0.1.1
slapos.recipe.template = 2.4.2
xml-marshaller = 0.9.7

# Required by:
# slapos.core==0.35.1
Flask = 0.9

# Required by:
# slapos.cookbook==0.78.1
lock-file = 2.0

# Required by:
# slapos.core==0.35.1
netifaces = 0.10.4

# Required by:
# slapos.core==0.35.1
pyflakes = 0.7.2

# Required by:
# slapos.core==0.35.1
supervisor = 3.0b2

# Required by:
# slapos.core==0.35.1
unittest2 = 0.5.1

# Required by:
# slapos.core==0.35.1
zope.interface = 4.0.5
