[buildout]
extends =
  ../../component/golang/buildout.cfg
  ../../component/openssl/buildout.cfg
  ../../stack/slapos.cfg
  buildout.hash.cfg

parts =
  slapos-cookbook
  galene
  eggs
  instance-cfg

# eggs for instance.cfg
[eggs]
recipe  = zc.recipe.egg
eggs    =
    plone.recipe.command
    collective.recipe.template


[galene-repository]
<= git-repository
repository = https://lab.nexedi.com/nexedi/galene.git
revision = galene-0.3
location = ${buildout:parts-directory}/galene-repository

[galene]
recipe = slapos.recipe.cmmi
path = ${galene-repository:location}
location = @@LOCATION@@
golang  = ${golang1.13:location}
configure-command = true
make-binary = 
make-targets =
  go install -ldflags='-s -w'
environment =
  PATH=${:location}/bin:${:golang}/bin:${git:location}/bin:${pkgconfig:location}/bin:$PATH
  GOPATH=${:location}
  CGO_ENABLED=0

[instance-cfg]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/instance.cfg

[galene-wrapper-template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/${:filename}

