# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[pbsready]
filename = pbsready.cfg.in
md5sum = 5e0dcd4c290f0b46cb2d316dc1c9c011

[pbsready-import]
filename = pbsready-import.cfg.in
md5sum = d813c43ed00eff868fb13bc75b045336

[pbsready-export]
filename = pbsready-export.cfg.in
md5sum = 2e804e06b5203c3f127c31a1704c48bd

[template-pull-backup]
filename = instance-pull-backup.cfg.in
md5sum = 0bbe16f3d805afd880a251a4f40ecaf1

[template-replicated]
filename = template-replicated.cfg.in
md5sum = 815fd8f7c42b9cf59b286b0fe77fa76d

[template-parts]
filename = template-parts.cfg.in
md5sum = 071b1034ee8f5cc14f79b16fdeba2813

[template-resilient-templates]
filename = template-resilient-templates.cfg.in
md5sum = 41e82859dc6b65e94a300a006d51536e

[instance-frozen]
filename = instance-frozen.cfg.in
md5sum = d21472f0e58f928fb827f2cbf22c4d4a

[resilient-web-takeover-cgi-script-download]
filename = resilient-web-takeover-cgi-script.py.in
md5sum = f5f1443330cd55210e9dbfd6b4ff5c8a

[template-wrapper]
filename = templates/wrapper.in
md5sum = 8cde04bfd0c0e9bd56744b988275cfd8

[notifier-feed-promise-template]
filename = templates/notifier-feed-promise.py.in
md5sum = 8e7496e3c0e2b3b151afd7a340433d2e

[template-monitor-check-resilient-feed]
filename = templates/monitor-check-resilient-feed.in
md5sum = 618b0b46b37eaad2f3f5b22c86e2b24d

