[buildout]
extensions =
  buildout-versions

extends =
  ../../stack/flask.cfg
  ../../stack/shacache-client.cfg
  ../../component/dropbear/buildout.cfg
  ../../component/git/buildout.cfg

develop = 
  ${:parts-directory}/slapos.cookboox
#  /home/alain/nexedi/slapos.toolbox

parts =
  template
  slapos.cookboox
  check-local-eggs
  eggs
  instance-recipe-egg
  dropbear

find-links +=
  http://www.nexedi.org/static/packages/source/slapos.buildout/

versions = versions

[instance-recipe]
egg = slapos.cookbook
module = slaprunner

[instance-recipe-egg]
recipe = zc.recipe.egg
python = python2.7
eggs = ${instance-recipe:egg}

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
mode = 0644
md5sum = cd69efd5c3a7e9adca7387b9a401590a

[slapos.cookboox]
# use official egg from pypi when it is released
recipe = plone.recipe.command
stop-on-error = true
commit = ce891b5070073d4dac9e21b089b8e662c7a9e0bd
repository = http://git.erp5.org/repos/slapos.git
location = ${buildout:parts-directory}/${:_buildout_section_name_}
git-binary = ${git:location}/bin/git
command = export GIT_SSL_NO_VERIFY=true; (${:git-binary} clone --quiet ${:repository} ${:location} && cd ${:location} && ${:git-binary} reset --hard ${:commit}) || (rm -fr ${:location}; exit 1)
update-command =

[check-local-eggs]
recipe = plone.recipe.command
stop-on-error = true
update-command = ${:command}
command = grep parts ${buildout:develop-eggs-directory}/slapos.cookbook.egg-link
depends = ${instance-recipe:egg}

[eggs]
eggs +=
  slapos.libnetworkcache
  slapos.toolbox
  slapos.core

[versions]
# Use SlapOS patched zc.buildout
zc.buildout = 1.6.0-dev-SlapOS-003

# Pinned to old version (2.4 does not compile well everywhere)
pycrypto = 2.3
