# Production profile of slaprunner.
# Exactly the same as common.cfg, but:
# 1/ Use a defined set of Python eggs instead of using the latest available
#    ones from Pypi, to ensure stability;

[buildout]
extends = common.cfg

[versions]
Flask-Auth = 0.85
PyRSS2Gen = 1.1
apache-libcloud = 0.17.0
cns.recipe.symlink = 0.2.3
collective.recipe.environment = 0.2.0
collective.recipe.template = 1.12
ecdsa = 0.13
erp5.util = 0.4.42
gitdb = 0.6.4
gunicorn = 19.3.0
plone.recipe.command = 1.1
prettytable = 0.7.2
pycrypto = 2.6.1
slapos.recipe.download = 1.0
slapos.recipe.template = 2.8
slapos.toolbox = 0.51
smmap = 0.9.0

# Required by:
# slapos.toolbox==0.51
GitPython = 1.0.1

# Required by:
# slapos.toolbox==0.51
atomize = 0.2.0

# Required by:
# apache-libcloud==0.17.0
backports.ssl-match-hostname = 3.4.0.2

# Required by:
# slapos.toolbox==0.51
feedparser = 5.2.1

# Required by:
# slapos.toolbox==0.51
lockfile = 0.10.2

# Required by:
# slapos.toolbox==0.51
paramiko = 1.15.2

# Required by:
# slapos.toolbox==0.51
rpdb = 0.1.5
