[buildout]
extends =
  ../../component/golang/buildout.cfg

parts =
  restic

[restic]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/restic/restic/releases/download/v0.18.0/restic-0.18.0.tar.gz
md5sum = 5b11b532908f85fc4c36ec7cb654257b
configure-command = :
make-binary = go run build.go -o @@LOCATION@@/bin/restic
make-targets =
environment =
  PATH=${golang1.23:location}/bin:${git:location}/bin:%(PATH)s
