[libmaxminddb]
recipe = slapos.recipe.cmmi
location = ${buildout:parts-directory}/${:_buildout_section_name_}
url = https://github.com/maxmind/libmaxminddb/releases/download/${:version}/libmaxminddb-${:version}.tar.gz
version = 1.3.2
md5sum = 67a861965b30d045bf29a2126bcc05ed

[maxminddb-python]
recipe = zc.recipe.egg:custom
egg = maxminddb
include-dirs =
  ${libmaxminddb:location}/include
library-dirs =
  ${libmaxminddb:location}/lib
rpath = ${:library-dirs}

[geolite2-country]
recipe = slapos.recipe.build:download-unpacked
shared = true
url = https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-Country.mmdb#${:md5sum}
md5sum = bf40d06501456017390298e9aee7c5a6
strip-top-level-dir = true

[versions]
geoip2 = 2.9.0
maxminddb = 1.5.4
