[libmaxminddb]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/maxmind/libmaxminddb/releases/download/${:version}/libmaxminddb-${:version}.tar.gz
version = 1.3.2
md5sum = 67a861965b30d045bf29a2126bcc05ed

[maxminddb-python]
recipe = zc.recipe.egg:custom
egg = maxminddb
include-dirs =
  ${libmaxminddb:location}/include
library-dirs =
  ${libmaxminddb:location}/lib
rpath = ${:library-dirs}

[geolite2-country]
recipe = slapos.recipe.build:download-unpacked
shared = true
url = http://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz#${:md5sum}
md5sum = dc6224c648350d90f344a0c5c3ca5474
strip-top-level-dir = true

[db-ip-city-lite-download]
recipe = slapos.recipe.build:download
shared = true
url = https://download.db-ip.com/free/dbip-city-lite-${:version}.mmdb.gz
alternate-url = https://dbip.mirror.framasoft.org/files/dbip-country-lite-${:version}.mmdb.gz
md5sum = e5cddf04b82dc72be7b032af260d3bbc
filename = dbip-country-lite-${:version}.mmdb.gz
version = 2025-04

[db-ip-city-lite]
recipe = slapos.recipe.build
shared = true
download-location = ${db-ip-city-lite-download:location}/${db-ip-city-lite-download:filename}
filename = dbip-country-lite-${db-ip-city-lite-download:version}.mmdb
install =
  import gzip
  import shutil
  import os
  os.makedirs(location, exist_ok=True)
  with gzip.open(self.options['download-location'], 'rb') as fin,\
       open(os.path.join(location, self.options['filename']), 'wb') as fout:
    shutil.copyfileobj(fin, fout)

[versions]
geoip2 = 2.9.0
maxminddb = 1.5.4
