[buildout]
extends =
  ../libffi/buildout.cfg
  ../rust/buildout.cfg
  ../python-cffi/buildout.cfg

parts =
  bcrypt

[bcrypt-env]
CPPFLAGS=-I${libffi:location}/include
CFLAGS=-I${libffi:location}/include
PATH=${rustc:location}/bin:%(PATH)s

[bcrypt]
recipe = zc.recipe.egg:custom
egg = bcrypt
environment = bcrypt-env
setup-eggs =
  setuptools-rust

[bcrypt:python2]
rpath =
  ${libffi:location}/lib/
setup-eggs =
  ${python-cffi:egg}

[bcrypt-env:python2]
PATH=%(PATH)s
