# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template-cfg]
filename = instance.cfg.in
md5sum = 59a79056db624b53815601255a063b5b

[template_nginx_conf]
_update_hash_filename_ = templates/nginx_conf.in
md5sum = 74acea08fabbeb2f3e92e3b4443c4ff3

[template_launcher]
_update_hash_filename_ = templates/launcher.in
md5sum = e34611e3419ebf6477830b9b023a3024

[template_mime_types]
_update_hash_filename_ = templates/mime_types.in
md5sum = 4ef94a7b458d885cd79ba0b930a5727e

[template_graceful]
_update_hash_filename_ = templates/graceful.in
md5sum = 4ed095445c9017cf318799486be1dbb9

[template_index_html]
_update_hash_filename_ = templates/index.html.in
md5sum = d57cb01df5941e139b02a2f7bdabcdc8
