[buildout]
extends =
  ../../component/golang/buildout.cfg
  ../../component/openssl/buildout.cfg
  ../../stack/slapos.cfg
  buildout.hash.cfg

parts =
  slapos-cookbook
  gowork
  instance-cfg

[hugo-get]
<= go-git-package
go.importpath = github.com/gohugoio/hugo
repository    = https://github.com/gohugoio/hugo.git
# revision      = nxd-v1.0.3-1-g2c11cedc

[gowork]
install =
  ${hugo-get:location}:./...

[gowork.goinstall]
depends_gitfetch  =
    ${hugo-get:recipe}

command = set -e
  . ${gowork:env.sh}
  cd ${hugo-get:location}
  export GO111MODULE=on
  export FULLVERSION=$(git describe --tags)
  go build ${gowork:buildflags} -o ${gowork:bin}/hugo
  chmod -R u+w .

[instance-cfg]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/instance.cfg
