[buildout]
parts =
  spandsp

extends =
  ../pkgconfig/buildout.cfg
  ../zlib/buildout.cfg
  ../libtiff/buildout.cfg
  ../libjpeg/buildout.cfg
  ../xz-utils/buildout.cfg

[spandsp]
recipe = slapos.recipe.cmmi
url = http://www.soft-switch.org/downloads/spandsp/spandsp-0.0.6pre21.tgz
md5sum = 492f3790439891c07d8c06e97ccbfcf1
environment =
  PATH=${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${zlib:location}/lib/pkgconfig:${xz-utils:location}/lib/pkgconfig
  CPPFLAGS=-I${zlib:location}/include -I${libtiff:location}/include -I${libjpeg:location}/include -I${xz-utils:location}/include
  LDFLAGS=-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib -L${libtiff:location}/lib -Wl,-rpath=${libtiff:location}/lib -L${libjpeg:location}/lib -Wl,-rpath=${libjpeg:location}/lib -L${xz-utils:location}/lib -Wl,-rpath=${xz-utils:location}/lib
