[buildout]
extends =
  ../numpy/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../libpng/buildout.cfg
  ../freetype/buildout.cfg

parts =
  matplotlib

[matplotlibrc]
recipe = slapos.recipe.template:jinja2
location = ${buildout:parts-directory}/${:_buildout_section_name_}
template = ${:_profile_base_location_}/matplotlibrc.in
rendered = ${matplotlibrc:location}/matplotlibrc
mode = 0644
md5sum = 849f48f08bea21dd10d3825867cb1561
backend = agg
context =
  key backend matplotlibrc:backend

[matplotlib-env]
<= numpy-env
PATH = ${pkgconfig:location}/bin:%(PATH)s
PKG_CONFIG_PATH = ${libpng:location}/lib/pkgconfig:${freetype:location}/lib/pkgconfig:${zlib:location}/lib/pkgconfig
CFLAGS = -I${libpng:location}/include -I${freetype:location}/include

[matplotlib]
recipe = zc.recipe.egg:custom
egg = matplotlib
environment = matplotlib-env
setup-eggs =
  cycler
  python-dateutil
  ${numpy:egg}
rpath =
  ${libpng:location}/lib
  ${freetype:location}/lib
need-matplotlibrc = ${matplotlibrc:location}
