[buildout]
parts =
  gdbm

[gdbm]
recipe = slapos.recipe.cmmi
shared = true
version = 1.23
url = http://ftp.gnu.org/gnu/gdbm/gdbm-${:version}.tar.gz
md5sum = 8551961e36bf8c70b7500d255d3658ec
configure-options =
  --disable-static
  --enable-libgdbm-compat
  --without-readline
