# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg.in
md5sum = 5ded78c210ad723606f808165fe10be6

[template-default]
_update_hash_filename_ = instance-default.cfg.in
md5sum = ec7f74baca8268d169e77447fa0f93b0

[dovecot.jinja2.conf]
_update_hash_filename_ = dovecot.jinja2.conf
md5sum = abfb5606d5af39b1a6682919129708d0
[dovecot-passwd.jinja2]
_update_hash_filename_ = dovecot-passwd.jinja2
md5sum = 190b3130b1b60bf4ca7a58ccf1ab3e9b

[postfix_main.jinja2.cf]
_update_hash_filename_ = postfix_main.jinja2.cf
md5sum = f0074c518821be72d4d331aa558e254e
[postfix_master.jinja2.cf]
_update_hash_filename_ = postfix_master.jinja2.cf
md5sum = 7752a8b4af5c18dc404e0a862af89272
[postfix_alias.jinja2]
_update_hash_filename_ = postfix_alias.jinja2
md5sum = 170fcb64781e966fa1a9718b5a925535
[postfix_mailname.jinja2]
_update_hash_filename_ = postfix_mailname.jinja2
md5sum = e7eb11cb4485b0d46f968f612643c1b0
[postfix_vmailbox.jinja2]
_update_hash_filename_ = postfix_vmailbox.jinja2
md5sum = 8c720937c1cbf74371ee41c5e5577369
[postfix_virtual.jinja2]
_update_hash_filename_ = postfix_virtual.jinja2
md5sum = 5b51b6cb273f8aeedf49f7d46c19f0dd
