[buildout]
parts =
  popt

[popt]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = http://ftp.rpm.org/popt/releases/popt-1.x/popt-1.18.tar.gz
md5sum = 450f2f636e6a3aa527de803d0ae76c5a
configure-options =
  --disable-static
