[buildout]
extends =
  ../python3/buildout.cfg
  ../git/buildout.cfg

parts =
  url-checker

[url-checker-repository]
recipe = slapos.recipe.build:gitclone
git-executable = ${git:location}/bin/git
forbid-download-cache = true
repository = https://lab.nexedi.com/romain/url-checker.git
revision = 16f75e9481791be9733cf74061e5f3615891fe61

[url-checker]
recipe = plone.recipe.command
command =
  bash -c "${python3.7:executable} -m venv ${:location} && \
    . ${:location}/bin/activate && \
    pip install --upgrade --editable ${url-checker-repository:location}"
location = ${buildout:parts-directory}/${:_buildout_section_name_}
stop-on-error = true
executable = ${:location}/bin/urlchecker
