[buildout]
parts =
    pax

[pax-download]
recipe = hexagonit.recipe.download
url = https://github.com/mmariani/paxmirabilis/archive/20120606.zip
md5sum = 5154a82cd07c3e7783a6c7ba596a4639
strip-top-level-dir = true

[pax]
recipe = plone.recipe.command
source = ${pax-download:location}
destination = ${buildout:parts-directory}/${:_buildout_section_name_}
location = ${buildout:parts-directory}/${:_buildout_section_name_}
compile-location = ${buildout:parts-directory}/${:_buildout_section_name_}__compile__
stop-on-error = true
command =
  rm -rf ${:destination} &&
  mkdir -p ${:destination} &&
  rm -rf ${:compile-location} &&
  cp -R ${:source} ${:compile-location} &&
  cd ${:compile-location} &&
  gcc -o pax ar.c ar_io.c ar_subs.c buf_subs.c cache.c cpio.c file_subs.c \
         ftree.c gen_subs.c getoldopt.c options.c pat_rep.c pax.c sel_subs.c \
         tables.c tar.c tty_subs.c &&
  mkdir -p ${:destination}/bin &&
  install -v -m755 ${:compile-location}/pax ${:destination}/bin &&
  cd ${buildout:parts-directory} &&
  rm -rf ${:compile-location}


