# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg.in
md5sum = 1ec9f6416da41e12b84ec057ab5c38a2

[template-default]
_update_hash_filename_ = instance-default.cfg.in
md5sum = 554e9db2fd65dd1fe3b7bc2804bdfb6d

[dovecot.jinja2.conf]
_update_hash_filename_ = dovecot.jinja2.conf
md5sum = 90a75496327cc0958eb3d1803644b615

[dovecot-sql.jinja2.conf.ext]
md5sum = ab15900d44b38fdad528c6a73936fd26

[dovecot-passwd.in]
md5sum = c6a0fd2b03ca3e98c335a5ffd1dac353

[postfix_main.jinja2.cf]
_update_hash_filename_ = postfix_main.jinja2.cf
md5sum = a7f1a55ef21cf198824f36a8f52d163a
[postfix_master.jinja2.cf]
_update_hash_filename_ = postfix_master.jinja2.cf
md5sum = 7752a8b4af5c18dc404e0a862af89272
[postfix_mysql_mailbox.jinja2.cf]
_update_hash_filename_ = postfix_mysql_mailbox.jinja2.cf
md5sum = 4130e8e13cc98a75db098d38d8f369d6
[postfix_mysql_aliases.jinja2.cf]
_update_hash_filename_ = postfix_mysql_aliases.jinja2.cf
md5sum = 85e1d6c8ed15d3e6d58d9479d5ea7d55

[template-apache.conf]
filename = apache.conf.in
md5sum = e49410f0a4bf28993a56bb28aff0a6f0

[template-php.ini]
filename = php.ini.in
md5sum = eccdfb6d780d9aa4cf66401191ab16a6

[template-apache-httpd]
filename = apache-httpd.conf.in
md5sum = 4ad906791f0d6fd3a4aef8f5a8018b45

[template-snappymail.jinja2.ini]
filename = snappymail.jinja2.ini
md5sum = 87aae866c798b4b411953aa1ff091703

[template-snappymail-domain.jinja2.json]
filename = snappymail-domain.jinja2.json
md5sum = 2dfd15fb4fa3a839a43df9516af3829e
