[buildout]
extends =
  ../../component/xz-utils/buildout.cfg
  ../../component/postfix/buildout.cfg
  ../../component/dovecot/buildout.cfg
#  ../../component/mariadb/buildout.cfg
  ../../component/postgresql/buildout.cfg
  ../../stack/slapos.cfg
  ../../stack/monitor/buildout.cfg
  ../../stack/erp5/buildout.cfg
  ../../component/apache-php/buildout.cfg
#  ../../component/nginx/buildout.cfg
  buildout.hash.cfg


parts =
  slapos-cookbook
  template
  dovecot
  postgresql
  postfix
  apache-php
#  nginx


[postfix]
configure-options-CCARGS = '-DHAS_PGSQL -I${postgresql:location}/include ${postfix:default-configure-options-CCARGS}'
#configure-options-CCARGS = '-DHAS_PGSQL -I${postgresql:location}/include -DUSE_SASL_AUTH -DUSE_CYRUS_SASL -DUSE_TLS -DHAS_PCRE -DHAS_DB -I${libdb:location}/include -I${pcre:location}/include -I${openssl:location}/include -I${cyrus-sasl:location}/include/sasl -I${libnsl:location}/include'
configure-options-AUXLIBS = '-L${postgresql:location}/lib -Wl,-rpath=${postgresql:location}/lib -lpq ${postfix:default-configure-options-AUXLIBS}'

[dovecot]
extra-pkg-config=${postgresql:location}/lib/pkgconfig
extra-configure-options =
  --with-pgsql=yes
extra-environment =
  PGSQL_LIBS=-L${postgresql:location}/lib -Wl,-rpath=${postgresql:location}/lib
  PGSQL_CFLAGS=-I${postgresql:location}/include
extra-ld-flags=-L${postgresql:location}/lib -Wl,-rpath=${postgresql:location}/lib
extra-c-flags=-I${postgresql:location}/include

[template]
recipe = slapos.recipe.template:jinja2
url = ${:_profile_base_location_}/${:filename}
output = ${buildout:directory}/template.cfg
context =
    key application_location application:location
    key application_archive_root application:archive-root
    key apache_location apache:location
    key apache_php_location apache-php:location
    key bash_location bash:location
    key bin_directory buildout:bin-directory
    key coreutils_location coreutils:location
    key buildout_egg_directory buildout:eggs-directory
    key buildout_develop_directory buildout:develop-eggs-directory
    key buildout_directory buildout:directory
    key dash_location dash:location
#    key findutils_location findutils:location
    key logrotate_location logrotate:location
    key logrotate_cfg template-logrotate-base:output
#    key gzip_location gzip:location
#    key xz_utils_location xz-utils:location
    key template_monitor monitor2-template:output
    key mariadb_link_binary template-mariadb:link-binary
    key postgresql_location postgresql:location
    key mariadb_location mariadb:location
    key mariadb_resiliency_after_import_script mariadb-resiliency-after-import-script:target
    key mariadb_slow_query_report_script mariadb-slow-query-report-script:target
    key mariadb_start_clone_from_backup mariadb-start-clone-from-backup:target
    key mroonga_mariadb_install_sql mroonga-mariadb:install-sql
    key mroonga_mariadb_plugin_dir mroonga-mariadb:plugin-dir
    key groonga_plugin_dir groonga:groonga-plugin-dir
    key groonga_mysql_normalizer_plugin_dir groonga-normalizer-mysql:groonga-plugin-dir
    key percona_toolkit_location percona-toolkit:location
    key template_php_ini template-php.ini:target
    key template_apache_conf template-apache.conf:target
#    key template_apache_php instance-apache-php:target
#    key template_lamp instance-lamp:target
    key template_default template-default:target
    key template_mariadb template-mariadb:target
    key template_mariadb_initial_setup template-mariadb-initial-setup:target
    key template_mysqld_wrapper template-mysqld-wrapper:output
    key template_my_cnf template-my-cnf:target
    key unixodbc_location unixodbc:location
    key openssl_location openssl:location
    key db_name custom-application-deployment:db-name
    key db_user custom-application-deployment:db-user
    key default_frontend custom-application-deployment:default-frontend
    key lamp_apache_httpd template-apache-httpd:target
    raw dovecot_conf_template ${dovecot.jinja2.conf:target}
    raw dovecot_sql_template ${dovecot-sql.jinja2.conf.ext:target}
    raw dovecot_passwd ${dovecot-passwd.in:target}
    raw dovecot_binary ${dovecot:location}/sbin/dovecot
    raw postfix_main_template ${postfix_main.jinja2.cf:target}
    raw postfix_master_template ${postfix_master.jinja2.cf:target}
    raw postfix_virtual_template ${postfix_mysql_aliases.jinja2.cf:target}
    raw postfix_vmailbox_template ${postfix_mysql_mailbox.jinja2.cf:target}
    raw postfix_location ${postfix:location}
    raw xz_utils_location ${xz-utils:location}
    raw snappymail_conf ${template-snappymail.jinja2.ini:target}
    raw snappymail_domain ${template-snappymail-domain.jinja2.json:target}

[template-download-base]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[template-apache.conf]
<= template-download-base

[template-php.ini]
<= template-download-base

# download apache-httpd.conf.in
[template-apache-httpd]
<= template-download-base

[template-snappymail.jinja2.ini]
<= template-download-base

[template-snappymail-domain.jinja2.json]
<= template-download-base

[custom-application-deployment]
# path = /path/to/instance-custom.cfg
# part-list = part1 part2
# See software/maarch/software.cfg for an example.
path =
part-list =
# database information
db-name = lamp
db-user = lamp
# Publish default lamp slave frontend url
default-frontend = True

[template-default]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}

[copy-to-instance]
recipe   = slapos.recipe.build:download
url      = ${:_profile_base_location_}/${:_buildout_section_name_}
filename = ${:_buildout_section_name_}

[dovecot.jinja2.conf]
< = copy-to-instance
[dovecot-sql.jinja2.conf.ext]
< = copy-to-instance
[dovecot-passwd.in]
< = copy-to-instance

[postfix_main.jinja2.cf]
< = copy-to-instance
[postfix_master.jinja2.cf]
< = copy-to-instance
[postfix_mysql_mailbox.jinja2.cf]
< = copy-to-instance
[postfix_mysql_aliases.jinja2.cf]
< = copy-to-instance

[application]
url = https://github.com/the-djmaze/snappymail/releases/download/v2.38.2/snappymail-2.38.2.tar.gz
md5sum = 551af7a01691f8d988c16aa73c75e686
recipe = slapos.recipe.build:download-unpacked
archive-root =
