{
  "cookbook-repository": "/srv/slapgrid/slappartNN/srv/runner/instance/slappartNN/software_release/parts/slapos.cookbook-repository",
  "slapos-egg-testing-environment": "/srv/slapgrid/slappartNN/srv/runner/instance/slappartNN/etc/slapos-local-development-environment.sh",
  "slapos-sr-testing-environment": "/srv/slapgrid/slappartNN/srv/runner/instance/slappartNN/etc/slapos-local-development-environment.sh",
  "python-binary": "/srv/slapgrid/slappartNN/srv/runner/software/HASH/bin/python",
  "public-dir": "/srv/slapgrid/slappartNN/srv/frontend-static/public"
}
