[buildout]
parts =
  boost-lib
extends =
  ../bzip2/buildout.cfg
  ../zlib/buildout.cfg
  ../xz-utils/buildout.cfg

[boost-lib]
recipe = slapos.recipe.cmmi
shared = true
version = 1.89.0
url = https://github.com/boostorg/boost/releases/download/boost-${:version}/boost-${:version}-b2-nodocs.tar.xz
md5sum = 023f1014b98d51676ddba21c2ee4878b
location = @@LOCATION@@
configure-command = ./bootstrap.sh --prefix=${:location} --without-icu $${PYTHON:+--with-python=$PYTHON}
make-binary =
make-options =
make-targets = for a in $MAKEFLAGS; do case $a in -j*) j=$a; break;; esac; done;
  ./b2 $j link=shared dll-path=${:location}/lib:${bzip2:location}/lib:${xz-utils:location}/lib:${zlib:location}/lib install
environment =
  BZIP2_INCLUDE=${bzip2:location}/include
  BZIP2_LIBPATH=${bzip2:location}/lib
  ZLIB_INCLUDE=${zlib:location}/include
  ZLIB_LIBPATH=${zlib:location}/lib
  LZMA_INCLUDE=${xz-utils:location}/include
  LZMA_LIBRARY_PATH=${xz-utils:location}/lib
  PATH=${xz-utils:location}/bin:%(PATH)s
