# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance-profile]
filename = instance.cfg.in
md5sum = b67bad9012a8f79c66779d4c660828e2

[instance-peertube]
_update_hash_filename_ = instance-peertube.cfg.in
md5sum = 3096a4d3e117752b4827925129d61331

[template-nginx-service]
filename = template-nginx-service.sh.in
md5sum = 458870b70c33a1621b68961ae2372ad5

[template-peertube-service]
filename = template-peertube-service.sh.in
md5sum = 8e01664a59ac8c148075a87aabd04fef

[template-peertube-yaml]
filename = template-peertube.yaml.in
md5sum = e761995c4c18efc4a199f11dc8fde039

[template-nginx-configuration]
filename = template-nginx.cfg.in
md5sum = f0cba744a9803054d69163f3c40fe354

[template-dcron-service]
filename = template-dcron-service.sh.in
md5sum = 851262d7174da868805cb7c8e1ced7c0

[template-crontab-line]
filename = template-crontab-line.in
md5sum = 5cbd64f04da0601ba4286516a6161f5e

[template-crontab]
filename = template-crontab.in
md5sum = f1f82101258de19068262b7213fc478b

[template-peertube-backup-script]
filename = template-peertube-backup.sh.in
md5sum = 58d1a4fe246169dea94d7d243b4bac9e

[template-peertube-restore-script]
filename = template-peertube-restore.sh.in
md5sum = d3189a97e1898cc319acb7bc28ef3245
