# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg.in
md5sum = abd8493f35e153a5984ed22c8fe49792

[template-kvm]
filename = instance-kvm.cfg.jinja2
md5sum = fb31648974f531e0196a705d4ffbd125

[template-kvm-cluster]
filename = instance-kvm-cluster.cfg.jinja2.in
md5sum = be9b1a7e4b87c90b5b8599e7f7214add

[template-kvm-resilient]
filename = instance-kvm-resilient.cfg.jinja2
md5sum = 7804576ecfe84871dce3a5e604330fda

[template-kvm-import]
filename = instance-kvm-import.cfg.jinja2.in
md5sum = 69f3994e3a422db099692e384267697a

[template-kvm-import-script]
filename = template/kvm-import.sh.jinja2
md5sum = cd0008f1689dfca9b77370bc4d275b70

[template-kvm-export]
filename = instance-kvm-export.cfg.jinja2
md5sum = d9cbae97c02f2df23c1a2a69dc7c9c0f

[template-kvm-export-script]
filename = template/kvm-export.sh.jinja2
md5sum = 64aa1ce8785f6b94aabd787fa3443082

[template-nbd]
filename = instance-nbd.cfg.jinja2
md5sum = e041e8011ad2ec7f104be173ef76f5e9

[template-nginx]
filename = template/nginx_conf.in
md5sum = 9ca886120a99befe25ca761ddc54753c

[template-ansible-promise]
filename = template/ansible-promise.in
md5sum = 6328f99728284847b8dd1146aadeae1b

[template-kvm-run]
filename = template/template-kvm-run.in
md5sum = 1663af08ea7afa8d3fa091bf0c2ea1ca

[template-kvm-controller]
filename = template/kvm-controller-run.in
md5sum = 36c6e4fd3550639f534e7f55b2ca9a3f

[template-apache-conf]
filename = template/apache.conf.in
md5sum = e818aa16b3c736a0c2de3ec981663534

[template-content]
filename = template/template-content.in
md5sum = 752c91a4a6b72f5cf8226d6b940015f8

[template-qemu-ready]
filename = template/qemu-is-ready.in
md5sum = a97ba5a5afcfd6f6bb9f4e77f37555dd

[template-httpd]
filename = instance-kvm-http.cfg.in
md5sum = 438192aab9f11e40dc521b46a4854dcf

[image-download-controller]
filename = template/image-download-controller.py.in
md5sum = 9636903e683e4712e313ca2c470cfb94

[image-download-config-creator]
filename = template/image-download-config-creator.py.in
md5sum = b74b9d4829fe2c2f7122125cf87d29cd

[whitelist-firewall-download-controller]
filename = template/whitelist-firewall-download-controller.py.in
md5sum = b4f6ffef08685bace1b9c01a3bd2620d

[whitelist-domains-default]
filename = template/whitelist-domains-default
md5sum = e9d40162ba77472775256637a2617d14
