# vim: set ft=cfg:

{% import 'parts' as parts %}
{% import 'replicated' as replicated with context %}

{% set backup_amount = slapparameter_dict.pop('resilient-clone-number', "1")|int + 1 -%}

{%- set monitor_interface_url = slapparameter_dict.pop('monitor-interface-url', 'https://monitor.app.officejs.com/#page=ojsm_landing') %}
{%- set monitor_username = slapparameter_dict.get('monitor-username', '${monitor-instance-parameter:username}') %}
{%- set monitor_password = slapparameter_dict.get('monitor-password', '${monitor-htpasswd:passwd}') %}
{%- set monitor_return = ['monitor-base-url'] %}
{%- set monitor_parameter = {'monitor-interface-url': monitor_interface_url, 'monitor-username' : monitor_username, 'monitor-password': monitor_password} %}
{%- set monitor_dict = {'parameter': monitor_parameter, 'return': monitor_return} -%}

{% set additional_frontend = slapparameter_dict.get('frontend-additional-instance-guid') or slapparameter_dict.get('frontend-additional-software-type') or slapparameter_dict.get('frontend-additional-software-url')%}
{% set enable_novnc_server = slapparameter_dict.get('enable-novnc-server', True) -%}

[buildout]
eggs-directory = {{ eggs_directory }}
develop-eggs-directory = {{ develop_eggs_directory }}
offline = true

# += because we need to take up parts (like instance-custom, slapmonitor etc) from the profile we extended
parts +=
  publish-early
  {{ parts.replicate("kvm", backup_amount) }}
  publish-connection-information
{% if enable_novnc_server %}
  kvm-frontend-url-promise
{% endif -%}

{% if monitor_dict -%}
extends = {{ template_monitor }}
{% endif -%}

{{ replicated.replicate("kvm", backup_amount, "kvm-export", "kvm-import", slapparameter_dict=slapparameter_dict, monitor_parameter_dict=monitor_dict) }}

[directory]
recipe = slapos.cookbook:mkdirectory
etc = ${buildout:directory}/etc

# Bubble down the parameters of the requested instance to the user
[request-kvm]
recipe = slapos.cookbook:request.serialised
# Note: += doesn't work.
return =
# Resilient related parameters
  ssh-public-key resilient-ssh-url notification-id ip {{ monitor_return | join(' ') }}
# KVM related parameters
# XXX: return ALL parameters (like nat rules), through jinja
{% if enable_novnc_server %}
{% if additional_frontend %}
  url-additional
{% endif %}
  backend-url url ip username password
{% endif %}
{{ '  ' }}ipv6-network-info

[publish-connection-information]
recipe = slapos.cookbook:publish.serialised
{% if enable_novnc_server %}
backend-url = ${request-kvm:connection-backend-url}
url = ${request-kvm:connection-url}
username = ${request-kvm:connection-username}
password = ${request-kvm:connection-password}
{% if additional_frontend %}
url-additional = ${request-kvm:connection-url-additional}
{% endif %}
{% endif %}
ipv6 = ${request-kvm:connection-ip}
ipv6-network-info = ${request-kvm:connection-ipv6-network-info}
monitor-password = ${publish-early:monitor-password}
monitor-user = ${monitor-publish-parameters:monitor-user}
{% if monitor_dict -%}
monitor-base-url = ${monitor-publish-parameters:monitor-base-url}
monitor-setup-url = {{ monitor_interface_url }}/#page=settings_configurator&url=${monitor-publish-parameters:monitor-url}&username=${monitor-publish-parameters:monitor-user}&password=${publish-early:monitor-password}
{% endif -%}

{% if enable_novnc_server %}
[kvm-frontend-url-promise]
<= monitor-promise-base
promise = check_url_available
name = frontend_promise.py
config-url = ${publish-connection-information:url}
config-username = ${publish-connection-information:username}
config-password = ${publish-connection-information:password}
{% endif %}
