[buildout]
extends =
  {{ kvm_template }}
  {{ pbsready_export_template }}
  {{ monitor_template_output }}

parts +=
  cron-entry-backup

  certificate-authority
  publish-connection-information
  kvm-vnc-promise
  kvm-disk-image-corruption-promise
  websockify-sighandler
  novnc-promise
  cron
  frontend-promise
## Parts introduced by monitoring
  slap-parameters                                                              
  certificate-authority
  cron
  cron-entry-monitor                                                           
  cron-entry-rss                                                               
  deploy-index                                                                 
  deploy-index-template
  deploy-monitor-script
##  deploy-rss-script
  deploy-settings-cgi
  deploy-status-cgi
  make-rss
  monitor-promise
  setup-static-files                                                           
  certificate-authority                                                        
  public
  zero-parameters
  cgi-httpd-wrapper
  public-symlink

# Create the exporter executable, which is a simple shell script
[exporter]
recipe = slapos.recipe.template
url = {{ template_kvm_export }}
output = ${directory:bin}/${slap-parameter:namebase}-exporter
mode = 0755
backup-disk-path = ${directory:backup}/virtual.qcow2
# Resilient stack wants a "wrapper" parameter
wrapper = ${:output}

# Extends publish section with resilient parameters
[publish-connection-information]
<= resilient-publish-connection-parameter

