################################################################
# OpenSSH Portable - a secure shell client and server for *nix #
#                                                              #
# http://www.openssh.com/                                      #
################################################################

[buildout]
extends =
  ../libedit/buildout.cfg
  ../libxml2/buildout.cfg
  ../nftables/buildout.cfg
  ../openssl/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../sqlite3/buildout.cfg
  ../util-linux/buildout.cfg

parts =
  asterisk

[libopencore]
recipe = slapos.recipe.cmmi
shared = true
md5sum = 03de025060a4f16c4c44218f65e13e95
location = @@LOCATION@@
url = https://downloads.sourceforge.net/project/opencore-amr/opencore-amr/opencore-amr-0.1.6.tar.gz

[pjsip]
recipe = slapos.recipe.cmmi
shared = true
md5sum = cfec3fe420c3ed47cff75a842fbe955f
location = @@LOCATION@@
url = https://github.com/pjsip/pjproject/archive/refs/tags/2.15.1.tar.gz
environment =
  CFLAGS=-DNDEBUG=1 -DPJ_HAS_IPV6=1
configure-options =
  --prefix=${:location}
  --enable-shared
  --disable-video

[asterisk]
recipe = slapos.recipe.cmmi
shared = true
md5sum = 02f88d1fbcdbb87c85397a32ce7e412a
location = @@LOCATION@@
url = https://softinst273654.host.vifib.net/public/asterisk-nexedi.tar.gz
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${openssl:location}/lib/pkgconfig:${libedit:location}/lib/pkgconfig:${jansson:location}/lib/pkgconfig:${libxml2:location}/lib/pkgconfig:${pjsip:location}/lib/pkgconfig
  CFLAGS=-I${libuuid:location}/include -I${sqlite3:location}/include
  LDFLAGS=-L${libuuid:location}/lib -Wl,-rpath=${libuuid:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${libedit:location}/lib -Wl,-rpath=${jansson:location}/lib -Wl,-rpath=${libxml2:location}/lib -L${sqlite3:location}/lib -Wl,-rpath=${sqlite3:location}/lib
make-targets =
  menuselect.makeopts
  install
configure-options =
  --prefix=${:location}
  --without-pjproject-bundled
  --with-pjproject
  --with-opencore-amrnb=${libopencore:location}
  --with-opencore-amrwb=${libopencore:location}

