# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance.cfg]
filename = instance.cfg.in
md5sum = d53e6dd9d1c1faf6c29837108574958c

[template-sozu]
filename = instance-sozu.cfg.jinja2.in
md5sum = 97ba1fa01024f131b932c36896f061ce

[config.toml]
filename = templates/config.toml.in
md5sum = b4e2b7fd4ef12862944e2bcfe4c2e4d6

[publish-sozu-slave-parameters.cfg]
filename = publish-sozu-slave-parameters.cfg.in
md5sum = ee8dcb866fbe3b8916c6d2e5a28e19e3

[response-404.html]
filename = templates/404.html
md5sum = 688eb86fba7c320370b50ff84edcfa31

[response-503.html]
filename = templates/503.html
md5sum = 1bb8129372c26af854a3d9b60f495414
