[buildout]
extends =
  ../libxml2/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../libexpat/buildout.cfg

parts =
  dbus

[dbus]
recipe = slapos.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus/dbus-1.8.0.tar.gz
md5sum = 059fbe84e39fc99c67a14f15b1f39dff
configure-options =
  --disable-static
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${libxml2:location}/lib/pkgconfig
  CPPFLAGS=-I${libexpat:location}/include
  LDFLAGS=-L${libexpat:location}/lib

[dbus-glib]
recipe = slapos.recipe.cmmi
url = http://dbus.freedesktop.org/releases/dbus-glib/dbus-glib-0.102.tar.gz
md5sum = f76b8558fd575d0106c3a556eaa49184
configure-options =
  --disable-static
  --disable-gtk-doc-html
environment =
  PATH=${pkgconfig:location}/bin:${glib:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${dbus:location}/lib/pkgconfig:${glib:location}/lib/pkgconfig
  CPPFLAGS=-I${libexpat:location}/include
  LDFLAGS=-L${libexpat:location}/lib -L${gettext:location}/lib
