[buildout]
extends =
  ../libxml2/buildout.cfg
  ../pcre2/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../libexpat/buildout.cfg
  ../zlib/buildout.cfg

parts =
  dbus

[dbus]
recipe = slapos.recipe.cmmi
shared = true
url = https://dbus.freedesktop.org/releases/dbus/dbus-1.12.20.tar.gz
md5sum = dfe8a71f412e0b53be26ed4fbfdc91c4
location = @@LOCATION@@
configure-options =
  --disable-static
  --without-x
make-targets = install && ${:location}/bin/dbus-uuidgen > ${:location}/var/lib/dbus/machine-id
environment =
  PATH=${pkgconfig:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${libxml2:location}/lib/pkgconfig
  EXPAT_CFLAGS=-I${libexpat:location}/include
  EXPAT_LIBS=-L${libexpat:location}/lib -lexpat

[dbus-glib]
recipe = slapos.recipe.cmmi
shared = true
url = https://dbus.freedesktop.org/releases/dbus-glib/dbus-glib-0.112.tar.gz
md5sum = 021e6c8a288df02c227e4aafbf7e7527
configure-options =
  --disable-static
  --disable-gtk-doc-html
environment =
  PATH=${pkgconfig:location}/bin:${glib:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${dbus:location}/lib/pkgconfig:${glib:location}/lib/pkgconfig:${glib:pkg_config_depends}
  CPPFLAGS=-I${libexpat:location}/include -I${gettext:location}/include
  LDFLAGS=-L${libexpat:location}/lib -L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib -Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${libffi:location}/lib -Wl,-rpath=${pcre2:location}/lib
