[buildout]
  
extends =
  ../../../stack/lamp/buildout.cfg

[application]
#url = https://forge.indepnet.net/attachments/download/1811/glpi-0.84.7.tar.gz
#md5sum = 885d7893460979197888cefafa5a75d0
url = https://forge.indepnet.net/attachments/download/1151/glpi-0.83.1.tar.gz
md5sum = 3f9cfb11c09c457a0f0a8fa1563b45a7


[application-template]
recipe = slapos.recipe.download
url = ${:_profile_base_location_}/dummy-config.php.in
md5sum = d41d8cd98f00b204e9800998ecf8427e
download-only = True
filename = template.in
mode = 0644
location = ${buildout:parts-directory}/${:_buildout_section_name_}

[application-configuration]
location = dummy-config.php
