#  faketime - report faked system time to programs without having to change the system-wide time
#  http://www.code-wizards.com/projects/libfaketime

[buildout]
parts = faketime

[faketime]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/wolfcw/libfaketime/archive/refs/tags/v0.9.9.tar.gz
md5sum = 1f784c9c0ec7807b9d1107d1730dbb41
configure-command = true
make-options =
  PREFIX=%(location)s
make-targets = install
