#  faketime - report faked system time to programs without having to change the system-wide time

[buildout]
extends =
  ../coreutils/buildout.cfg
parts = faketime

[faketime]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/wolfcw/libfaketime/archive/refs/tags/v0.9.12.tar.gz
md5sum = ad359ea78db3d28ba2520c34800306ba
configure-command = true
make-options =
  PREFIX=%(location)s FAKETIME_COMPILE_CFLAGS=-DFAKE_STATELESS=1
make-targets = test install
# run tests with a timeout, in case they hang
make-binary = ${coreutils:location}/bin/timeout 30m make
