# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     But avoid directories, they are not portable.
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg
md5sum = 9294725026fdadf097df127a56432934

[template-ors]
filename = instance-ors.cfg
md5sum = 0805eb1e900321eb6af8fa21e537db4f

[template-ors-duo]
filename = instance-ors-duo.cfg
md5sum = de9b527323c70666422fe4059249781b

[slaplte.jinja2]
_update_hash_filename_ = slaplte.jinja2
md5sum = 942ad332e53e8a6c8aa97a5648f922eb

[ru_amarisoft-stats.jinja2.py]
_update_hash_filename_ = ru/amarisoft-stats.jinja2.py
md5sum = a929fd3f143feb0e5a6973e854befd6a

[ru_libinstance.cfg.jinja2]
_update_hash_filename_ = ru/libinstance.cfg.jinja2
md5sum = c270c8826d6efd28b5c85715ca8392cb

[ru_sdr_libinstance.cfg.jinja2]
_update_hash_filename_ = ru/sdr/libinstance.cfg.jinja2
md5sum = b7906ca3a6b17963f78f680fc0842b74

[ru_sunwave_libinstance.cfg.jinja2]
_update_hash_filename_ = ru/sunwave/libinstance.cfg.jinja2
md5sum = bc5d82b8737b6990674b280ef2774be7

[ru_tapsplit]
_update_hash_filename_ = ru/tapsplit
md5sum = 700aab566289619fb83ac6f3b085d983

[ru_xbuildout.py]
_update_hash_filename_ = ru/xbuildout.py
md5sum = a51171f926edd315a52841c2e7eb9fb7

[ru_capdo.c]
_update_hash_filename_ = ru/capdo.c
md5sum = 52da9fe3a569199e35ad89ae1a44c30e

[template-enb]
_update_hash_filename_ = instance-enb.cfg.jinja2
md5sum = 73cb3d6668c1cc41279540c158763a1d

[json-ors-defaults]
_update_hash_filename_ = config/ors-defaults.json
md5sum = 521f40d0ac3b9d5fcbbb287557158b69

[template-ors-enb]
_update_hash_filename_ = instance-ors-enb.cfg.jinja2
md5sum = 3edb71d99d69508c2a6f8c727175e49e

[template-ors-ue]
_update_hash_filename_ = instance-ors-ue.cfg.jinja2
md5sum = 14f591dbb08e4c5863ffc80aab16653d

[template-core-network]
_update_hash_filename_ = instance-core-network.cfg.jinja2
md5sum = e0eeca3168f1be9224d7d70dff866ede

[template-test-model]
_update_hash_filename_ = instance-test-model.cfg.jinja2
md5sum = 0112bd44cd35222b9c6ee956b3a837d4

[template-ue]
_update_hash_filename_ = instance-ue.cfg.jinja2
md5sum = 717086de6b15bfc38239f869e82d8163

[parse-parameters.py]
_update_hash_filename_ = script/parse-parameters.py
md5sum = c2b08d312525406727f01df456b78feb

[amarisoft-log-rotate-sh]
_update_hash_filename_ = script/amarisoft-log-rotate.sh
md5sum = 7e59466653d4a52c124d1d5891ebc7dd

[ue_db.cfg.jinja2]
filename = config/ue_db.cfg.jinja2
md5sum = e40e65c3cccc38cfbc0bf39cd8b5c338

[enb.cfg.jinja2]
filename = config/enb.cfg.jinja2
md5sum = df1a9011ce0aa26021d4a17faa7d55ec

[drb_lte.cfg.jinja2]
filename = config/drb_lte.cfg.jinja2
md5sum = 742faa6e7905605d0c937747ff3117ba

[drb_nb.cfg.jinja2]
filename = config/drb_nb.cfg.jinja2
md5sum = d9b92c4f2b5f1e8b4ecd025c42eaa305

[drb_nr.cfg.jinja2]
filename = config/drb_nr.cfg.jinja2
md5sum = 08899ddfe2df4b912dbc2f1bd84f8ae4

[sib23.jinja2.asn]
filename = config/sib23.jinja2.asn
md5sum = 1ab214f4a813826b17e810a178035ad6

[sib2_nb.jinja2.asn]
filename = config/sib2_nb.jinja2.asn
md5sum = 0d52083c2dcf319f863f1c57ae76d0aa

[mt_call_qos.jinja2.sdp]
_update_hash_filename_ = config/mt_call_qos.jinja2.sdp
md5sum = 9dbd93036c15c87c6de74b88b34062b6

[mme.cfg.jinja2]
filename = config/mme.cfg.jinja2
md5sum = 321cd7fed6157614647cf2fe8f780002

[dnsmasq-core-network.cfg.jinja2]
filename = config/dnsmasq-core-network.cfg.jinja2
md5sum = c959e56cdfd04bedab42e1d6f549aa7a

[ru_dnsmasq.cfg.jinja2]
_update_hash_filename_ = ru/dnsmasq.cfg.jinja2
md5sum = 95f4f8fb85e0480eb3e9059b9db26540

[ims.cfg.jinja2]
filename = config/ims.cfg.jinja2
md5sum = d3e32d6e7833d57e9666cd0a1f888fd4

[ue.cfg.jinja2]
filename = config/ue.cfg.jinja2
md5sum = c9621a1f2a7ac101fde04cba741111d3

[software.cfg.html]
_update_hash_filename_ = gadget/software.cfg.html
md5sum = 61a2f783fbf683a34aed3d13e00baca2

[promise.gadget.js]
_update_hash_filename_ = gadget/promise.gadget.js
md5sum = 330f5f07806f1da11cd05bb8e4b52e55

[ue-ifup]
_update_hash_filename_ = config/ue-ifup
md5sum = c94b97d6babef2c6f4f7bc44ac68be83

[nginx_conf.in]
_update_hash_filename_ = config/nginx_conf.in
md5sum = e2496564695fb76b242c3e0f8d0ab6c3

[cell/common.json]
filename = cell/common.json
md5sum = b2a98188addfb83f07db3f587d537dd9
[cell/input-schema.json]
filename = cell/input-schema.json
md5sum = b96deb0abf27d70d1bec66892d9df87a
[cell/lte/input-schema.json]
filename = cell/lte/input-schema.json
md5sum = ed57b09d5900df2315aab00ceff901b0
[cell/nr/input-schema.json]
filename = cell/nr/input-schema.json
md5sum = 1e016a0b91695d9c4a9faaf558ee03e2
[cell/schema.json]
filename = cell/schema.json
md5sum = d5ef9f0a86056a34c042a06cd12eda93
[core-network-local-dns-entry.json]
filename = core-network-local-dns-entry.json
md5sum = ec73cf0a14d4e2ad66175a8e3cc2fc1a
[core-network-shared-input-schema.json]
filename = core-network-shared-input-schema.json
md5sum = 389a22b742e8354ecbaac86cb273987b
[instance-core-network-input-schema.json]
filename = instance-core-network-input-schema.json
md5sum = d3c5b4fae78dedd4514a1a44e105dd67
[instance-core-network-schema.json]
filename = instance-core-network-schema.json
md5sum = 93ff20b8de094c65ff03f50eb1995cf7
[instance-enb-input-schema.json]
filename = instance-enb-input-schema.json
md5sum = 23f279a2bc814a32a79d21b170276646
[instance-enb-item-input-schema.json]
filename = instance-enb-item-input-schema.json
md5sum = 78e2b2fcb7be96eea682137e483dd469
[instance-enb-item-schema.json]
filename = instance-enb-item-schema.json
md5sum = fa8922851d8b1635d9db224459bc35c3
[instance-enb-schema.json]
filename = instance-enb-schema.json
md5sum = 5921c3a78881133745ef75012c7a66a4
[instance-ors-duo-enb-gnb-c1-input-schema.json]
filename = instance-ors-duo-enb-gnb-c1-input-schema.json
md5sum = be2fcec15785263ae3773832b8fa76b2
[instance-ors-duo-enb-gnb-input-schema.json]
filename = instance-ors-duo-enb-gnb-input-schema.json
md5sum = bb29d6b57f949cfce772b74bc60743ad
[instance-ors-duo-test-model-input-schema.json]
filename = instance-ors-duo-test-model-input-schema.json
md5sum = d94ce84b32538bb5b9c1cb44a1407ea6
[instance-ors-duo-ue-input-schema.json]
filename = instance-ors-duo-ue-input-schema.json
md5sum = 3fea79259b1c5c6368506f27bf215cf3
[instance-ors-enb-gnb-c1-input-schema.json]
filename = instance-ors-enb-gnb-c1-input-schema.json
md5sum = 344da1ade2159d3986f9588a646d18a4
[instance-ors-enb-gnb-input-schema.json]
filename = instance-ors-enb-gnb-input-schema.json
md5sum = d525b1d999173b5d8e1ed8725345b09b
[instance-ors-enb-schema.json]
filename = instance-ors-enb-schema.json
md5sum = d3ca3b829fd7d1eded66d7db5d86322f
[instance-ors-gnb-c1-input-schema.json]
filename = instance-ors-gnb-c1-input-schema.json
md5sum = 36f062b284719526fe59f07640908324
[instance-ors-gnb-schema.json]
filename = instance-ors-gnb-schema.json
md5sum = 9dafa182ff835ac1334093b1c9131e47
[instance-ors-ue-input-schema.json]
filename = instance-ors-ue-input-schema.json
md5sum = 35a41afe1c7ec26dbea8c373df8dbc70
[instance-ors-ue-schema.json]
filename = instance-ors-ue-schema.json
md5sum = ac69eaebb3a23e5b8006176cc16abd1b
[instance-test-model-input-schema.json]
filename = instance-test-model-input-schema.json
md5sum = c3cbe2866b601b2607f1841ae8bc52c7
[instance-test-model-schema.json]
filename = instance-test-model-schema.json
md5sum = 0495c539c379c431ea764484d7889a40
[instance-ue-input-schema.json]
filename = instance-ue-input-schema.json
md5sum = e332163d88ca36d93785857de1a78e28
[instance-ue-item-input-schema.json]
filename = instance-ue-item-input-schema.json
md5sum = 83524f05c0b0b11537177067cd30a7bd
[instance-ue-item-schema.json]
filename = instance-ue-item-schema.json
md5sum = 6033c39f43e5bc8c9767c61de577eb00
[instance-ue-schema.json]
filename = instance-ue-schema.json
md5sum = 35a59bfdc99a7ca42b73a46f70e3be6a
[ors-cell.json]
filename = ors-cell.json
md5sum = e7e5744f9af66e3c271a120ce1bc6ac3
[ors-cell-secondary.json]
filename = ors-cell-secondary.json
md5sum = 0954e0143776a36643b6ba2400b0554a
[ors-enb-cell.json]
filename = ors-enb-cell.json
md5sum = 8b33f8c9a5b54034da280400c4cefc9a
[ors-enb-gnb-classic.json]
filename = ors-enb-gnb-classic.json
md5sum = cd968f4ea15c1606ed9410c3483a2c3c
[ors-enb-gnb-duo.json]
filename = ors-enb-gnb-duo.json
md5sum = 80d6fadb07b1b2875a77226839da5d32
[ors-enb-gnb.json]
filename = ors-enb-gnb.json
md5sum = 96f758888f6ebe5f58b25e7aec4e416b
[ors-gnb-cell.json]
filename = ors-gnb-cell.json
md5sum = 8daa0d9cd921678af46c614af0496a8a
[ors-lte-ue.json]
filename = ors-lte-ue.json
md5sum = cdebbccf7f72c04ad8776e306c7038cf
[ors-nb-cell.json]
filename = ors-nb-cell.json
md5sum = dbbc68f2b5874b1750be8df884f4937e
[ors-nr-ue.json]
filename = ors-nr-ue.json
md5sum = 0c4709ca851cb41d79924ff50f425e03
[ors-params.json]
filename = ors-params.json
md5sum = 62d1fde3937a355682100b99452cfd47
[ors-ue-duo.json]
filename = ors-ue-duo.json
md5sum = 62f03d83c28c187bc8e9715edc3952ff
[ors-ue.json]
filename = ors-ue.json
md5sum = 4c0cbcb51f1312d9aabed617086488db
[ors-ue-sim-milenage.json]
filename = ors-ue-sim-milenage.json
md5sum = a05e683663331289f60144942dcf87d0
[ors-ue-sim-xor.json]
filename = ors-ue-sim-xor.json
md5sum = b13b00fd5e4b0ec27573bef3e53fdfce
[peer/cell/common.json]
filename = peer/cell/common.json
md5sum = 0c828f5ce1f6c91199157108677463e6
[peer/cell/input-schema.json]
filename = peer/cell/input-schema.json
md5sum = d13e272ddab191fbc89861bc07f95fed
[peer/cell/lte/input-schema.json]
filename = peer/cell/lte/input-schema.json
md5sum = d95be37e88934e24377e572929504267
[peer/cell/nr/input-schema.json]
filename = peer/cell/nr/input-schema.json
md5sum = 54a97fa203f0f12f9046f010df0d9f10
[peer/cell/schema.json]
filename = peer/cell/schema.json
md5sum = ca3bb34e544ae589262b6851f32fe9a6
[peer/common.json]
filename = peer/common.json
md5sum = a993cfdd25c09814868521b7ed7ec5bd
[peer/input-schema.json]
filename = peer/input-schema.json
md5sum = a89829b7e6825fb764cd718f53271b71
[peer/lte/input-schema.json]
filename = peer/lte/input-schema.json
md5sum = e269e9526d3f18e63c41c14b66783f84
[peer/nr/input-schema.json]
filename = peer/nr/input-schema.json
md5sum = 898cd606c3385f4e1ac27723926648cb
[peer/schema.json]
filename = peer/schema.json
md5sum = 78352e1cec88fea5be356566a9bf0e07
[ru/common.json]
filename = ru/common.json
md5sum = 1852916022b2073c63c5a2616cf771d0
[ru/input-schema.json]
filename = ru/input-schema.json
md5sum = 7dcae04227a26cee336a7e676bd3a69a
[ru/schema.json]
filename = ru/schema.json
md5sum = 02c98b4ab1e37fc1dcbef934e6e7384e
[ru/sdr/input-schema.json]
filename = ru/sdr/input-schema.json
md5sum = 189dc71de63263badbe41a34a10dac88
[ru/sunwave/input-schema.json]
filename = ru/sunwave/input-schema.json
md5sum = 5cea7838a83ed53911be3db31a926c3d
[sim/common.json]
filename = sim/common.json
md5sum = 03cebbd211d4e872681f7b53115e2b6e
[sim/input-schema-milenage.json]
filename = sim/input-schema-milenage.json
md5sum = dbfe5fd3bc78039d91ccb84a71fd954c
[sim/input-schema-xor.json]
filename = sim/input-schema-xor.json
md5sum = 727884f521b047b5bd291a35044625c2
[sim/schema.json]
filename = sim/schema.json
md5sum = 60926c363ea40bc2a839285464f8ebb1
[software.cfg.json]
filename = software.cfg.json
md5sum = d18bd7ac6d33a265b095125209575feb
[software-ors-c1.cfg.json]
filename = software-ors-c1.cfg.json
md5sum = 54b12c1d7a1215338b1f0d5f1218a3d9
[software-ors-c1-gnb.cfg.json]
filename = software-ors-c1-gnb.cfg.json
md5sum = 3f52d6f165d0a603196a5f3e936547d8
[software-ors.cfg.json]
filename = software-ors.cfg.json
md5sum = 6a74f0eb47674c620f916fd6e1dcb037
[software-ors-duo-c1.cfg.json]
filename = software-ors-duo-c1.cfg.json
md5sum = 9efc330c03f4383be1cb8e7cc3105c9e
[software-ors-duo.cfg.json]
filename = software-ors-duo.cfg.json
md5sum = 3eb4a41d4dfb48cea061407d461e4232
[test-model-cell.json]
filename = test-model-cell.json
md5sum = 2196bb1f17521bdf8af3425d62ffcc24
[test-model-nodeb.json]
filename = test-model-nodeb.json
md5sum = 4c675cb1ffee9042a56505964f43f285
[ue/cell/common.json]
filename = ue/cell/common.json
md5sum = de8f3b74ebe9271bc384d379362f1ee9
[ue/cell/input-schema.json]
filename = ue/cell/input-schema.json
md5sum = f2e07bd7d54bd8cc28bc7f4f57953e46
[ue/cell/lte/input-schema.json]
filename = ue/cell/lte/input-schema.json
md5sum = dc688675362b0f47f3ef10a57aa26ac7
[ue/cell/nr/input-schema.json]
filename = ue/cell/nr/input-schema.json
md5sum = 346a0f7c30e204f313a71dc75e64769e
[ue/cell/schema.json]
filename = ue/cell/schema.json
md5sum = 60be14c5ff4d050abf6ccd7e4f3e0d17
[ue/common.json]
filename = ue/common.json
md5sum = 1caa26e04e878e6b263f87bcff53451d
[ue/input-schema.json]
filename = ue/input-schema.json
md5sum = fe65162b6017b20d7e6164a681126e8d
[ue/lte/input-schema.json]
filename = ue/lte/input-schema.json
md5sum = 173b23be1ebb931a9b9ce50edaeec465
[ue/nr/input-schema.json]
filename = ue/nr/input-schema.json
md5sum = 28bc758a176c9f6e0e635712458ca0ea
[ue/schema.json]
filename = ue/schema.json
md5sum = e77a7270d12003e0ae501401bf4cdcd5
