# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     But avoid directories, they are not portable.
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg
md5sum = 9945af8e292ed26ba8c8583a0af2c41c

[template-ors]
filename = instance-ors.cfg
md5sum = e45fec92d539566ff01e1eb2e8ae6796

[slaplte.jinja2]
_update_hash_filename_ = slaplte.jinja2
md5sum = 726b47c6e896bc22dfdabb2213596fc2

[ru_amarisoft-stats.jinja2.py]
_update_hash_filename_ = ru/amarisoft-stats.jinja2.py
md5sum = b492c3a520d48b9c45ea583eec435109

[ru_amarisoft-rf-info.jinja2.py]
_update_hash_filename_ = ru/amarisoft-rf-info.jinja2.py
md5sum = 3b6c08d7685e7c93ab451bec25e4815f

[ru_libinstance.jinja2.cfg]
_update_hash_filename_ = ru/libinstance.jinja2.cfg
md5sum = dc3a6fd65d3d40f79ae9ddc45e23a738

[ru_sdr_libinstance.jinja2.cfg]
_update_hash_filename_ = ru/sdr/libinstance.jinja2.cfg
md5sum = b7906ca3a6b17963f78f680fc0842b74

[ru_sunwave_libinstance.jinja2.cfg]
_update_hash_filename_ = ru/sunwave/libinstance.jinja2.cfg
md5sum = bc5d82b8737b6990674b280ef2774be7

[ru_tapsplit]
_update_hash_filename_ = ru/tapsplit
md5sum = 700aab566289619fb83ac6f3b085d983

[ru_xbuildout.py]
_update_hash_filename_ = ru/xbuildout.py
md5sum = a51171f926edd315a52841c2e7eb9fb7

[ru_capdo.c]
_update_hash_filename_ = ru/capdo.c
md5sum = 52da9fe3a569199e35ad89ae1a44c30e

[template-enb]
_update_hash_filename_ = instance-enb.jinja2.cfg
md5sum = 600afb8d9cb34364bb9be94fd490435e

[template-ors-enb]
_update_hash_filename_ = instance-ors-enb.jinja2.cfg
md5sum = 70b923bb5027221cf300fcc075c01448

[template-ors-ue]
_update_hash_filename_ = instance-ors-ue.jinja2.cfg
md5sum = 90d51e718b454ac5c211a0f45340d96b

[template-core-network]
_update_hash_filename_ = instance-core-network.jinja2.cfg
md5sum = 29906e26b8198f3985ff3a8f00f929e6

[template-ue]
_update_hash_filename_ = instance-ue.jinja2.cfg
md5sum = 5c9694a26478f5f72c2ab94b5fdc9a7c

[amarisoft-log-rotate-sh]
_update_hash_filename_ = script/amarisoft-log-rotate.sh
md5sum = 7e59466653d4a52c124d1d5891ebc7dd

[ue_db.jinja2.cfg]
filename = config/ue_db.jinja2.cfg
md5sum = 8d3e569cc574186d25d1e81919dfded5

[enb.jinja2.cfg]
filename = config/enb.jinja2.cfg
md5sum = 1f1fca7cc8503ec587c3f2c3c35b6416

[drb_lte.jinja2.cfg]
filename = config/drb_lte.jinja2.cfg
md5sum = 742faa6e7905605d0c937747ff3117ba

[drb_nr.jinja2.cfg]
filename = config/drb_nr.jinja2.cfg
md5sum = 08899ddfe2df4b912dbc2f1bd84f8ae4

[sib23.jinja2.asn]
filename = config/sib23.jinja2.asn
md5sum = 1ab214f4a813826b17e810a178035ad6

[mt_call_qos.jinja2.sdp]
_update_hash_filename_ = config/mt_call_qos.jinja2.sdp
md5sum = 9dbd93036c15c87c6de74b88b34062b6

[mme.jinja2.cfg]
filename = config/mme.jinja2.cfg
md5sum = 55b82ed91099e9f2135d2124acc07b13

[dnsmasq-core-network.jinja2.cfg]
filename = config/dnsmasq-core-network.jinja2.cfg
md5sum = f167b4be5e327b276b42267e0678f577

[ru_dnsmasq.jinja2.cfg]
_update_hash_filename_ = ru/dnsmasq.jinja2.cfg
md5sum = 95f4f8fb85e0480eb3e9059b9db26540

[ims.jinja2.cfg]
filename = config/ims.jinja2.cfg
md5sum = 8379c4edcccc03db94acceca77e3cd07

[ue.jinja2.cfg]
filename = config/ue.jinja2.cfg
md5sum = 867e1e3b18464cb7975aa283c6b288ee

[software.cfg.html]
_update_hash_filename_ = gadget/software.cfg.html
md5sum = 61a2f783fbf683a34aed3d13e00baca2

[promise.gadget.js]
_update_hash_filename_ = gadget/promise.gadget.js
md5sum = 330f5f07806f1da11cd05bb8e4b52e55

[ue-ifup]
_update_hash_filename_ = config/ue-ifup
md5sum = c94b97d6babef2c6f4f7bc44ac68be83

[nginx_conf.in]
_update_hash_filename_ = config/nginx_conf.in
md5sum = e2496564695fb76b242c3e0f8d0ab6c3
