
.offer {
	
}

.offer ul {
	margin: 0;
	padding: 31px 0 0 0;
	list-style-type: none;
	text-align: center;
}

.offer ul li {
	display: inline;
	width: 278px;
	padding: 0;
	margin: 0;
}

.offer ul li .theoffer {
	display: inline-block;
	width: 277px;
	color: #fff;
	margin: 0 auto 45px auto;
	text-decoration: none;
}

.offer ul li .theoffer a:visited, 
.offer ul li .theoffer a {
	color: #fff;
	text-decoration: none;
}


.offer ul li .theoffer span {
	display: block;
}

.offer .top {
	background: rgb(107,139,155);
	-webkit-box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
        -moz-box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
            box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
}

.offer .conditions {
	width: 100%;
	margin-top: 1px;
	background: rgb(119,158,177);
	-webkit-box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
        -moz-box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
            box-shadow: inset 0 0px 70px rgba(0,0,0,0.1);
}

.offer a.conditions {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
}


.offer a.conditions:hover {
	background: rgb(62,102,122);
}

.offer .system,
.offer .terms {
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 17px 0;
}

.offer .offername {
	font-size: 3.7em;
	font-weight: 700;
	padding: 12px 0 14px 0;
}

.offer .conditions strong {
	display: inline-block;
	padding: 12px 0 8px 0;
	margin: 0;
	font-size: 1.5em;
	font-weight: 600;
	text-transform: uppercase;
}

.offer .desc {
	padding: 0 0 10px 0;
	font-size: 0.9em;
}

.offer ul li .theoffer {
   margin: 0 20px 45px 20px;
  }

li {
  margin-left: 20px;
}