# ru/buildout.cfg provides common software code for handling Radio Units.

[buildout]
extends =
  sdr/buildout.cfg
  lopcomm/buildout.cfg
  sunwave/buildout.cfg

[ru_libinstance.jinja2.cfg]
<= download-base
