[buildout]
parts =
  pcre

[pcre]
recipe = slapos.recipe.cmmi
url = http://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.40.tar.bz2
md5sum = 41a842bf7dcecd6634219336e2167d1d 
configure-options =
  --disable-static
  --enable-unicode-properties
