[buildout]
versions = versions

parts =
  template
  apache-php
  mariadb
  eggs
  instance-recipe-egg
  
extends =
  ../../stack/lamp.cfg

[application]
recipe = slapos.recipe.build:download-unpacked
url = http://freefr.dl.sourceforge.net/project/xaraya/Core%20plus%20Modules/Xaraya%201.2.3%20Core%20Plus/xaraya-1.2.3-full.tar.gz
md5sum = c2fd2daa5335d262b4288e456c233434
script =
  if not self.options.get('url'): self.options['url'], self.options['md5sum'] = self.options[guessPlatform()].split(' ')
  extract_dir = self.extract(self.download(self.options['url'], self.options.get('md5sum')))
  workdir = guessworkdir(extract_dir)
  self.copyTree(workdir + "/html", "${buildout:parts-directory}/${:_buildout_section_name_}")
  
[instance-recipe]
egg = slapos.cookbook
module = lamp.simple

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
#${:_profile_base_location_}/instance.cfg
#md5sum = Student shall put md5 of instance.cfg here
output = ${buildout:directory}/template.cfg
mode = 0644

[instance-recipe-egg]
recipe = zc.recipe.egg
eggs =
    ${mysql-python:egg}
    ${instance-recipe:egg}
    slapos.toolbox[lampconfigure]

