[buildout]
extends =
  ../git/buildout.cfg
  ../depot_tools/buildout.cfg
parts =
  v8

[v8]
recipe = slapos.recipe.build
version = 4.10.253
location = ${buildout:parts-directory}/v8-${:version}
script =
  location = %(location)r
  location__compile__ = location + "__compile__"
  location__compile__v8 = os.path.join(location__compile__, "v8")
  v8_patch_location = os.path.join("${:_profile_base_location_}", "v8.patch")
  self.failIfPathExists(location)
  import shutil
  if os.path.exists(location__compile__): shutil.rmtree(location__compile__)
  os.mkdir(location__compile__)
  env = os.environ.copy()
  env["PATH"] = "${depot_tools:location}:${git:location}/bin" + (":" + env["PATH"] if env.get("PATH") else "")
  call(["gclient"], env=env, cwd=location__compile__)
  call(["fetch", "v8"], env=env, cwd=location__compile__)
  call(["gclient", "sync", "-r", "${:version}"], env=env, cwd=location__compile__)
  #call(["gn", "args", "out.gn/slapos"], env=env, cwd=location__compile__v8)
  #call(["ninja", "-C", "out.gn/slapos"], env=env, cwd=location__compile__v8)
  call(["git", "apply", v8_patch_location], env=env, cwd=location__compile__v8)
  env = os.environ.copy()
  #env["CXXFLAGS"] = env["CFLAGS"] = "-fPIC"
  call(["make", "native", "GYPFLAGS=-Dclang=0"], env=env, cwd=os.path.join(location__compile__v8))
  shutil.rmtree(os.path.join(location__compile__v8, ".git"))  # free some space ~350MB
  shutil.move(location__compile__v8, location)
  shutil.rmtree(location__compile__)

[v8-4]
<= v8
[v8-4.10]
<= v8-4
[v8-4.10.253]
<= v8-4.10
