[buildout]
extends =
  buildout.hash.cfg
  ../../stack/slapos.cfg
  ../../component/headless-chromium/buildout.cfg
  ../../component/dash/buildout.cfg

parts =
  slapos-cookbook
  template-cfg

# We are compiling a custom version of Nginx because we need the http_sub module enabled.
[nginx]
recipe = slapos.recipe.cmmi
shared = false
url = https://nginx.org/download/nginx-1.19.2.tar.gz
md5sum = 3dc55f6451ed6f819f1c796f4e5e9617
configure-options=
  --with-http_ssl_module
  --with-http_v2_module
  --with-http_gzip_static_module
  --with-http_realip_module
  --with-http_sub_module
  --with-ld-opt="-L ${openssl:location}/lib -L ${pcre:location}/lib -L ${zlib:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${pcre:location}/lib -Wl,-rpath=${zlib:location}/lib"
  --with-cc-opt="-I ${openssl:location}/include -I ${pcre:location}/include -I ${zlib:location}/include"

[template-cfg]
recipe = slapos.recipe.template:jinja2
rendered = ${buildout:directory}/template.cfg
template = ${:_profile_base_location_}/${:filename}
mode = 0644
context =
  section buildout buildout
  key dash_location dash:location
  key nginx_location nginx:location
  key chromium_wrapper chromium-wrapper:location
  key template_launcher_target template-chromium-launcher:target
  key template_nginx_config_target template-nginx-conf:target
  key template_nginx_launcher_target template-nginx-launcher:target
  key template_instance_headless_chromium_target instance-headless-chromium:target

[download-base]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:_update_hash_filename_}
mode = 0644

[instance-headless-chromium]
<= download-base

[template-chromium-launcher]
<= download-base

[template-nginx-conf]
<= download-base

[template-nginx-launcher]
<= download-base
