[buildout]
parts =
  rpm2cpio

[rpm2cpio]
# https://github.com/yuseitahara/rpm2cpio
recipe = slapos.recipe.build:download
shared = true
url = https://raw.githubusercontent.com/yuseitahara/rpm2cpio/68501e007adefc65a147a805d214082ee09b460b/rpm2cpio.py
md5sum = 744f200d8bd1652791638133ff91b40f
