[buildout]
extends =
  ../pygolang/buildout.cfg
  ../git/buildout.cfg


[nxdtest]
recipe  = zc.recipe.egg:scripts
eggs    = ${pygolang:egg}
          ${nxdtest-egg:egg}
scripts = nxdtest
# convenience for nxdtest users
exe     = ${buildout:bin-directory}/nxdtest

[nxdtest-egg]
recipe  = zc.recipe.egg:develop
setup   = ${nxdtest-repository:location}
egg     = nxdtest

[nxdtest-repository]
recipe  = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/nxdtest.git
revision = b5a74214
location = ${buildout:parts-directory}/nxdtest
git-executable = ${git:location}/bin/git
