[buildout]
extends =
  ../libexpat/buildout.cfg
  ../perl/buildout.cfg
  ../perl-libwww-perl/buildout.cfg
parts =
  perl-XML-Parser

[perl-XML-Parser]
<= perl-CPAN-package
module = XML/XML-Parser
version = 2.41
md5sum = c320d2ffa459e6cdc6f9f59c1185855e

inc = ${perl-libwww-perl:site_perl}
install-inc = blib/lib
extra-configure-args =
    EXPATINCPATH=${libexpat:location}/include \
    EXPATLIBPATH=${libexpat:location}/lib
# Parallel make does not work for this package on fast machines
# with many cores
make-options =
  OTHERLDFLAGS="-Wl,-rpath=${libexpat:location}/lib" -j1
