[buildout]

parts = gawk

extends = ../libiconv/buildout.cfg

[gawk]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/gawk/gawk-4.0.1.tar.gz
configure-options =
  --with-libiconv-prefix=${libiconv:location}