# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance.cfg]
filename = instance.cfg.in
md5sum = da50540b1c0fc69ffbf8f6e345a3baad

[instance-repman.cfg]
_update_hash_filename_ = instance-repman.cfg.jinja2.in
md5sum = 2b5552d587e7735b4ff6daec24fcb8c1

[config-toml.in]
_update_hash_filename_ = templates/config.toml.in
md5sum = 5cfa75ca5a0048a050c0041dfe541f3d

[config-cluster-toml.in]
_update_hash_filename_ = templates/cluster-config.toml.in
md5sum = 9be37f86d0fad81cc13e64c5a0557c59

[nginx.conf.in]
_update_hash_filename_ = templates/nginx.conf.in
md5sum = 0eeb24c6aa0760f0d33c4cc2828ddf30

[template-mariadb.cfg]
_update_hash_filename_ = instance-mariadb.cfg.jinja2.in
md5sum = 63af2f4fc184cfc9d09f8b72dee5165a

[template-my-cnf]
_update_hash_filename_ = templates/my.cnf.in
md5sum = 04a12d3271857fcf29cb010fd7e38a5c

[template-mariadb-initial-setup]
_update_hash_filename_ = templates/mariadb_initial_setup.sql.in
md5sum = c31618ef115ecd72b30ae59d0440a3ec

[mariadb-init-root-sql]
_update_hash_filename_ = templates/mariadb_init_root.sql.in
md5sum = 864d419ea506c9ac543409ba7abb22b0

[init-root-wrapper-in]
_update_hash_filename_ = templates/init_root_wrapper.in
md5sum = 3ba02b99c3fcbc24b3659917980b310f

[repman-manager-sh.in]
_update_hash_filename_ = templates/repman-manager.sh.in
md5sum = 99324b56192003254081ef336dcee94c

[dbjobs-in]
_update_hash_filename_ = templates/dbjobs.in
md5sum = 9731eff8918fa3e68198de6b1d45ecfa

[mysqld-need-start.sh.in]
_update_hash_filename_ = templates/mysqld-need-start.sh.in
md5sum = e9bcee5dc1318fe3acda2663472214f5

[proxy-need-start-stop.sh.in]
_update_hash_filename_ = templates/proxy-need-start-stop.sh.in
md5sum = 455aaf369bf5141758dc57f2c0e67b08
