# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance.cfg]
filename = instance.cfg.in
md5sum = af2fc4a7a0f782fed2cb1112ef3cb397

[instance-repman.cfg]
_update_hash_filename_ = instance-repman.cfg.jinja2.in
md5sum = fb5eb99405b1a9357b6709b3d2af727b

[config-toml.in]
_update_hash_filename_ = templates/config.toml.in
md5sum = 28ab31bbf073f777221f90902e9d435e

[config-cluster-toml.in]
_update_hash_filename_ = templates/cluster-config.toml.in
md5sum = ff44b81dc1177e32019ddbf4f1c6b616

[nginx.conf.in]
_update_hash_filename_ = templates/nginx.conf.in
md5sum = 0eeb24c6aa0760f0d33c4cc2828ddf30

[template-mariadb.cfg]
_update_hash_filename_ = instance-mariadb.cfg.jinja2.in
md5sum = 33c7e5a4039744127ed4ebefc5b1d9a7

[template-my-cnf]
_update_hash_filename_ = templates/my.cnf.in
md5sum = f3661b788099bb31d71ba6e7d36836d9

[template-mariadb-initial-setup]
_update_hash_filename_ = templates/mariadb_initial_setup.sql.in
md5sum = 4e6014b96fcee7e7cb91ff790d09a125

[template-publish-slave-information]
_update_hash_filename_ = publish-database-slave-parameters.cfg.in
md5sum = 9616477ff993c55c2b43bf8797db6994

[mariadb-init-root-sql]
_update_hash_filename_ = templates/mariadb_init_root.sql.in
md5sum = 6e5c02542568f250aacd84694249efc0

[init-root-wrapper-in]
_update_hash_filename_ = templates/init_root_wrapper.in
md5sum = c203f40a58386310a433b58fd345a341

[repman-manager-sh.in]
_update_hash_filename_ = templates/repman-manager.sh.in
md5sum = 852dfab6d798aa1382eec4de2fd624f9

[dbjobs-in]
_update_hash_filename_ = templates/dbjobs.in
md5sum = 4c49dd02a6a85e27657bb66176a91b0a

[mysqld-need-start.sh.in]
_update_hash_filename_ = templates/mysqld-need-start.sh.in
md5sum = 8f14054b3761b167cf8a86f4f084a574

[proxy-need-start-stop.sh.in]
_update_hash_filename_ = templates/proxy-need-start-stop.sh.in
md5sum = 455aaf369bf5141758dc57f2c0e67b08

[slave-db-manage.in]
_update_hash_filename_ = templates/slave-db-manage.in
md5sum = b9220b1867974d4164abcb48ed01872f
