# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[instance.cfg]
filename = instance.cfg.in
md5sum = 8daeb8d8743ca1b22e2c29e994e69df2

[instance-repman.cfg]
_update_hash_filename_ = instance-repman.cfg.jinja2.in
md5sum = 51d53f5fff8c9918984578de0a7bca77

[config-toml.in]
_update_hash_filename_ = templates/config.toml.in
md5sum = 0a4ce036ea524373a85fac10e81edb96

[config-cluster-toml.in]
_update_hash_filename_ = templates/cluster-config.toml.in
md5sum = 8cdeb63a2acc294801266f24599f6d32

[nginx.conf.in]
_update_hash_filename_ = templates/nginx.conf.in
md5sum = 0eeb24c6aa0760f0d33c4cc2828ddf30

[template-mariadb.cfg]
_update_hash_filename_ = instance-mariadb.cfg.jinja2.in
md5sum = d1efa1148ef1d4fb3f2869f08ce85fd2

[template-my-cnf]
_update_hash_filename_ = templates/my.cnf.in
md5sum = f3661b788099bb31d71ba6e7d36836d9

[template-mariadb-initial-setup]
_update_hash_filename_ = templates/mariadb_initial_setup.sql.in
md5sum = 47b76144e1b116580c8acf08274af976

[template-publish-slave-information]
_update_hash_filename_ = publish-database-slave-parameters.cfg.in
md5sum = 2e9f3afde619e20f08803013a4225e94

[mariadb-init-root-sql]
_update_hash_filename_ = templates/mariadb_init_root.sql.in
md5sum = 6e5c02542568f250aacd84694249efc0

[init-root-wrapper-in]
_update_hash_filename_ = templates/init_root_wrapper.in
md5sum = c203f40a58386310a433b58fd345a341

[repman-manager-sh.in]
_update_hash_filename_ = templates/repman-manager.sh.in
md5sum = 70201395116d79b5bb4aabef13079c10

[dbjobs-in]
_update_hash_filename_ = templates/dbjobs.in
md5sum = d5c19d866c5a76d3bc2f434a91b1553a

[mysqld-need-start.sh.in]
_update_hash_filename_ = templates/mysqld-need-start.sh.in
md5sum = 8f14054b3761b167cf8a86f4f084a574

[proxy-need-start-stop.sh.in]
_update_hash_filename_ = templates/proxy-need-start-stop.sh.in
md5sum = 455aaf369bf5141758dc57f2c0e67b08

[slave-db-manage.in]
_update_hash_filename_ = templates/slave-db-manage.in
md5sum = a995bcd2751739710ba01a269d3d5b46
