[buildout]

extends =
  ../../stack/slapos.cfg
  ../../stack/monitor/buildout.cfg
  ../../component/replication-manager/buildout.cfg
  ../../component/git/buildout.cfg

parts =
  slapos-cookbook
  download-config-toml
  template
  repman
  repman-repository


[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
mode = 0644
output = ${buildout:directory}/template.cfg
filename = instance.cfg.in


[download-config-toml]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/templates/config.toml.in
destination = ${buildout:directory}/config.toml.in
mode = 644

# Pin versions of eggs used that are not already pinned by stack/slapos.cfg
[versions]
slapos.recipe.template = 4.3
rubygemsrecipe  = 0.2.2+slapos001

[repman-repository]
recipe  = slapos.recipe.build:gitclone
git-executable = ${git:location}/bin/git
location = ${buildout:directory}/src
branch = 2.1
repository = https://github.com/signal18/replication-manager
