[buildout]
versions = versions

parts =
  template
  apache-php
  mariadb
  eggs
  instance-recipe-egg

extends =
   ../../stack/lamp.cfg
  
[application]
recipe = slapos.recipe.build:download-unpacked
url = http://chamilo.googlecode.com/files/chamilo-1.8.8.4.zip
md5sum = 38ea9bc58e1ef5baa334a9b103dda98c
 
[instance-recipe]
egg = slapos.cookbook
module = lamp.simple

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
#md5sum = Student shall put md5 of instance.cfg here
output = ${buildout:directory}/template.cfg
mode = 0644

[instance-recipe-egg]
recipe = zc.recipe.egg
eggs = ${instance-recipe:egg}
