[buildout]
extends =
   ../../component/xorg/buildout.cfg
   ../../component/lxml-python/buildout.cfg
   ../../component/firefox/buildout.cfg
   ../../component/dash/buildout.cfg
   ../../stack/slapos.cfg
   ./buildout.hash.cfg

# develop += /opt/slapdev

parts =
   slapos-cookbook
   template
   eggs
   instance-recipe-egg
   xserver
   firefox-wrapper
   geckodriver
   xwd

[instance-recipe]
egg = slapos.cookbook
module = seleniumrunner

[instance-recipe-egg]
recipe = zc.recipe.egg
eggs = ${instance-recipe:egg}

[eggs]
recipe = zc.recipe.egg
eggs =
  ${lxml-python:egg}


[macro-template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/${:filename}
mode = 0644

[template]
<= macro-template
output = ${buildout:directory}/template.cfg

[template-selenium]
<= macro-template
output = ${buildout:directory}/template-selenium.cfg

[versions]
plone.recipe.command = 1.1
slapos.recipe.template = 4.3
