[buildout]
extends =
  ../zlib/buildout.cfg

parts =
  libpng

[libpng]
recipe = slapos.recipe.cmmi
dependencies = zlib
url = http://download.sourceforge.net/libpng/libpng-1.5.12.tar.bz2
md5sum = d87f9c34ccab8242c00e41925839f6c9
configure-options =
  --disable-static

[x86-linux-libpng]
environment =
  CPPFLAGS =-I${zlib:location}/include
  LDFLAGS =-L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib

