[buildout]
extends =
  ../wget/buildout.cfg
  ../numpy/buildout.cfg
  ../scipy/buildout.cfg
  ../matplotlib/buildout.cfg
  ../pillow/buildout.cfg
  ../lxml-python/buildout.cfg

parts = ocropy

[ocropy-source]
location = ${ocropy:location}
recipe = slapos.recipe.build:gitclone
repository = https://github.com/tmbdev/ocropy.git
branch = master
revision = 4efbddca22bb2f0c639af0694e7a1386f2f097b5
git-executable = ${git:location}/bin/git
prefix = ${buildout:parts-directory}/${:_buildout_section_name_}
use-cache = true

[ocropy-eng-traineddata]
recipe = hexagonit.recipe.download
destination = ${python2.7:location}/share/ocropus
filename = en-default.pyrnn.gz
download-only = true
url = http://www.tmbdev.net/en-default.pyrnn.gz

[ocropy]
recipe = plone.recipe.command
location = ${buildout:parts-directory}/${:_buildout_section_name_}
command =
  export PYTHONPATH=${:location}
  cd ${ocropy-source:location}/
  gunzip -d ${ocropy-eng-traineddata:location}/${ocropy-eng-traineddata:filename}
  patch ocrolib/__init__.py ${:_profile_base_location_}/ocropy.patch 
  env PATH=${python2.7:location}/bin:$PATH python setup.py install
stop-on-error = true
