[buildout]
extends =
  ../xz-utils/buildout.cfg
  ../p7zip/buildout.cfg

parts =
  android-fonts
  dejavu-fonts
  ipa-fonts
  ipaex-fonts
  liberation-fonts
  ocrb-fonts
  source-code-pro-fonts
  jetbrains-mono-fonts


[fonts-base]
recipe = slapos.recipe.build:download-unpacked
shared = true
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s

# Liberation(tm) Fonts - a font family which aims at metric
# compatibility with Arial, Times New Roman, and Courier New.
[liberation-fonts]
<= fonts-base
url = https://releases.pagure.org/liberation-fonts/liberation-fonts-ttf-2.00.1.tar.gz
md5sum = 5c781723a0d9ed6188960defba8e91cf

# IPAex and IPA Font - Japanese fonts provided by IPA
# http://ipafont.ipa.go.jp/
[ipaex-fonts]
<= fonts-base
url = https://archive.debian.org/debian-archive/debian/pool/main/f/fonts-ipaexfont/fonts-ipaexfont_00201.orig.tar.xz
md5sum = 4d75fe25053ea157b674d7cffb0fc001

[ipa-fonts]
<= fonts-base
url = https://archive.debian.org/debian-archive/debian/pool/main/f/fonts-ipafont/fonts-ipafont_00303.orig.tar.gz
md5sum = 0cd89e91c3930f1df3ba3d4b5d9fdef6

[ocrb-fonts]
<= fonts-base
url = https://archive.debian.org/debian-archive/debian/pool/main/f/fonts-ocr-b/fonts-ocr-b_0.2~dfsg1.orig.tar.gz
md5sum = 4472f6a18bb0fb15bb77fc7504da63c2

[android-fonts]
<= fonts-base
url = https://archive.debian.org/debian-archive/debian/pool/main/f/fonts-android/fonts-android_4.3.orig.tar.xz
md5sum = 2d41d5342eb5f61591ddeec5b80da74d

# The DejaVu fonts are a font family based upon Bitstream Vera v1.10. Its purpose is to
# provide a wider range of characters while maintaining the original look-and-feel
[dejavu-fonts]
<= fonts-base
url = https://github.com/dejavu-fonts/dejavu-fonts/releases/download/version_2_37/dejavu-fonts-ttf-2.37.tar.bz2
md5sum = d0efec10b9f110a32e9b8f796e21782c

[source-code-pro-fonts]
<= fonts-base
url = https://codeload.github.com/adobe-fonts/source-code-pro/zip/235b72fc43a46cacf36e7c9b45d8d4fc0d121099
md5sum = b25e165c3fb984bbf6d847adfbd9d694

[jetbrains-mono-fonts]
<= fonts-base
url = https://download.jetbrains.com/fonts/JetBrainsMono-2.001.zip
md5sum = 62f02985bfef43a27dbdd17641fec210

# Microsoft's TrueType core fonts
# non-free so not enabled by default
[msttcore-fonts]
recipe = slapos.recipe.build
shared = true
p7z = ${p7zip:location}/bin/7z
install =
  import os, subprocess
  os.makedirs(location)
  cmd = [options['p7z'], "x", "-ssc-", None, "*.ttf"]
  for x in options['fonts'].splitlines():
    md5sum, name = x.split()
    cmd[3] = self.download(
      "http://downloads.sf.net/corefonts/%s32.exe" % name,
      md5sum)
    subprocess.check_call(cmd, cwd=location)
slapos_promise =
slapos_update_promise = ${:slapos_promise}
fonts =
  cbdc2fdd7d2ed0832795e86a8b9ee19a  andale
  9637df0e91703179f0723ec095a36cb5  arial
  c9089ae0c3b3d0d8c4b0a95979bb9ff0  arialb
  2b30de40bb5e803a0452c7715fc835d1  comic
  4e412c772294403ab62fb2d247d85c60  courie
  4d90016026e2da447593b41a8d8fa8bd  georgi
  7907c7dd6684e9bade91cff82683d9d7  impact
  ed39c8ef91b9fb80f76f702568291bd5  times
  0d7ea16cac6261f8513a061fbfcdb2b5  trebuc
  12d2a75f8156e10607be1eaa8e8ef120  verdan
  230a1d13a365b22815f502eb24d9149b  webdin
