[buildout]
parts =
  xz-utils

[xz-utils]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
url = https://tukaani.org/xz/xz-5.2.5.tar.bz2
md5sum = 33ab3ef79aa1146b83b778210e7b0a54
configure-options =
  --disable-static
