[buildout]
extends =
#  ../gcc/buildout.cfg
#  ../binutils/buildout.cfg
  ../libxml2/buildout.cfg
  ../zlib/buildout.cfg
  ../boost-lib/buildout.cfg
  ../icu/buildout.cfg
# for qmake
  ../qt/buildout.cfg

parts +=
  onlyoffice-core

[onlyoffice-core]
recipe = slapos.recipe.cmmi
location = ${buildout:parts-directory}/${:_buildout_section_name_}
# This url contains the hash provided by the DocumentServer core submodule hash.
# https://github.com/ONLYOFFICE/DocumentServer/
url = https://lab.nexedi.com/bk/onlyoffice_core/repository/archive.tar.bz2?ref=c17342bc07fa32ca3ba9ac4dcdccefa3bda8b258
md5sum = 7c159a63eade809e0bbd8b66e90fbb4c
configure-command = true
make-targets = lib bin
environment =
  PATH=${qt5-qmake:location}/bin:%(PATH)s
  CXXFLAGS=-I${libxml2:location}/include -I${zlib:location}/include -I${icu4c:location}/include -I${onlyoffice-boost:location}/include -Wno-comment -Wno-deprecated-declarations -Wno-endif-labels -Wno-parentheses -Wno-reorder -Wno-sign-compare -Wno-switch -Wno-unknown-pragmas -Wno-unused
  LDFLAGS=-L${libxml2:location}/lib -Wl,-rpath=${libxml2:location}/lib -L${zlib:location}/lib -Wl,-rpath=${zlib:location}/lib -L${icu4c:location}/lib -Wl,-rpath=${icu4c:location}/lib -L${onlyoffice-boost:location}/lib -Wl,-rpath=${onlyoffice-boost:location}/lib -Wl,-rpath=${:location}/lib
#  LD_LIBRARY_PATH=${gcc:location}/lib64:${gcc:location}/lib:${binutils:location}/lib
post-install =
  set -e -x
  mkdir -p ${:location}/bin ${:location}/lib
  mv -t ${:location}/lib build/lib/*/*.so
  mv -t ${:location}/bin build/bin/*/*
# the binary linux_64 in build/bin/AllFontsGen is renamed AllFontsGen here.
#  mv build/bin/AllFontsGen/* ${:location}/bin/AllFontsGen

[onlyoffice-boost]
# needs change to common boost, needs check 
<= boost-lib
configure-command = ./bootstrap.sh --prefix=${:location} --with-python=${python2.7:location}/bin/python2.7 --with-libraries=regex --with-icu=${icu4c:location}
