[buildout]
parts =
  oniguruma

[oniguruma]
recipe = slapos.recipe.cmmi
url = https://github.com/kkos/oniguruma/releases/download/v6.9.8/onig-6.9.8.tar.gz
md5sum = ceb0ce338e6ad444615c1daac1e260a7
shared = true
