[buildout]
versions = versions

parts =
  template
  apache-php
  mariadb
  eggs
  instance-recipe-egg
  downloadcache-workaround
  phpbms-patch
  patch

extends =
  http://git.erp5.org/gitweb/slapos.git/blob_plain/refs/heads/lamp:/stack/lamp.cfg
  http://git.erp5.org/gitweb/slapos.git/blob_plain/refs/heads/lamp:/stack/shacache-client.cfg

[phpbms-patch]
recipe = slapos.recipe.download
url = http://git.erp5.org/gitweb/slapos.git/blob_plain/8ee03078582ccc2410836ea90e30959d216480bc:/software/phpbms/phpbms_for_mysql5.patch
md5sum = ddf323ac00e9e486cea8b8cc4277e065
download-only = True
location = ${buildout:parts-directory}/${:_buildout_section_name_}
filename = phpbms_for_mysql5.patch

[application]
recipe = slapos.recipe.build
url = http://www.phpbms.org/files/phpbms/phpbms-0.98.tar.gz
md5sum = 3907c5115cf9acaab7cb5d22ce0534b7
script =
  if not self.options.get('url'): self.options['url'], self.options['md5sum'] = self.options[guessPlatform()].split(' ')
  extract_dir = self.extract(self.download(self.options['url'], self.options.get('md5sum')))
  workdir = guessworkdir(extract_dir)
  self.copyTree(workdir, "${buildout:parts-directory}/${:_buildout_section_name_}")

[patch]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds= patch -d ${application:location} -p1 < ${phpbms-patch:location}/${phpbms-patch:filename}

[application-template]
recipe = slapos.recipe.download
url = http://git.erp5.org/gitweb/slapos.git/blob_plain/8ee03078582ccc2410836ea90e30959d216480bc:/software/phpbms/template/settings.php.in
#md5sum = a60038aff02e4bf5049e9f55f16e8ed5
download-only = True
filename = template.in
mode = 0644
location = ${buildout:parts-directory}/${:_buildout_section_name_}

[application-configuration]
location = settings.php
  
[instance-recipe]
egg = slapos.cookbook
module = lamp.simple

[template]
# Default template for the instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
#md5sum = Student shall put md5 of instance.cfg here
output = ${buildout:directory}/template.cfg
mode = 0644

[instance-recipe-egg]
recipe = zc.recipe.egg
python = python2.7
eggs =
    ${mysql-python:egg}
    ${instance-recipe:egg}
    slapos.toolbox[lampconfigure]

[versions]
# Use SlapOS patched zc.buildout
zc.buildout = 1.5.3-dev-SlapOS-010

[downloadcache-workaround]
# workaround irritating problem of hexagonit.recipe.cmmi which automatically
# creates download cache, which in turn switches builout to "semi-offline" mode
recipe = plone.recipe.command
# in hexagonit.recipe.cmmi if there is no ${buildout:download-cache} set it resolves
# to ${buildout:directory}/downloads but this variable is available late, that's
# why it is hardcoded only for required case
download-cache = ${buildout:directory}/downloads
command = [ -d ${:download-cache} ] && rm -fr ${:download-cache}/* || exit 0
update-command = ${:command}
stop-on-error = True
