[buildout]

parts =
    unoconv-repository


[unoconv-repository]
recipe = slapos.recipe.build:gitclone
repository = https://github.com/dagwieers/unoconv.git
branch = master
git-executable = ${git:location}/bin/git

