# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     But avoid directories, they are not portable.
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg
md5sum = 38bceddc77a5a44d69f0d9614909d1a2

[amarisoft-stats.jinja2.py]
_update_hash_filename_ = amarisoft-stats.jinja2.py
md5sum = 6e0a052bd0ca08cc0c7b4880d3deffcc

[amarisoft-rf-info.jinja2.py]
_update_hash_filename_ = amarisoft-rf-info.jinja2.py
md5sum = c930c28365c685a6066f382c9b5d8893

[lopcomm-rrh-stats.jinja2.py]
_update_hash_filename_ = lopcomm-rrh-stats.jinja2.py
md5sum = 6d6cc0c311ff4fe807e919ce3cb3d0d8

[lopcomm-rrh-config.jinja2.py]
_update_hash_filename_ = lopcomm-rrh-config.jinja2.py
md5sum = b34fe47a73890097fbc6ea6374aeb38d

[template-enb]
_update_hash_filename_ = instance-enb.jinja2.cfg
md5sum = 7d7b73df5fc165f305252e387b1293b1

[template-gnb]
_update_hash_filename_ = instance-gnb.jinja2.cfg
md5sum = 4df8edfb9a8bcbdcc9740afb27a88928

[template-core-network]
_update_hash_filename_ = instance-core-network.jinja2.cfg
md5sum = eda157219444c3ac10272626dd5cea10

[template-ue-lte]
_update_hash_filename_ = instance-ue-lte.jinja2.cfg
md5sum = 29b6aa006a636589da5e2b2e365b84fb

[template-ue-nr]
_update_hash_filename_ = instance-ue-nr.jinja2.cfg
md5sum = 3d6f3e864b6480a98c2699b11281182a

[template-obsolete]
_update_hash_filename_ = instance-obsolete.jinja2.cfg
md5sum = c5f581ba01654b2aec46000abf8d0e35

[ue_db.jinja2.cfg]
filename = config/ue_db.jinja2.cfg
md5sum = dcaac06553a3222b14c0013a13f4a149

[enb.jinja2.cfg]
filename = config/enb.jinja2.cfg
md5sum = 584a75944dc9aee68fafb1b63e9c1b2b

[sib23.jinja2.asn]
filename = config/sib23.jinja2.asn
md5sum = 0af07bba51f8d4e773f9bfef4f2ca535

[gnb.jinja2.cfg]
filename = config/gnb.jinja2.cfg
md5sum = 322affd5986b049fa6a1a96ece7108cf

[ltelogs.jinja2.sh]
filename = ltelogs.jinja2.sh
md5sum = 1ba2e065bdf14a6411e95e80db17dcfd

[mme.jinja2.cfg]
filename = config/mme.jinja2.cfg
md5sum = 48b577daa5b53c2cf7fe2d30ea9c0235

[dnsmasq.jinja2.cfg]
filename = config/dnsmasq.jinja2.cfg
md5sum = 5f67c7f750e7c7bd9b9839c527a06853

[ims.jinja2.cfg]
filename = config/ims.jinja2.cfg
md5sum = 36281b03597252cf75169417d02fc28c

[ue-lte.jinja2.cfg]
filename = config/ue-lte.jinja2.cfg
md5sum = 9e9fd1349d8e11f9fcfaa08c2f846d63

[ue-nr.jinja2.cfg]
filename = config/ue-nr.jinja2.cfg
md5sum = acb578df69ad990f677a323a8a34d965

[CreateProcessingEle.jinja2.xml]
filename = netconf/CreateProcessingEle.jinja2.xml
md5sum = e435990eb0a0d4be41efa9bd16dce09b

[cu_config.jinja2.xml]
filename = netconf/cu_config.jinja2.xml
md5sum = 39ef850c68ea6cb1282176e718819c4a

[software.cfg.html]
_update_hash_filename_ = gadget/software.cfg.html
md5sum = 61a2f783fbf683a34aed3d13e00baca2

[promise.gadget.js]
_update_hash_filename_ = gadget/promise.gadget.js
md5sum = 330f5f07806f1da11cd05bb8e4b52e55
