{
  "type": "object",
  "$schema": "http://json-schema.org/draft-04/schema",
  "title": "Input Parameters",
  "properties": {
    "ssb_nr_arfcn": {
      "title": "SSB NR ARFCN",
      "description": "SSB NR ARFCN, you can retrieve from ENB/GNB side",
      "type": "number"
    },
  }
}
