{
  "type": "object",
  "$schema": "http://json-schema.org/draft-04/schema",
  "title": "Input Parameters",
  "properties": {
    "$ref": "sim/input-schema.json#/properties",

    "rue_addr": {
      "title": "[Required] Remote UE address",
      "description": "[Required] Address of remote UE server. Default port is 2152.",
      "type": "string",
      "default": ""
    },
    "tx_gain": {
      "title": "Tx gain",
      "description": "Tx gain (in dB)",
      "type": "number"
    },
    "rx_gain": {
      "title": "Rx gain",
      "description": "Rx gain (in dB)",
      "type": "number"
    },
    "dl_nr_arfcn": {
      "title": "DL NR ARFCN",
      "description": "Downlink NR Absolute Radio Frequency Channel Number of the cell",
      "type": "number"
    },
    "band": {
      "title": "NR band",
      "description": "NR band number",
      "type": "number"
    },
    "bandwidth": {
      "title": "Bandwidth",
      "description": "Downlink Bandwidth (in MHz)",
      "type": "number",
      "default": {{ default_nr_bandwidth }}
    },
    "ssb_nr_arfcn": {
      "title": "SSB NR ARFCN",
      "description": "SSB NR ARFCN, you can retrieve from ENB/GNB side",
      "type": "number"
    },
    "n_antenna_dl": {
      "title": "Number of DL antennas",
      "description": "Enumeration: 1, 2, 4 or 8. Number of DL antennas. It must be the same for all NB-IoT and LTE cells sharing the same RF port.",
      "type": "number",
      "default": {{ default_n_antenna_dl }}
    },
    "n_antenna_ul": {
      "title": "Number of UL antennas",
      "description": "Enumeration: 1, 2, 4 or 8. Number of UL antennas. It must be the same for all NB-IoT and LTE cells sharing the same RF port.",
      "type": "number",
      "default": {{ default_n_antenna_ul }}
    },
    "imsi": {
      "$ref": "sim/input-schema.json#/properties/imsi",
      "default": "{{ default_imsi }}"
    },
    "k": {
      "$ref": "sim/input-schema.json#/properties/k",
      "default": "{{ default_k }}"
    },
    "sim_algo": {
      "$ref": "sim/input-schema.json#/properties/sim_algo",
      "description": "Optional enumeration. xor, milenage or tuak (default = milenage). Set the USIM authentication algorithm. Note: test USIM cards use the XOR algorithm.",
    },
    "opc": {
      "$ref": "../sim/input-schema.json#/properties/opc",
      "default": "milenage"
    }
  }
}
