# predefine ru/cell from ORS-specific schema, not from shared instances.
{%- set ors_iru_dict = {
  'RU': {
    'ru_type':      'sdr',
    'ru_link_type': 'sdr',
    'sdr_dev_list': [0],
    'n_antenna_dl': 'XXX',
    'n_antenna_ul': 'XXX',
    'tx_gain':      ors_version['current-tx-gain'],
    'rx_gain':      ors_version['current-rx-gain'],
    'txrx_active':  'XXX',
  }
} %}

{%- set ors_icell_dict = {
  'CELL': {
    'cell_type':  'lte',
    'rf_mode':    'XXX',
    'pci':        'XXX',
    'cell_id':    'XXX',
    'root_sequence_index':  'XXX',
    'ru': {
      'ru_type':  'ru_ref',
      'ru_ref':   'RU',
    },

    'tdd_ul_dl_config': 'XXX',
    'bandwidth':  'XXX',
    'dl_earfcn':  'XXX',
    'tac':        'XXX',
  }
} %}

{%- include 'instance-enb-base.jinja2.cfg' %}


# XXX config-base +=
# XXX reenable/rethink
# XXX ors = ors_version |tojson
{# raw one_watt {{ ors_version['one-watt'] }}               #}
{# raw earfcn  {{ ors_version['current-earfcn'] }}          #}
# raw nr_arfcn {{ ors_version['current-nr-arfcn'] }}
# raw nr_band {{ ors_version['current-nr-band'] }}


# add ORS-specific bits to published information
[publish-connection-information]
ors-version = {{ ors_version['ors-version'] }}
frequency-range-rating = {{ ors_version['range'] }}
current-tx-power-estimate = {{ ors_version['power-estimate'] }}
current-tx-gain = {{ ors_version['current-tx-gain'] }}
current-rx-gain = {{ ors_version['current-rx-gain'] }}

# XXX hide ru-list and cell-list ?

# XXX only enb
current-earfcn  = {{ ors_version['current-earfcn'] }}

# XXX only gnb
current-nr-arfcn = {{ ors_version['current-nr-arfcn'] }}
current-nr-band = {{ ors_version['current-nr-band'] }}
