{
  "type": "object",
  "$schema": "http://json-schema.org/draft-04/schema",
  "title": "Input Parameters",
  "properties": {
    "bandwidth": {
      "title": "Bandwidth",
      "description": "Downlink Bandwidth",
      "type": "string",
      "enum": [
        "1.4 MHz",
        "3 MHz",
        "5 MHz",
        "10 MHz",
        "15 MHz",
        "20 MHz"
      ],
      "default": "{{default_lte_bandwidth }}"
    },
    "n_antenna_dl": {
      "title": "Number of DL antennas",
{%- if bbu == 'ors' %}
      "description": "1 or 2. Number of DL antennas.",
{%- else %}
      "description": "1, 2, 4 or 8. Number of DL antennas.",
{%- endif %}
      "type": "number",
      "default": {{default_n_antenna_dl }}
    },
    "n_antenna_ul": {
      "title": "Number of UL antennas",
{%- if bbu == 'ors' %}
      "description": "1 or 2. Number of UL antennas.",
{%- else %}
      "description": "1, 2, 4 or 8. Number of UL antennas.",
{%- endif %}
      "type": "number",
      "default": {{default_n_antenna_ul }}
    },
{%- if rf_mode == 'tdd' %}
    "tdd_ul_dl_config": {
      "title": "TDD",
      "description": "TDD",
      "type": "string",
      "enum": [
        "[Configuration 2] 5ms 2UL 6DL (default)",
        "[Configuration 6] 5ms 5UL 3DL (maximum uplink)"
      ],
      "default": "5ms 2UL 7DL 4/6 (default)"
    },
{%- endif %}
{%- if bbu != 'ors' %}
    "sdr_number": {
      "title": "SDR Number",
      "description": "SDR Number",
      "type": "number",
      "default": 0
    },
{%- endif %}
{%- if trx == 'cpri' %}
    "cpri_mult": {
      "title": "CPRI Mult",
      "description": "Select the CPRI line bit rate in terms of multiple of option 1 (614.4 Mbps). E.g set 4 for option 3, 8 for option 5 and 16 for option 7.",
      "type": "number",
      "default": 16,
      "enum": [
        4,
        5,
        8,
        16
      ]
    },
{%- endif %}
{%- if bbu == 'ors' %}
    "dl_earfcn": {
      "title": "DL EARFCN",
      "description": "Downlink E-UTRA Absolute Radio Frequency Channel Number of the cell",
      "type": "number"
    },
    "pci": {
      "title": "Physical Cell ID",
      "description": "Physical Cell ID",
      "type": "number",
      "default": 1
    },
    "cell_id": {
      "title": "Cell ID",
      "description": "Cell ID",
      "type": "string",
      "default": "0x01"
    },
    "tac": {
      "title": "Tracking Area Code",
      "description": "Tracking Area Code in hexadecimal representation (range 0x0000 to 0xffff)",
      "default": "0x0001",
      "type": "string"
    },
    "root_sequence_index": {
      "title": "Root Sequence Index",
      "description": "Range: 0 to 837. Set the PRACH root sequence index (SIB2.rootSequenceIndex field). It must be different for each neighbour cell operating on the same frequency and sharing the same PRACH configuration.",
      "type": "number",
      "default": 204
    },
{%- else %}
    "cpri_rx_delay": {
      "title": "CPRI RX Delay",
      "description": "Delay between TX and RX position in CPRI frame. This should be set to the value of (T2a + T3a - Toffset) provided by the RRH specification.",
      "type": "number",
      "default": 25.11
    },
    "cpri_tx_delay": {
      "title": "CPRI TX Delay",
      "description": "Advance Start of Frame relative to PPS to compensate for delays in transmit line and RRH. This should be set to T12 + T2a.",
      "type": "number",
      "default": 14.71
    },
    "cpri_tx_dbm": {
      "title": "CPRI TX dBm",
      "description": "Optional floating point value in dBm (default 0). Needed by ENB/GNB to have a notion of actual output power. Computed from maximum power output of the RRH for a 0dBFS input signal (full scale). ",
      "type": "number",
      "default": 63
    },
{%- endif %}
{%- if trx == 'sdr' %}
    "tx_gain": {
      "title": "Tx gain",
      "description": "Tx gain (in dB)",
      "type": "number"
    },
    "rx_gain": {
      "title": "Rx gain",
      "description": "Rx gain (in dB)",
      "type": "number"
    },
{%- endif %}
{%- if trx == 'cpri' %}
    "dnsmasq": {
      "default": false,
      "title": "dnsmasq",
      "description": "dnsmasq",
      "type": "boolean"
    },
    "rrh_mac_addr": {
      "default": "00:0a:00:00:10:20",
      "title": "RRH MAC address",
      "description": "RRH MAC address used for DNSMASQ",
      "type": "string"
    },
{%- endif %}
{%- if ru == 'lopcomm' %}
    "txa0cc00_active": {
      "title": "Lopcomm ORAN TX array carriers (TXA0CC00)",
      "description": "Activate or inactivate Lopcomm ORAN TX array carriers (TXA0CC00)",
      "type": "string",
      "default": "INACTIVE",
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "rxa0cc00_active": {
      "title": "Lopcomm ORAN RX array carriers (RXA0CC00)",
      "description": "Activate or inactivate Lopcomm ORAN RX array carriers (RXA0CC00)",
      "type": "string",
      "default": "INACTIVE",
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "txa0cc00_center_frequency_earfcn": {
      "title": "Lopcomm ORAN Center Frequency EARFCN (TXA0CC00)",
      "description": "Lopcomm ORAN Center Frequency EARFCN (TXA0CC00)",
      "type": "number",
      "default": 300
    },
    "txa0cc00_center_frequency": {
      "title": "Lopcomm ORAN Center Frequency in Hz (TXA0CC00)",
      "description": "Lopcomm ORAN Center Frequency in Hz (TXA0CC00)",
      "type": "number",
      "default": 2140000000
    },
    "txa0cc00_bandwidth": {
      "title": "Lopcomm ORAN bandwidth in Hz (TXA0CC00)",
      "description": "Lopcomm ORAN bandwidth in Hz (TXA0CC00)",
      "type": "number",
      "default": 20000000
    },
    "rxa0cc00_center_frequency_earfcn": {
      "title": "Lopcomm ORAN Center Frequency EARFCN (RXA0CC00)",
      "description": "Lopcomm ORAN Center Frequency EARFCN (RXA0CC00)",
      "type": "number",
      "default": 18300
    },
    "rxa0cc00_center_frequency": {
      "title": "Lopcomm ORAN Center Frequency in Hz (RXA0CC00)",
      "description": "Lopcomm ORAN Center Frequency in Hz (RXA0CC00)",
      "type": "number",
      "default": 1950000000
    },
    "rxa0cc00_bandwidth": {
      "title": "Lopcomm ORAN bandwidth in Hz (RXA0CC00)",
      "description": "Lopcomm ORAN bandwidth in Hz (RXA0CC00)",
      "type": "number",
      "default": 20000000
    },
    "txa0cc00_gain": {
      "title": "ORAN Gain",
      "description": "Lopcomm ORAN Gain (TXA0CC00)",
      "type": "number",
      "default": -20
    },
    "user-authorized-key": {
      "title": "User Authorized Key",
      "description": "SSH public key in order to connect to the SSH server of this instance.",
      "textarea": true,
      "type": "string"
    },
{%- endif %}
    "enb_id": {
      "title": "eNB ID",
      "description": "eNB ID",
      "type": "string",
      "default": "0x1A2D0"
    },
    "gtp_addr": {
      "title": "GTP Address",
      "description": "String. Set the IP address (and optional port) on which the GTP-U packets are received. The default port is 2152. It is normally the IP address of the network interface connected to the core network.",
      "type": "string",
      "default": "127.0.1.1"
    },
    "mme_list": {
      "title": "MME list",
      "description": "Optionnal. List of MME to which the gNodeB is connected",
      "patternProperties": {
        ".*": {
          "properties": {
            "mme_addr": {
              "title": "MME Address",
              "description": "IP address (and optional port) of S1AP SCTP connection to the MME. The default port is 36412.",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "default": {}
    },
    "plmn_list": {
      "title": "PLMN list",
      "description": "List of PLMNs broadcasted by the eNodeB, at most 6 (default: 00101)",
      "patternProperties": {
        ".*": {
          "properties": {
            "plmn": {
              "default": "00101",
              "title": "Public Land Mobile Network",
              "description": "Public Land Mobile Network",
              "type": "string"
            },
            "attach_without_pdn": {
              "default": false,
              "title": "Attach Without PDN",
              "description": "Optional boolean. Indicates if PLMN supports attach without PDN connectivity.",
              "type": "boolean"
            },
            "reserved": {
              "default": false,
              "title": "Reserved",
              "description": "True if the cell is reserved for operator use.",
              "type": "boolean"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "default": {}
    },
    "lte_handover_a3_offset": {
      "title": "A3 offset for LTE handover",
      "description": "RSRP gain offset between gNBs which will trigger handover",
      "type": "number",
      "default": 6
    },
    "lte_handover_time_to_trigger": {
      "title": "Time to Trigger for LTE handover",
      "description": "Time to triger after which LTE handover will be triggered if A3 offset is reached",
      "type": "number",
      "enum": [
        0,
        40,
        64,
        80,
        100,
        128,
        160,
        256,
        320,
        480,
        512,
        640,
        1024,
        1280,
        2560,
        5120
      ],
      "default": 480
    },
    "ncell_list": {
      "title": "Neighbour Cell Info",
      "description": "Neighbour Cell Info",
      "patternProperties": {
        ".*": {
          "properties": {
            "dl_earfcn": {
              "title": "DL EARFCN",
              "description": "Downlink E-UTRA Absolute Radio Frequency Channel Number of the neighbour cell",
              "type": "number"
            },
            "pci": {
              "title": "Physical Cell ID",
              "description": "Physical Cell ID of the neighbour cell",
              "type": "number"
            },
            "cell_id": {
              "title": "Cell ID",
              "description": "Concatenation of enb_id and cell_id of the neighbour cell",
              "type": "string"
            },
            "tac": {
              "title": "Tracking Area Code",
              "description": "Integer (range 0 to 16777215)",
              "type": "number"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "default": {}
    },
    "websocket_password": {
      "title": "Websocket password",
      "description": "Activates websocket for remote control and sets password",
      "type": "string"
    },
    "inactivity_timer": {
      "title": "Inactivity Timer",
      "description": "Send RRC connection release after this time (in ms) of network inactivity.",
      "type": "number",
      "default": {{default_lte_inactivity_timer }}
    },
    "log_phy_debug": {
      "title": "Physical layer log debug",
      "description": "Enable debug mode for physical layer logs",
      "type": "boolean",
      "default": false
    },
    "gps_sync": {
      "default": false,
      "title": "GPS synchronisation",
      "description": "True if GPS should be used for synchronisation",
      "type": "boolean"
    },
    "disable_sdr": {
      "default": false,
      "title": "Disable SDR",
      "description": "Disables radio",
      "type": "boolean"
    },
    "use_ipv4": {
      "default": false,
      "title": "Use IPv4",
      "description": "Set to true to use IPv4 for AMF / MME addresses",
      "type": "boolean"
    },
    "enb_stats_fetch_period": {
      "title": "eNB statistics fetch period (seconds)",
      "description": "Describes how often a call to Amarisoft remote API is made to get eNB statistics",
      "type": "number",
      "default": 60
    },
    "enb_drb_stats_enabled": {
      "title": "Enable eNB drb statistics",
      "description": "Enable eNB drb statistics through 100Hz polling, needed for E-UTRAN IP Throughput KPI",
      "type": "boolean",
      "default": true
    },
    "max_rx_sample_db": {
      "title": "Maximum RX sample value (dB)",
      "description": "Maximum RX sample threshold above which RX saturated promise will fail",
      "type": "number",
      "default": 0
    },
    "min_txrx_delay": {
      "title": "Minimum available time for radio front end processing (ms)",
      "description": "Baseband latency promise will fail if minimum TX/RX diff reaches threshold (higher than this value)",
      "type": "number",
      "default": 5
    },
    "avg_txrx_delay": {
      "title": "Average available time for radio front end processing (ms)",
      "description": "Baseband latency promise will fail if average TX/RX diff reaches threshold (higher than this value)",
      "type": "number",
      "default": 7
    },
    "xlog_fluentbit_forward_host": {
      "title": "Address to Forward Xlog by Fluenbit",
      "description": "Address of Remote Fluentd or Fluentbit Server to Forward Xlog",
      "type": "string"
    },
    "xlog_fluentbit_forward_port": {
      "title": "Port to Forward Xlog by Fluentbit",
      "description": "Optional Port of Remote Fluentd or Fluentbit Server to Forward Xlog",
      "type": "string"
    },
    "xlog_fluentbit_forward_shared_key": {
      "title": "Shared Key to Forward Xlog by Fluentbit",
      "description": "Secret Key Shared with Remote Fluentd or Fluentbit Server for Authentication when Forwarding Xlog",
      "type": "string"
    }
  }
}
