# ORS test software-release
#
# This software-release prepares environment so that open-radio-e2e-testing egg can be run inside testnode

[buildout]
extends =
    buildout.hash.cfg
    ../../component/git/buildout.cfg
    ../../component/pytest/buildout.cfg
    ../../stack/slapos.cfg
    ../../stack/nxdtest.cfg


parts =
    openradio-python
#   for instance
    slapos-cookbook
    instance.cfg

# instance to run nxdtest.
[instance.cfg]
<= jinja2-template
inline =
  [buildout]
  extends = ${nxdtest-instance.cfg:output}
  parts += tnxdtest

  [runTestSuite]
  env.sh  = ${openradio-env.sh:output}
  workdir = $${directory:t}

  [directory]
  t = $${:home}/t

  # instance/t/.nxdtest -> .nxdtest inside openradio/neo
  [tnxdtest]
  recipe = plone.recipe.command
  stop-on-error = yes
  command = ln -s -t $${directory:t} ${openradio-repository:location}/.nxdtest


[openradio-env.sh]
recipe = slapos.recipe.template
inline =
  export PATH="${buildout:bin-directory}:$PATH"  # for python with eggs
output = ${buildout:directory}/${:_buildout_section_name_}

[openradio-repository]
recipe = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/open-radio-e2e-testing.git
git-executable = ${git:location}/bin/git
branch = tomo

[openradio-develop]
recipe = zc.recipe.egg:develop
egg = open-radio-e2e-testing
setup = ${openradio-repository:location}

[openradio-python]
<= python-interpreter
eggs +=
  ${pytest:eggs}
  ${openradio-develop:egg}
  plone.recipe.command
