[buildout]
extends =
  ../perl/buildout.cfg
  ../perl-Data-Dump/buildout.cfg
  ../perl-Encode-Locale/buildout.cfg
  ../perl-File-Listing/buildout.cfg
  ../perl-HTML-Parser/buildout.cfg
  ../perl-HTTP-Cookies/buildout.cfg
  ../perl-HTTP-Daemon/buildout.cfg
  ../perl-HTTP-Message/buildout.cfg
  ../perl-HTTP-Negotiate/buildout.cfg
  ../perl-LWP-MediaTypes/buildout.cfg
  ../perl-Net-HTTP/buildout.cfg
  ../perl-URI/buildout.cfg
  ../perl-WWW-RobotRules/buildout.cfg
parts =
  perl-libwww-perl

[perl-libwww-perl]
<= perl-CPAN-package
module = LWP/libwww-perl
version = 6.06
md5sum = 292496bd2a13da95903b383f59009200

inc =
  ${perl-Data-Dump:site_perl}:\
  ${perl-Encode-Locale:site_perl}:\
  ${perl-File-Listing:site_perl}:\
  ${perl-HTML-Parser:site_perl}:\
  ${perl-HTTP-Cookies:site_perl}:\
  ${perl-HTTP-Daemon:site_perl}:\
  ${perl-HTTP-Message:site_perl}:\
  ${perl-HTTP-Negotiate:site_perl}:\
  ${perl-LWP-MediaTypes:site_perl}:\
  ${perl-Net-HTTP:site_perl}:\
  ${perl-URI:site_perl}:\
  ${perl-WWW-RobotRules:site_perl}
