[buildout]
extends =
  ../git/buildout.cfg
  ../mavsdk/buildout.cfg
  ../open62541/buildout.cfg
  ../quickjs/buildout.cfg

parts = qjs-wrapper

[qjs-wrapper-source]
recipe = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/qjs-wrapper.git
revision = ce6351a
git-executable = ${git:location}/bin/git

[qjs-wrapper]
recipe = slapos.recipe.cmmi
configure-command = true
path = ${qjs-wrapper-source:location}
environment =
  C_INCLUDE_PATH=include:${open62541:location}/include:${open62541:location}/deps:${open62541:location}/src/pubsub:${quickjs:location}/include
  LDFLAGS=-L${open62541:location}/lib -Wl,-rpath=${open62541:location}/lib -L${mavsdk-wrapper:location}/lib -Wl,-rpath=${mavsdk-wrapper:location}/lib
