# libcurl - the multiprotocol file transfer library
# http://curl.haxx.se/

[buildout]
extends =
  ../openssl/buildout.cfg
  ../perl/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg
  ../nghttp2/buildout.cfg
parts =
  curl

[curl]
recipe = slapos.recipe.cmmi
shared = true
url = http://curl.haxx.se/download/curl-7.67.0.tar.xz
md5sum = d55351b88dec558dd3a24dabb2c2d899
configure-options =
  --disable-static
  --disable-esni
  --disable-ldap
  --disable-ldaps
  --disable-rtsp
  --disable-dict
  --disable-telnet
  --disable-tftp
  --disable-pop3
  --disable-imap
  --disable-smtp
  --disable-gopher
  --disable-manual
  --enable-ipv6
  --disable-sspi
  --disable-alt-svc
  --with-zlib=${zlib:location}
  --with-ssl=${openssl:location}
  --without-gnutls
  --without-polarssl
  --without-mbedtls
  --without-mesalink
  --without-nss
  --without-libpsl
  --without-libmetalink
  --without-libssh2
  --without-librtmp
  --without-libidn2
  --with-nghttp2=${nghttp2:location}
  --without-ngtcp2
  --without-nghttp3
  --without-quiche
  --without-zsh-functions-dir
  --without-fish-functions-dir

environment =
  PATH=${perl:location}/bin:${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${openssl:location}/lib/pkgconfig:${nghttp2:location}/lib/pkgconfig
  LDFLAGS=-Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${nghttp2:location}/lib
