# libcurl - the multiprotocol file transfer library
# https://curl.se/

[buildout]
extends =
  ../openssl/buildout.cfg
  ../perl/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zstd/buildout.cfg
  ../zlib/buildout.cfg
  ../nghttp2/buildout.cfg
  ../ngtcp2/buildout.cfg
  ../nghttp3/buildout.cfg
  ../ca-certificates/buildout.cfg
parts =
  curl

[curl]
recipe = slapos.recipe.cmmi
shared = true
url = https://curl.se/download/curl-7.88.1.tar.xz
md5sum = 8bea0c58428578f397471fe209fad6ab
configure-options =
  --disable-static
  --disable-ech
  --disable-ldap
  --disable-ldaps
  --disable-rtsp
  --disable-dict
  --disable-telnet
  --disable-tftp
  --disable-pop3
  --disable-imap
  --disable-smtp
  --disable-gopher
  --disable-mqtt
  --disable-manual
  --enable-ipv6
  --disable-sspi
  ${:ALT-SVC}
  --with-zlib=${zlib:location}
  --with-ssl=${:OPENSSL}
  --with-ca-path=${:OPENSSL}/etc/ssl/certs
  --without-gnutls
  --without-polarssl
  --without-mbedtls
  --without-mesalink
  --without-nss
  --without-libpsl
  --without-libgsasl
  --without-libssh2
  --without-libssh
  --without-librtmp
  --without-libidn2
  --with-nghttp2=${nghttp2:location}
  --without-ngtcp2
  --without-nghttp3
  --without-quiche
  --without-zsh-functions-dir
  --without-fish-functions-dir
  --without-brotli
  --with-zstd=${zstd:location}
  --without-gssapi
  ${:WITH}

ALT-SVC = --disable-alt-svc
LDFLAGS =
OPENSSL = ${openssl:location}
PATH =
PKG_CONFIG_PATH =
WITH =

environment =
  PATH=${perl:location}/bin:${pkgconfig:location}/bin:${xz-utils:location}/bin:${:PATH}:%(PATH)s
  PKG_CONFIG_PATH=${:OPENSSL}/lib/pkgconfig:${nghttp2:location}/lib/pkgconfig${:PKG_CONFIG_PATH}
  LDFLAGS=-Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${:OPENSSL}/lib -Wl,-rpath=${nghttp2:location}/lib -Wl,-rpath=${zstd:location}/lib ${:LDFLAGS}

[curl-http3]
<= curl
url = https://shacache.nxdcdn.com/73669dd9ed7aefbb30414c6ce2dd20c39bb2f106cf420dedf7d302eb2c4147876a05b0a1458661bcb66ab1d944e7254a42802caa31070a7e43e9dd24f98320b8
md5sum = d71d04dd7201480df1024d5c754a9613
pre-configure =
  autoreconf -fisv -I ${libtool:location}/share/aclocal -I ${pkgconfig:location}/share/aclocal
  automake
  autoconf

ALT-SVC = --enable-alt-svc
LDFLAGS = -Wl,-rpath=${nghttp3:location}/lib -Wl,-rpath=${ngtcp2:location}/lib
OPENSSL = ${openssl-quictls:location}
PATH = ${autoconf:location}/bin:${automake:location}/bin:${libtool:location}/bin:${m4:location}/bin
PKG_CONFIG_PATH = :${nghttp3:location}/lib/pkgconfig:${ngtcp2:location}/lib/pkgconfig
WITH =
  --with-nghttp3=${nghttp3:location}
  --with-ngtcp2=${ngtcp2:location}
