# The lightweight log processor https://fluentbit.io/
#
# This file is used for packaging with OBS.

[buildout]
# delete slapos.rebootstrap as we use python from the host
extensions =
  slapos.extension.strip
  slapos.extension.shared

extends =
  buildout.cfg
  ../../stack/slapos.cfg

parts =
  fluent-bit

[versions]
slapos.extension.strip = 0.4
