[buildout]

extends =
  ../../component/fluentd/buildout.cfg
  ../../stack/slapos.cfg

parts = 
  fluentd
  fluentd-agent-conf
  instance-profile
  slapos-cookbook

[instance-profile]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance.cfg.in
rendered = ${buildout:directory}/instance.cfg
mode = 0644
extensions = jinja2.ext.do
context =
  section buildout  buildout
  raw fluentd_location                ${fluentd:location}
  raw fluentd_conf                    ${buildout:directory}

[fluentd-agent-conf]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/fluentd-agent.conf.jinja2.in
#md5sum = 4b81ddcbe2f16d23013caac37151d396 
output = ${buildout:directory}/fluentd-agent.conf.jinja2.in
mode = 0644

[fluentd]
gems += 
  fluent-plugin-wendelin==0.1
  fluent-plugin-bin
