[buildout]
extends =
  ../../component/caddy/buildout.cfg
  ../../stack/slapos.cfg

parts =
  golang19
  slapos-cookbook
  instance-profile
  caddy

[instance-profile]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance.cfg.in
rendered = ${buildout:directory}/instance.cfg
# MD5 checksum can be skipped for development (easier to develop), but must be filled for production
md5sum = ec3f3d81153f7b198ccf30c5a5bf532a
mode = 0644
extensions = jinja2.ext.do
context =
  section buildout  buildout

[gopath]
directory = ${buildout:directory}/go.work
src	= ${:directory}/src
bin	= ${:directory}/bin

[caddy]
recipe  = slapos.recipe.cmmi
path    = ${caddy-repository:location}
go      = ${golang19:location}/bin/go
configure-command = cd ${:path}/caddy && ${:go} get -v
make-targets =
make-binary = cd ${:path}/caddy && ${:go} install -v
environment =
  PATH=${pkgconfig:location}/bin:${golang19:location}/bin:${buildout:bin-directory}:%(PATH)s
  GOPATH=${gopath:directory}
