[buildout]
extends =
  ../autoconf/buildout.cfg
  ../automake/buildout.cfg
  ../zlib/buildout.cfg
  ../bison/buildout.cfg
  ../flex/buildout.cfg
  ../groonga/buildout.cfg
  ../libtool/buildout.cfg
  ../ncurses/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../readline/buildout.cfg

parts =
    mysql-5.1

[mysql-5.1-sphinx-patch]
recipe = hexagonit.recipe.download
url = ${:_profile_base_location_}/${:filename}
md5sum = eefcd08c400c58d3e89542ab482a8429
filename = mysql-5.1-sphinx-2.0.1-beta.diff
download-only = true

[mysql-5.1-no_test-patch]
recipe = hexagonit.recipe.download
url = ${:_profile_base_location_}/${:filename}
md5sum = 22b0ef8baec5efc182e10d233c6f14ca
filename = mysql_create_system_tables__no_test.patch
download-only = true

[mysql-5.1]
recipe = hexagonit.recipe.cmmi
version = 5.1.58
url = http://mysql.he.net/Downloads/MySQL-5.1/mysql-${:version}.tar.gz
md5sum = ae5aef506088e521e4b1cc4f668e96d2
# compile directory is required to build mysql plugins.
keep-compile-dir = true
# configure: how to avoid searching for my.cnf?
#  - like in mysql part in http://svn.zope.org/zodbshootout/trunk/buildout.cfg?view=markup
configure-command =
  libtoolize -c -f
  aclocal -I ${libtool:location}/share/aclocal -I config/ac-macros
  autoheader
  automake -c -a -f
  autoconf
  touch sql/sql_yacc.yy
  ./configure
# we use embeded yassl instead of openssl to avoid compilation errors on sphinx search engine.
configure-options =
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
  --disable-static
  --enable-thread-safe-client
  --enable-local-infile
  --enable-assembler
  --with-pic
  --with-fast-mutexes
  --with-charset=utf8
  --with-collation=utf8_unicode_ci
  --with-server-suffix=mysql-5.1
  --without-readline
  --with-ssl
  --with-zlib-dir=${zlib:location}

make-options =
  LIBTOOL=libtool

patch-options = -p0
patches =
  ${mysql-5.1-sphinx-patch:location}/${mysql-5.1-sphinx-patch:filename}
  ${mysql-5.1-no_test-patch:location}/${mysql-5.1-no_test-patch:filename}
environment =
  PATH =${autoconf:location}/bin:${automake:location}/bin:${libtool:location}/bin:${bison:location}/bin:${flex:location}/bin:%(PATH)s
  CPPFLAGS =-I${ncurses:location}/include -I${readline:location}/include
  LDFLAGS =-L${readline:location}/lib -L${ncurses:location}/lib -Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${ncurses:location}/lib -Wl,-rpath=${readline:location}/lib

[groonga-storage-engine-mysql-5.1]
recipe = hexagonit.recipe.cmmi
url = http://github.com/downloads/mroonga/mroonga/groonga-storage-engine-1.0.0.tar.gz
md5sum = 289b8b7919e790599ea79b6fe9270e04
configure-options =
  --with-mysql-source=${mysql-5.1:location}__compile__/mysql-${mysql-5.1:version}
  --with-mysql-config=${mysql-5.1:location}/bin/mysql_config
environment =
  PATH=${groonga:location}/bin:${pkgconfig:location}/bin:%(PATH)s
  CPPFLAGS=-I${groonga:location}/include/groonga
  LDFLAGS=-L${groonga:location}/lib
  PKG_CONFIG_PATH=${groonga:location}/lib/pkgconfig
