[buildout]

extends =
    ../cmake/buildout.cfg
    ../glib/buildout.cfg
    ../pkgconfig/buildout.cfg
    ../openssl/buildout.cfg
    ../pcre/buildout.cfg
    ../mariadb/buildout.cfg

parts = mydumper

[mydumper]
recipe = slapos.recipe.cmmi
url = https://launchpad.net/mydumper/0.5/0.5.1/+download/mydumper-0.5.1.tar.gz
md5sum = b4df42dfe23f308ab13eb6ecb73a0d21
configure-command = /bin/cmake
configure-options =
  -DCMAKE_INSTALL_PREFIX=/usr/local
  -DMYSQL_CONFIG=${mariadb:location}/bin/mysql_config
  -DBUILD_DOCS=OFF
patch-options = -p1
patches =
  ${:_profile_base_location_}/mydumper-remove-warnings-errors.patch

