[buildout]
extends =
  ../autoconf/buildout.cfg
  ../automake/buildout.cfg
  ../pkgconfig/buildout.cfg

parts = 
  patchelf

[patchelf]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/NixOS/patchelf/archive/0.15.5.tar.gz
md5sum = db521a254a3c215beccfb0d533f26fc3
pre-configure = 
  autoreconf -vif
environment =
  PATH=${pkgconfig:location}/bin:${autoconf:location}/bin:${automake:location}/bin:%(PATH)s
