[buildout]
extends =
  ../coreutils/buildout.cfg
  ../gettext/buildout.cfg
  ../gperf/buildout.cfg
  ../intltool/buildout.cfg
  ../libcap/buildout.cfg
  ../perl-XML-Parser/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../util-linux/buildout.cfg
  ../xz-utils/buildout.cfg
  ../ninja/buildout.cfg
  ../meson/buildout.cfg

[jinja2]
recipe = zc.recipe.egg
eggs =
  jinja2
interpreter = python3

[systemd]
recipe = slapos.recipe.build
shared = true
# XXX This version requires Linux kernel >= 3.7.
url = https://github.com/systemd/systemd/archive/refs/tags/v249.tar.gz
md5sum = 8e8adf909c255914dfc10709bd372e69
install =
  env = self.environ
  extract_dir = self.extract(self.download(options['url'], options['md5sum']))
  workdir = guessworkdir(extract_dir)
  import pdb ; pdb.set_trace()
  call([
    'meson', 'setup', 'build',
    '-Dprefix=%s' % (location,),
    '-Drootprefix=%s' % (location,),
    '-Dsysconfdir=%s/etc' % (location,),
    '-Dsysvinit-path=%s/etc/init.d' % (location,),
    '-Dsysvrcnd-path=%s/etc/rc.d' % (location,),
    '-Dlocalstatedir=%s/var' % (location,),
    '-Dcreate-log-dirs=False',
    '-Dhwdb=False',
  ], cwd=workdir, env=env)
  call(['meson', 'setup', 'build',], cwd=workdir, env=env)
  call(['meson', 'compile', '-C', 'build/'], cwd=workdir, env=env)
  call(['meson', 'install', '-C', 'build/'], cwd=workdir, env=env)

environment =
  PATH=${jinja2:bin-directory}:${meson:location}/bin:${ninja:location}/bin:${coreutils:location}/bin:${gettext:location}/bin:${gperf:location}/bin:${intltool:location}/bin:${perl-XML-Parser:perl-PATH}:${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${libcap:location}/include -I${util-linux:location}/include
  LDFLAGS=-L${libcap:location}/lib -Wl,-rpath=${libcap:location}/lib -L${util-linux:location}/lib -Wl,-rpath=${util-linux:location}/lib
  PKG_CONFIG_PATH=${util-linux:location}/lib/pkgconfig
