[buildout]
extends =
  ../xz-utils/buildout.cfg
parts = quickjs

[quickjs]
recipe = slapos.recipe.cmmi
shared = true
configure-command = true
url = https://bellard.org/quickjs/quickjs-2024-01-13.tar.xz
md5sum = ea9fa8c503c4125dff9fd42c38b891d0
make-options =
  PREFIX=@@LOCATION@@
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
