[buildout]
extends =
  ../xz-utils/buildout.cfg
parts = quickjs

[quickjs]
<= glibc-aware
recipe = slapos.recipe.cmmi
shared = true
configure-command = true
url = https://bellard.org/quickjs/quickjs-2021-03-27.tar.xz
md5sum = 135182a626aa0c87a49aa2bf58fd39bf
environment =
  PATH=${xz-utils:location}/bin:%(PATH)s
