[buildout]
extends =
  ../../component/lxml-python/buildout.cfg
  ../../component/git/buildout.cfg
  ../../component/pycurl/buildout.cfg
  ../../stack/slapos.cfg

parts =
  agent.cfg.in
  template
  template-agent
  slapos-cookbook
  script

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
output = ${buildout:directory}/template.cfg
md5sum = bcd3b3cb8a305c83bb048d5ac1c583fe
mode = 0644

[template-agent]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-agent.cfg
output = ${buildout:directory}/template-agent.cfg
md5sum = 797e80e43bbf9c0d0e0c5db88a091667
mode = 0644

[agent.cfg.in]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/agent.cfg.in
md5sum = 056b1bb005080c4324cd9d755d254131
mode = 0644

[script]
recipe = zc.recipe.egg
eggs =
  ${pycurl:egg}
  zc.buildout
  slapos.core
  slapos.toolbox
  erp5.util


[versions]
apache-libcloud = 0.18.0
ecdsa = 0.13
erp5.util = 0.4.46
gitdb = 0.6.4
pycrypto = 2.6.1
pycurl = 7.43.0
slapos.recipe.download = 1.0
slapos.recipe.template = 2.8
slapos.toolbox = 0.62
smmap = 0.9.0

# Required by:
# slapos.toolbox = 0.62
GitPython = 2.0.8

# Required by:
# slapos.toolbox = 0.62
atomize = 0.2.0

# Required by:
# slapos.toolbox = 0.62
feedparser = 5.2.1

# Required by:
# slapos.toolbox = 0.62
lockfile = 0.12.2

# Required by:
# slapos.toolbox = 0.62
paramiko = 2.0.1

# Required by:
# slapos.toolbox = 0.62
rpdb = 0.1.5
