[buildout]
extends =
  ../lxml-python/buildout.cfg
  ../python-2.7/buildout.cfg

parts =
  networkcached-buildout
  slapos

find-links =
  http://www.nexedi.org/static/packages/source/slapos.buildout/

versions = versions

[lxml-python]
python = python2.7

[slapos]
recipe = z3c.recipe.scripts
python = python2.7
eggs =
  ${lxml-python:egg}
  slapos.core

[networkcached-buildout]
recipe = z3c.recipe.scripts
python = python2.7
eggs =
  slapos.libnetworkcache
  zc.buildout

scripts =
  buildout=buildout_networkache

[versions]
zc.buildout = 1.5.3-dev-SlapOS-004
