[buildout]
extends =
  ../../stack/shacache-client.cfg
  ../m2crypto/buildout.cfg
  ../lxml-python/buildout.cfg
  ../python-2.7/buildout.cfg

parts =
  slapos

find-links =
  http://www.nexedi.org/static/packages/source/slapos.buildout/

versions = versions

allow-hosts =
  *.googlecode.com
  *.nexedi.org
  *.python.org
  alastairs-place.net
  code.google.com
  github.com
  peak.telecommunity.com

# separate from system python
include-site-packages = false
exec-sitecustomize = false
allowed-eggs-from-site-packages =

[lxml-python]
python = python2.7

[M2Crypto]
python = python2.7

[slapos]
recipe = z3c.recipe.scripts
python = python2.7
eggs =
  ${M2Crypto:egg}
  slapos.libnetworkcache
  zc.buildout
  ${lxml-python:egg}
  slapos.core

# control scripts generation in order to avoid reinstalling bin/buildout
scripts =
  generate-signature-key = slapos.signature:run
  slapconsole = slapos.console:run
  slapos-request = slapos.console:request
  slapformat = slapos.format:main
  slapgrid = slapos.grid.slapgrid:run
  slapgrid-sr = slapos.grid.slapgrid:runSoftwareRelease
  slapgrid-cp = slapos.grid.slapgrid:runComputerPartition
  slapgrid-ur = slapos.grid.slapgrid:runUsageReport
  slapgrid-supervisorctl = slapos.grid.svcbackend:supervisorctl
  slapgrid-supervisord = slapos.grid.svcbackend:supervisord
  slapproxy = slapos.proxy:main

[versions]
zc.buildout = 1.5.3-dev-SlapOS-005
