[buildout]
# path to slapos.libnetworkcache branch signature
# git clone https://git.erp5.org/repos/slapos.libnetworkcache.git
# cd slapos.libnetworkcache && git checkout signature
#develop = ....slapos.libnetworkcache-signature
extends =
  ../../stack/shacache-client.cfg
  ../m2crypto/buildout.cfg
  ../lxml-python/buildout.cfg
  ../python-2.7/buildout.cfg
  ../m2crypto/buildout.cfg

parts =
  M2Crypto
  slapos

find-links =
  http://www.nexedi.org/static/packages/source/slapos.buildout/

versions = versions

allow-hosts =
  *.googlecode.com
  *.nexedi.org
  *.python.org
  alastairs-place.net
  code.google.com
  github.com
  peak.telecommunity.com

# separate from system python
include-site-packages = false
exec-sitecustomize = false
allowed-eggs-from-site-packages =

[lxml-python]
python = python2.7

[slapos.libnetworkcache]
python = python2.7

[M2Crypto]
python = python2.7

[slapos]
recipe = z3c.recipe.scripts
python = python2.7
eggs =
  M2Crypto
  slapos.libnetworkcache
  zc.buildout
  ${lxml-python:egg}
  slapos.core

# control scripts generation in order to avoid reinstalling bin/buildout
scripts =
  generate-signature-key = slapos.signature:run
  slapconsole = slapos.console:run
  slapos-request = slapos.console:request
  slapformat = slapos.format:main
  slapgrid = slapos.grid.slapgrid:run
  slapgrid-sr = slapos.grid.slapgrid:runSoftwareRelease
  slapgrid-cp = slapos.grid.slapgrid:runComputerPartition
  slapgrid-ur = slapos.grid.slapgrid:runUsageReport
  slapgrid-supervisorctl = slapos.grid.svcbackend:supervisorctl
  slapgrid-supervisord = slapos.grid.svcbackend:supervisord
  slapproxy = slapos.proxy:main

[versions]
zc.buildout = 1.5.3-dev-SlapOS-005
Jinja2 = 2.6
M2Crypto = 0.21.1
Werkzeug = 0.7.1
buildout-versions = 1.6
hexagonit.recipe.cmmi = 1.5.0
lxml = 2.3
meld3 = 0.6.7
netaddr = 0.7.5
setuptools = 0.6c12dev-r88846
slapos.core = 0.12
slapos.libnetworkcache =
xml-marshaller = 0.9.7
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2

# Required by:
# slapos.core==0.12
Flask = 0.7.2

# Required by:
# hexagonit.recipe.cmmi==1.5.0
hexagonit.recipe.download = 1.5.0

# Required by:
# slapos.core==0.12
netifaces = 0.5

# Required by:
# slapos.core==0.12
supervisor = 3.0a10

# Required by:
# slapos.core==0.12
zope.interface = 3.7.0
