[buildout]
extends =
  ../gettext/buildout.cfg
  ../glib/buildout.cfg
  ../libsigc/buildout.cfg
  ../meson/buildout.cfg
  ../ninja/buildout.cfg
  ../perl/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg
parts =
  glibmm

[glibmm]
recipe = slapos.recipe.cmmi
shared = true
url = https://download.gnome.org/core/44/44.2/sources/glibmm-2.66.6.tar.xz
md5sum = 6defa41dd789059e57b0b417c36c004f
pkg_config_depends = ${glib:location}/lib/pkgconfig:${glib:pkg_config_depends}:${libsigc:location}/lib/pkgconfig
configure-command = ${meson:location}/bin/meson builddir --libdir=lib -Dprefix=@@LOCATION@@
make-binary = ninja -C builddir
environment =
  PATH=${perl:location}/bin:${pkgconfig:location}/bin:${xz-utils:location}/bin:${glib:location}/bin:${ninja:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${:pkg_config_depends}
  CPPFLAGS=-I${gettext:location}/include
  LDFLAGS=-L${gettext:location}/lib -Wl,-rpath=${gettext:location}/lib
