# {{ slapparameter_dict }}
{- do slapparameter_dict.__setitem__('enable-http-server', True) %}
{# Get test type, default to script-from-url, as defined in instance-input-schema.json -#}
{% set test_type = slapparameter_dict.get('test-type', 'script-from-url') -%}
{# Choose parameters according to test type -#}
{% if test_type == 'script-from-url' -%}
{% set data_to_vm = slapparameter_dict.get('data-to-vm') -%}
{% elif test_type == 'cloned-playbook' -%}
{% set script_url = 'http://10.0.2.100/standalone-local-playbook' -%}
{% set test_yml_path = slapparameter_dict.get('yml-path-to-test') -%}
{% else -%}
The test_type = "{{ test_type }}" is unsupported.
{% endif -%}
[buildout]

extends = {{ template_kvm }}

[kvm-parameter-dict]
name = test-kvm
# Tested image
# Passed by request
virtual-hard-drive-url = ${image-to-test:url}
virtual-hard-drive-md5sum = ${image-to-test:md5sum}

# require HTTP server
enable-http-server = true

# VM options
ram-size = 4096
cpu-count = 2

# The test script XXX put to public
bootstrap-script-url = {{ in_vm_test_script }}#{{ in_vm_test_script_md5 }}


[image-to-test]
url = {{ slapparameter_dict.get('image-to-test-url') }}
md5sum = {{ slapparameter_dict.get('image-to-test-md5sum') }}

[directory]
recipe = slapos.cookbook:mkdirectory
home = ${buildout:directory}
etc = ${:home}/etc/
var = ${:home}/var/
srv = ${:home}/srv/
bin = ${:home}/bin/
tmp = ${:home}/tmp/
log = ${:var}/log/
services = ${:etc}/service/
scripts = ${:etc}/run/
