[buildout]
extends =
    ../bison/buildout.cfg
    ../m4/buildout.cfg
    ../openssl/buildout.cfg

parts =
    kerberos

[kerberos]
recipe = slapos.recipe.cmmi
shared = true
url = https://web.mit.edu/kerberos/dist/krb5/1.20/krb5-1.20.2.tar.gz
md5sum = 7ac456e97c4959ebe5c836dc2f5aab2c
configure-command = src/configure
configure-options =
    --prefix=@@LOCATION@@
    --with-ldap=no
    --without-readline
    --without-keyutils
environment =
  PATH=${m4:location}/bin:${bison:location}/bin:%(PATH)s
  CPPFLAGS=-I${openssl:location}/include
  LDFLAGS=-Wl,-rpath=${openssl:location}/lib -L${openssl:location}/lib
