[buildout]
parts =
  libblas


[libblas]
recipe = cp.recipe.cmd
location = ${buildout:parts-directory}/${:_buildout_section_name_}
gfortran=${gcc-fortran:location}/bin/gfortran
install_cmd =
  set -e
  mkdir -p ${:location}__compile__
  cd ${:location}__compile__
  wget http://www.netlib.org/blas/blas.tgz
  tar xzf blas.tgz
  cd BLAS
  ${:gfortran} -O3 -std=legacy -m64 -fno-second-underscore -fPIC -c *.f
  ar r libfblas.a *.o
  ranlib libfblas.a
  # rm -rf *.o
  mkdir -p ${:location}
  mv libfblas.a ${:location}/

#update_cmd = ${:install_cmd}

