[buildout]
extends =
  ../python3/buildout.cfg

  ../mesa/buildout.cfg
  ../meson/buildout.cfg
  ../ninja/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xorg/buildout.cfg
  ../xz-utils/buildout.cfg

parts = libepoxy

[libepoxy]
recipe = slapos.recipe.cmmi
url = https://github.com/anholt/libepoxy/releases/download/1.5.3/libepoxy-1.5.3.tar.xz
md5sum = e2845de8d2782b2d31c01ae8d7cd4cbb
configure-command =
  echo "current working directory is `pwd`" 
  sed -i '20s/value: true/value: false/' meson_options.txt 
  mkdir build && cd build 
   ${buildout:directory}/bin/${meson:egg} --prefix=%(prefix)s 
    
make-binary = cd build && ${ninja:location}/ninja
environment =
  PATH=${ninja:location}:${pkgconfig:location}/bin:${cmake:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${mesa:location}/lib/pkgconfig:${libX11:location}/lib/pkgconfig:${xproto:location}/lib/pkgconfig:${libXext:location}/lib/pkgconfig
  CFLAGS=-I${mesa:location}/include -I${libX11:location}/include -I${xproto:location}/include -I${glu:location}/include
  LDFLAGS=-L${libX11:location}/lib -L${mesa:location}/lib -Wl,-rpath=${mesa:location}/lib -L${libXext:location}/lib -Wl,-rpath=${libXext:location}/lib -L${xproto:location}/lib -Wl,-rpath=${xproto:location}/lib
