[buildout]
extends =
  ../m4/buildout.cfg
  ../patch/buildout.cfg
  ../perl/buildout.cfg
parts =
  autoconf

[autoconf]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/autoconf/autoconf-2.69.tar.gz
md5sum = 82d05e03b93e45f5a39b828dc9c6c29b
patch-options = -p1
patches =
  ${:_profile_base_location_}/autoconf-2.69-shebang_workaround.patch#9d286e6f9c271dff361891e381be706d
environment =
  M4=${m4:location}/bin/m4
  PATH=${patch:location}/bin:${perl:location}/bin:%(PATH)s
