[buildout]
parts =
  geos

[geos]
recipe = slapos.recipe.cmmi
version = 3.5.0
url = http://download.osgeo.org/geos/geos-${:version}.tar.bz2
md5sum = 136842690be7f504fba46b3c539438dd
configure-options =
  --disable-dependency-tracking
  --disable-static
