[buildout]
parts = mbedtls

[mbedtls]
<= glibc-aware
recipe = slapos.recipe.cmmi
url = https://tls.mbed.org/download/mbedtls-2.16.0-gpl.tgz 
md5sum = 899b8385c0b47fb3e0e52baca16c93c8 
shared = true
configure-command = echo 
make-targets = install DESTDIR=@@LOCATION@@ 
