[buildout]
parts = mbedtls

[mbedtls]
recipe = slapos.recipe.cmmi
url = htps://github.com/Mbed-TLS/mbedtls/archive/refs/tags/v2.28.2.tar.gz
md5sum = 421c47c18ef46095e3ad38ffc0543e11
shared = true
configure-command = echo 
make-targets = install DESTDIR=@@LOCATION@@ 
