# SlapOS component for pygolang.
# pygolang.nexedi.com

[buildout]
parts =
    pygolang


# pygolang installed from released egg from pypi
[pygolang]
recipe  = zc.recipe.egg:eggs
egg     = pygolang


[versions]
pygolang = 0.0.0.dev4
# pinned by stack/slapos:
# six
