[buildout]
parts =
  pcre2

[pcre2]
recipe = slapos.recipe.cmmi
shared = true
url = https://github.com/PCRE2Project/pcre2/releases/download/pcre2-10.48/pcre2-10.48.tar.bz2
md5sum = 98013efc5ebfe0a7b82ae53a43b8fd72
configure-options =
  --disable-static
  --enable-pcre2-16
  --enable-pcre2-32
  --disable-pcre2grep-libz
  --disable-pcre2grep-libbz2
  --disable-pcre2test-libedit
  --disable-pcre2test-libreadline
