[buildout]
extends =
  ../libzmq/buildout.cfg
  ../pkgconfig/buildout.cfg

parts =
  python-pyzmq

[python-pyzmq-env]
PATH =${pkgconfig:location}/bin:%(PATH)s
PKG_CONFIG_PATH=${libzmq:location}/lib/pkgconfig

[python-pyzmq]
recipe = zc.recipe.egg:custom
egg = pyzmq
environment = python-pyzmq-env
rpath =
  ${libzmq:location}/lib
