[buildout]
allow-picked-versions = true

extends =
  buildout.hash.cfg
  ../../stack/monitor/buildout.cfg
  ../../stack/slapos.cfg
  ../../component/python3/buildout.cfg
  ../../component/git/buildout.cfg
  ../../component/numpy/buildout.cfg
  ../../component/zlib/buildout.cfg

parts =
  interpreter
  slapos-cookbook
  osie-repository
  instance-profile

[opencv-python]
recipe = zc.recipe.egg:custom
egg = opencv-python-headless
rpath =
  ${zlib:location}/lib/
library-dirs =
  ${:rpath}

[interpreter]
recipe = zc.recipe.egg:scripts
interpreter = py
eggs =
  ${python-cffi:egg}
  asyncua
  ${opencv-python:egg}
  pyopenssl
  ${numpy:egg}

[osie-repository]
recipe  = slapos.recipe.build:gitclone
git-executable = ${git:location}/bin/git
repository = https://lab.nexedi.com/nexedi/osie.git
revision = 02b7b07

[versions]
# XXX: using a wheel / binary code might be considered unsafe
# ideally we can compile this package in future.
cryptography = 42.0.8:whl
PyYAML = 6.0.1
aiosqlite = 0.20.0
aiofiles = 24.1.0
pyOpenSSL = 24.1.0
opencv-python-headless = 4.10.0.84

[instance-profile]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance.cfg.in
rendered = ${buildout:directory}/instance.cfg
context =
  section buildout buildout
  key interpreter_location buildout:bin-directory
  key osie_repository_location osie-repository:location
