[buildout]
extends =
  ../patch/buildout.cfg

parts = nspr

[nspr]
recipe = slapos.recipe.cmmi
url = https://ftp.mozilla.org/pub/nspr/releases/v4.13.1/src/nspr-4.13.1.tar.gz
md5sum = 9c44298a6fc478b3c0a4e98f4f9981ed
location = ${buildout:parts-directory}/${:_buildout_section_name_}
configure-command = nspr/configure
configure-options =
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
  --enable-64bit
  --enable-ipv6
environment=
  LDFLAGS=-Wl,-rpath=${:location}/lib
