# freepbx - easy to use GUI that controls and manages Asterisk
# http://www.freepbx.org/

[buildout]
parts = freepbx
extends =
  ../apache-php/buildout.cfg

[freepbx]
recipe = slapos.recipe.build:download-unpacked
url = http://mirror.freepbx.org/freepbx-2.11.0rc1.tar.gz
md5sum = 41ecb28ab381fb86ecce81500d16cd9f

[php-db]
recipe = cp.recipe.cmd
pear = ${apache-php:location}/bin/pear
install_cmd =
    ${:pear} info db >/dev/null || ${:pear} install db
