[buildout]
extends =
  ../libpcap/buildout.cfg
  ../python-PyYAML/buildout.cfg

parts =
  eggs

[python-pim-dm]
recipe = zc.recipe.egg:custom
egg = pim-dm
include-dirs =
  ${libpcap:location}/include
library-dirs =
  ${libpcap:location}/lib
rpath =
  ${libpcap:location}/lib/

[eggs]
recipe = zc.recipe.egg
eggs =
  igmp
  ipaddress
  netifaces
  ${python-pim-dm:egg}
  prettytable
  py-mld
  pyroute2
  ${python-PyYAML:egg}
