[buildout]
extends =
  ../kvm/software.cfg
  buildout.hash.cfg

parts += instance.json

[download-vps-base]
# we cannot use "download-base" section because:
# 1. we need _profile_base_location to point to current directory for our own files
# 2. we need json to be in specific directory
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[directory]
recipe = slapos.recipe.build:mkdirectory
json-vps = ${buildout:parts-directory}/json-schema/vps
json-kvm = ${buildout:parts-directory}/json-schema/kvm

[software.json]
<= download-vps-base
destination = ${directory:json-vps}/${:filename}

[instance.json]
<= download-vps-base
destination = ${directory:json-kvm}/${:filename}

[slap-configuration-common]
# keep the 2 extra spaces after first line so that template is correcty generated
common-all =
  conf['auto-ballooning'] = False
    conf['wipe-disk-ondestroy'] = True
    conf['use-tap'] = True
    conf['frontend-software-type'] = "default"
    conf['frontend-software-url'] = "http://git.erp5.org/gitweb/slapos.git/blob_plain/HEAD:/software/apache-frontend/software.cfg"
    conf['frontend-additional-software-type'] = "default"
    conf['frontend-additional-software-url'] = "chinary-frontend-sr"
common-vpsbrute =
  conf['ram-size'] = 1002496
    conf['ram-max-size'] = 1014784
    conf['cpu-count'] = 128
    conf['cpu-max-count'] = 129

[template]
<= template-base
# we need to overwrite _profile_base_location to current directory
url = ${:_profile_base_location_}/${:filename}
