[buildout]
extends =
  ../libyaml/buildout.cfg

[python-PyYAML]
recipe = zc.recipe.egg:custom
egg = PyYAML
rpath =
  ${libyaml:location}/lib/
include-dirs =
  ${libyaml:location}/include
library-dirs =
  ${libyaml:location}/lib
