[buildout]
extends =
  ../../component/cubrid/buildout.cfg

find-links =
  http://www.nexedi.org/static/packages/source/slapos.buildout/

parts =
  template
  cubrid

versions = versions

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
md5sum = 11087699140d351e0c8a0b2b54799929
output = ${buildout:directory}/template.cfg
mode = 0644

[versions]
# Use SlapOS patched zc.buildout
zc.buildout = 1.5.3-dev-SlapOS-010
