[buildout]
parts =
  libtasn1

[libtasn1]
recipe = slapos.recipe.cmmi
url = ftp://ftp.gnu.org/gnu/libtasn1/libtasn1-4.1.tar.gz
md5sum = f9b37df3c2c9c6439d8bf427bfbfc521
configure-options =
  --disable-static
  --disable-gtk-doc-html
