# neotest SR with main components taken from latest git versions
[buildout]
extends = software.cfg


[go_lab.nexedi.com_kirr_neo]
branch	= t
revision=

[lmbench-repository]
branch  = x/kirr
revision=

[ioping-repository]
branch  = x/hist
revision=
