[buildout]

parts =
  f2c

[libf2c]
recipe = slapos.recipe.cmmi
shared = true
url = https://www.netlib.org/f2c/libf2c.zip#${:md5sum}
configure-command = true
md5sum = e80fb30fa3717660db71b1bed65b88b7
make-binary = make -f makefile.u
make-targets = install LIBDIR=${:location}
location = ${buildout:parts-directory}/${:_buildout_section_name_}

[f2c]
recipe = slapos.recipe.cmmi
shared = true
url = http://www.netlib.org/f2c/src.tgz#${:md5sum}
md5sum = 7e97530d10ec5783e9d54c1a61eaeed7
configure-command = true
make-binary = make -f makefile.u
make-targets =
post-install = cp f2c ${:location}
location = ${buildout:parts-directory}/${:_buildout_section_name_}
environment = 
  CPPFLAGS=-I${libf2c:location}/include
  LDFLAGS=-L${libf2c:location}/lib
