[buildout]
extends =
  ../openssl/buildout.cfg
  ../pcre/buildout.cfg
  ../pkgconfig/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg
parts =
  wget

[wget]
recipe = slapos.recipe.cmmi
url = http://ftp.gnu.org/gnu/wget/wget-1.14.tar.xz
md5sum = 316f6f59292c9098ad81fd54f658c579
configure-options =
  --enable-ipv6
  --enable-opie
  --disable-iri
  --with-ssl=openssl
  --with-libssl-prefix=${openssl:location}
  --with-zlib-lib=${zlib:location}

environment =
  PATH=${pkgconfig:location}/bin:${xz-utils:location}/bin:%(PATH)s
  PKG_CONFIG_PATH=${openssl:location}/lib/pkgconfig
  LDFLAGS=-L${zlib:location}/lib -L${openssl:location}/lib -L${pcre:location}/lib -Wl,-rpath=${pcre:location}/lib
  CPPFLAGS=-I${zlib:location}/include -I${openssl:location}/include -I${pcre:location}/include
