# git - a distributed version control system with speed and efficiency
# https://git-scm.com/

[buildout]
extends =
  ../curl/buildout.cfg
  ../gettext/buildout.cfg
  ../libexpat/buildout.cfg
  ../openssl/buildout.cfg
  ../patch/buildout.cfg
  ../pcre/buildout.cfg
  ../perl/buildout.cfg
  ../tar/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg
parts =
  git

[git]
recipe = slapos.recipe.cmmi
shared = true
url = https://mirrors.edge.kernel.org/pub/software/scm/git/git-2.47.1.tar.xz
md5sum = 14e26079cc448bc52e470e7dcfabdcec
configure-options =
  --with-curl=${curl:location}
  --with-openssl=${openssl:location}
  --with-zlib=${zlib:location}
  --with-libpcre=${pcre:location}
  --with-expat=${libexpat:location}
  --with-perl=${perl:location}/bin/perl
environment =
  NO_PYTHON=y
  NO_TCLTK=y
  PATH=${curl:location}/bin:${gettext:location}/bin:${tar:location}/bin:${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -L${openssl:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${zlib:location}/lib -Wl,-rpath=${curl:location}/lib -Wl,-rpath=${libexpat:location}/lib
patch-options = -p1
patch-binary = ${patch:location}/bin/patch
patches =
  https://github.com/git/git/commit/ea3422662d21c33c349cc71e9cdbfe235e8f6905.patch?full_index=1#0f4d03d2dad5facbdd76a6ac1ef5b057

[gitweb]
<= git
make-targets = install-gitweb
make-options = bindir="${git:location}/bin/"
