# git - a distributed version control system with speed and efficiency
# http://git-scm.com/

[buildout]
extends =
  ../curl/buildout.cfg
  ../gettext/buildout.cfg
  ../libexpat/buildout.cfg
  ../openssl/buildout.cfg
  ../pcre/buildout.cfg
  ../xz-utils/buildout.cfg
  ../zlib/buildout.cfg
parts =
  git

[git]
recipe = slapos.recipe.cmmi
url = https://www.kernel.org/pub/software/scm/git/git-1.9.3.tar.xz
md5sum = 560200d1db05a2dd2b8a2b3718655463
configure-options =
  --with-curl=${curl:location}
  --with-openssl=${openssl:location}
  --with-zlib=${zlib:location}
  --with-libpcre=${pcre:location}
  --with-expat=${libexpat:location}
environment =
  NO_PERL=y
  NO_PYTHON=y
  NO_TCLTK=y
  PATH=${curl:location}/bin:${gettext:location}/bin:${xz-utils:location}/bin:%(PATH)s
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -L${openssl:location}/lib -Wl,-rpath=${openssl:location}/lib -Wl,-rpath=${zlib:location}/lib

[gitweb]
<= git
make-targets = install-gitweb
make-options = bindir="${git:location}/bin/"
