[buildout]
extends =
  ../perl/buildout.cfg
  ../perl-DBI/buildout.cfg
  ../perl-DBD-mariadb/buildout.cfg
parts =
  percona-toolkit

[percona-toolkit]
recipe = slapos.recipe.cmmi
depends =
  ${perl:version}
version = 2.2.5
url = http://www.percona.com/redir/downloads/percona-toolkit/${:version}/percona-toolkit-${:version}.tar.gz
md5sum = 66165271fc3ddf8311e5ff3b1a954595
configure-command =
  ${perl:location}/bin/perl Makefile.PL
