[buildout]
extends =
  ../perl/buildout.cfg
  ../perl-DBI/buildout.cfg
  ../perl-DBD-MySQL/buildout.cfg
parts =
  percona-toolkit

[percona-toolkit]
recipe = slapos.recipe.cmmi
version = 2.2.9
url = http://www.percona.com/redir/downloads/percona-toolkit/${:version}/percona-toolkit-${:version}.tar.gz
md5sum = f0a24d89e56bd01c6c8c5fdfdb5cad44
configure-command =
  ${perl:location}/bin/perl Makefile.PL
