[buildout]
extends =
  ../perl/buildout.cfg
  ../perl-DBI/buildout.cfg
  ../perl-DBD-MySQL/buildout.cfg
parts =
  percona-toolkit

[percona-toolkit]
recipe = slapos.recipe.cmmi
version = 2.2.12
url = http://www.percona.com/redir/downloads/percona-toolkit/${:version}/tarball/percona-toolkit-${:version}.tar.gz
md5sum = 7c39b06b97ebab97ae5d3c78d1186258
configure-command =
  ${perl:location}/bin/perl Makefile.PL
