[buildout]
extends =
  ../autoconf/buildout.cfg
  ../perl/buildout.cfg
parts =
  automake-1.11

[automake-1.11]
recipe = hexagonit.recipe.cmmi
md5sum = 93ecb319f0365cb801990b00f658d026
url = http://ftp.gnu.org/gnu/automake/automake-1.11.3.tar.gz
environment =
  PATH =${autoconf:location}/bin:${perl:location}/bin:%(PATH)s
