[buildout]
extends =
  ../zstd/buildout.cfg

parts =
  cython-zstd

[cython-zstd-source]
recipe = slapos.recipe.build:download-unpacked
url = https://lab.nexedi.com/nexedi/cython-zstd/-/archive/${:revision}/cython-zstd-${:revision}.tar.gz
destination = ${buildout:parts-directory}/cython-zstd
md5sum = 6e04583effdae04cd860aee7b156478b
revision = 878bb4c2ec371f79e22f0b2e6b0a7ae1f2c658d5

[cython-zstd]
recipe = zc.recipe.egg:develop
egg = ${:_buildout_section_name_}
# Cython can't produce a .c file that works for both 2.7 recent Python 3.
setup-eggs = ${cython:egg}
setup = ${cython-zstd-source:location}
include-dirs =
  ${zstd:location}/include
library-dirs =
  ${zstd:location}/lib
rpath =
  ${:library-dirs}
