[buildout]
extends =
  ../zstd/buildout.cfg

parts =
  cython-zstd

[cython-zstd]
recipe = zc.recipe.egg:custom
egg = ${:_buildout_section_name_}
include-dirs =
  ${zstd:location}/include
library-dirs =
  ${zstd:location}/lib
rpath =
  ${:library-dirs}
