[buildout]
extends =
  ../../stack/tomcat.cfg
  ../../stack/slapos.cfg
  ../../component/palo_olap/buildout.cfg

parts =
  palo_olap
  palo_etl_download
  template_server_xml
  template_palo_ini
  slapos-cookbook
  instance-profile

[instance-profile]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg.in
output = ${buildout:directory}/instance.cfg
#md5sum = b30db17333d11ce11f486a96e68ad9b1
mode = 0644

[palo_etl_download]
recipe = hexagonit.recipe.download
url = http://downloads.sourceforge.net/project/palo-etl-server/etlserver/Palo%20ETL%20Server%203.2/etlserver.war
download-only = true

[download-base]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}
mode = 644

[template_server_xml]
< = download-base
filename = server.xml.in
#md5sum = 19daa17468de0940e0d10d4bd4adf86e

[template_palo_ini]
< = download-base
filename = palo.ini.in
#md5sum = d85f449ce322eba4d75b6ad28c8bece8
