[slapos]
software_root = {{software_root}}
instance_root = {{instance_root}}
master_url = http://{{ipv4}}:{{proxy_port}}
computer_id = slaprunner
maximal_delay = 0

[slapformat]
partition_amount = {{partition_amount}}

[slaprunner]
slapgrid_sr = {{slapgrid_sr}}
slapgrid_cp = {{slapgrid_cp}}
slapproxy = {{slapproxy}}
supervisor = {{supervisor}}
supervisord_config = {{supervisord_config}}
runner_workdir = {{runner_workdir}}
runner_host = {{ipv4}}
runner_port = {{runner_port}}
ipv4_address = {{ipv4}}
ipv6_address = {{ipv6}}
etc_dir = {{etc_dir}}
run_dir = {{run_dir}}
log_dir = {{log_dir}}

[slapproxy]
host = {{proxy_host}}
port = {{proxy_port}}
database_uri = {{proxy_database}}

[sshkeys_authority]
ssh_client = {{ssh_client}}
public_key = {{public_key}}
private_key = {{private_key}}

[gitclient]
git = {{git}}

[cloud9_IDE]
cloud9 = {{cloud9_url}}
