[buildout]
extends =
  ../scipy/buildout.cfg
  ../protobuf-python/buildout.cfg
  ../h5py/buildout.cfg
  ../pillow/buildout.cfg
  ../tensorflow/buildout.cfg
parts =
  chainer-egg

[chainer-env]
CUDA_PATH=${cuda:cuda_toolkit_path}

[chainer]
recipe = zc.recipe.egg:custom
egg = chainer
setup-eggs =
  ${scipy:egg}
  ${numpy:egg}
  ${protobuf-python:egg}
  ${h5py:egg}
  ${pillow-python:egg}
environment = chainer-env

[chainer-egg]
recipe = zc.recipe.egg
initialization =
  import scipy.spatial.ckdtree # load our own libstdc++ explicitly at the very beginning
eggs =
  ${scipy:egg}
  ${numpy:egg}
  ${protobuf-python:egg}
  filelock
  nose
  six
  ${chainer:egg}
  ${h5py:egg}
  ${pillow-python:egg}
interpreter = chainer-python
scripts = chainer-python

[versions]
chainer = 3.0.0
filelock = 2.0.12
nose = 1.3.7
six = 1.11.0
