[buildout]
extends =
# basic needs
  ../../stack/slapos.cfg

parts +=
  slapos-cookbook
  template-instance
  git
  curl

versions = versions


[versions]
slapos.recipe.template = 3.0


[template-instance]
# jinja2 render instance.cfg file in the buildout directory
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/instance.cfg
rendered = ${buildout:directory}/instance.cfg
mode = 0644
md5sum = 154882944c6a58642629c17d47b4f6fc
context =
  key software_dir            :_profile_base_location_
  key instance_dir            buildout:directory
  key curl_path               curl:location
  key git_path                git:location
  key eggs_directory          buildout:eggs-directory
  key develop_eggs_directory  buildout:develop-eggs-directory

