[buildout]

parts=
  slapos-cookbook
  boinc
  template
  template-boinc

extends =
  ../../component/boinc-client/buildout.cfg
  ../../stack/slapos.cfg

[template]
# Default template for boinc-client instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
md5sum = 79f4d781c1b385d2afa75ae4077c5381
output = ${buildout:directory}/template.cfg
mode = 0644

[template-boinc]
# Default template for boinc-client instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance-boinc.cfg
md5sum = 4a50c02252792d11b99d88206bc49e12
output = ${buildout:directory}/template-boinc.cfg
mode = 0644

[versions]
plone.recipe.command = 1.1
slapos.recipe.download = 1.0.dev-r4053
slapos.recipe.template = 2.4.2
