[buildout]
parts =
  depot_tools

[depot_tools]
recipe = slapos.recipe.build:gitclone
repository = https://chromium.googlesource.com/chromium/tools/depot_tools.git
branch = master
git-executable = ${git:location}/bin/git
