[buildout]
extends =
  ../git/buildout.cfg
parts =
  depot_tools

[depot_tools]
recipe = slapos.recipe.build:gitclone
repository = https://chromium.googlesource.com/chromium/tools/depot_tools.git
revision = 85116f17109bbd1e5545aa9c12308a19684cf792
git-executable = ${git:location}/bin/git
