# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     But avoid directories, they are not portable.
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[template]
filename = instance.cfg
md5sum = b5cc50c24e76fcf36e9fe7c37d689593

[template-lte-default]
_update_hash_filename_ = instance-default.jinja2.cfg
md5sum = 3fd6a586a9d83b6b5f7b9f853a679d00

[template-lte-enb]
_update_hash_filename_ = instance-enb.jinja2.cfg
md5sum = cda352579b01f0d93f2be8a71e56b5c5

[template-lte-mme]
_update_hash_filename_ = instance-mme.jinja2.cfg
md5sum = baf94ee66622224bc19c3a455c96d80a

[template-lte-ims]
_update_hash_filename_ = instance-ims.jinja2.cfg
md5sum = 648ec2c15e0f3bca71c5b7676ff10c9d

[ue_db.jinja2.cfg]
filename = config/ue_db.jinja2.cfg
md5sum = 4e4b40589ca0817d44f638c0612f0a04

[enb.jinja2.cfg]
filename = config/enb.jinja2.cfg
md5sum = abc4ffd72b5d700fee9dca171adc98ca

[ltelogs.jinja2.sh]
filename = ltelogs.jinja2.sh
md5sum = 1ba2e065bdf14a6411e95e80db17dcfd

[mme.jinja2.cfg]
filename = config/mme.jinja2.cfg
md5sum = 61d0f4101acc71342b3ff8ac0922ebdb

[ims.jinja2.cfg]
filename = config/ims.jinja2.cfg
md5sum = fe6d7f651765eda331bef9720848131a
