# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     But avoid directories, they are not portable.
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template]
filename = instance.cfg
md5sum = cc4f374a1cd654e15e1b2f9e97788ffd

[template-lte-default]
_update_hash_filename_ = instance-default.jinja2.cfg
md5sum = efa0cc58edd2c8502185eaccc75dafe4

[template-lte-enb]
_update_hash_filename_ = instance-enb.jinja2.cfg
md5sum = 929c5e83292cb2eeb4c03a9b2b8f86d5

[template-lte-mme]
_update_hash_filename_ = instance-mme.jinja2.cfg
md5sum = ca24e07b7eb16553b6eb9c34550c9aa1

[template-lte-license]
_update_hash_filename_ = instance-license.jinja2.cfg
md5sum = f819d298e0bd3d1281f827e46722711b

[template-lte-ims]
_update_hash_filename_ = instance-ims.jinja2.cfg
md5sum = 1d7cfface26d69f2c3a09ea4a425b96c

[template-lte-mbms]
_update_hash_filename_ = instance-mbms.jinja2.cfg
md5sum = c1431ef4f18c2ba91daa14896c5a8140

[ue_db.py.in]
filename = ue_db.py.in
md5sum = 67160bb2cab08955e567190e5f173cdf
