[buildout]
parts =
  directory
  check-disk-space.py
  check-partition-space.py
  check-cpu-temperature.py
  check-ram-usage.py
  check-network-errors.py
  check-network-transit.py
  check-cpu-load.py
  publish-connection-information

extends = {{ monitor_template }}

eggs-directory = {{ eggs_directory }}
develop-eggs-directory = {{ develop_eggs_directory }}
offline = true

[slap-configuration]
recipe = slapos.cookbook:slapconfiguration.serialised
computer = {{ slap_connection['computer-id'] }}
partition = {{ slap_connection['partition-id'] }}
url = {{ slap_connection['server-url'] }}
key = {{ slap_connection['key-file'] }}
cert = {{ slap_connection['cert-file'] }}

[directory]
recipe = slapos.cookbook:mkdirectory
software = {{ buildout_directory }}
home = ${buildout:directory}
etc = ${:home}/etc
var = ${:home}/var
etc = ${:home}/etc
bin = ${:home}/bin
run = ${:var}/run
script = ${:etc}/run
service = ${:etc}/service
promise = ${:etc}/promise
log = ${:var}/log

[publish-connection-information]
recipe = slapos.cookbook:publish.serialised
<= monitor-publish

[macro.promise]
<= monitor-promise-base
name = ${:_buildout_section_name_}

[check-disk-space.py]
<= macro.promise
eggs = slapos.toolbox[prediction]
promise = check_free_disk_space
config-collectordb = ${monitor-instance-parameter:collector-db}
config-threshold =
config-nb-days-predicted =
config-display-partition = 1
config-display-prediction = 1

[check-partition-space.py]
<= macro.promise
eggs = slapos.toolbox[pandas]
promise = monitor_partition_space
config-collectordb = ${monitor-instance-parameter:collector-db}
config-threshold-ratio =

[check-cpu-temperature.py]
<= macro.promise
promise = check_cpu_temperature
config-testing = false
config-max-spot-temp = {{ slapparameter_dict.get("promise_cpu_temperature_threshold", 90) }}
config-max-avg-temp = {{ slapparameter_dict.get("promise_cpu_avg_temperature_threshold", 80) }}
config-avg-temp-duration = {{ slapparameter_dict.get("promise_cpu_avg_temperature_threshold_duration", 600) }}
config-last-avg-computation-file = ${directory:var}/promise_cpu_temperature_last_avg_file

[check-ram-usage.py]
<= macro.promise
promise = check_ram_usage
# config-min-threshold-ram =
# config-min-avg-ram =
# config-avg-ram-period-sec =
# config-avg-ram-period
config-last-avg-ram-file = ${directory:var}/promise_ram_space_last_avg_file

[check-network-errors.py]
<= macro.promise
promise = check_network_errors_packets
# config-max-lost-packets =
# config-max_error_messages =

[check-network-transit.py]
<= macro.promise
promise = check_network_transit
# config-min-threshold-recv =
# config-min-threshold-sent =
# config-transit-period-minutes =
config-last-transit-file = ${directory:var}/promise_network_last_transit_file

[check-cpu-load.py]
<= macro.promise
promise = check_server_cpu_load
# config-cpu-load-threshold =
