# SlapOS component for ZEO.
# https://zeo.readthedocs.io/

[buildout]
extends =
    ../ZODB/buildout.cfg
    ../git/buildout.cfg

parts = ZEO/scripts


# ZEO provides ZEO<X> depending on ZODB major version.
#
# - ZEO3 is part of ZODB3 distribution
#   https://github.com/zopefoundation/ZODB/tree/3.10.7-4-gb8d7a8567/src
# - ZEO4 works only with ZODB4
#   https://github.com/zopefoundation/ZEO/blob/4.3.1-1-g47d3fbe8/setup.py#L122
# - ZEO5 works only with ZODB5
#   https://github.com/zopefoundation/ZEO/blob/5.2.2-1-g3d90ed42/setup.py#L20
[ZEO]
recipe  = slapos.recipe.build
depends = ${ZODB:egg}
init =
  zodb = self.buildout['ZODB']
  zmajor = zodb['major']

  # ZODB3 -> just link ZEO to ZODB3 (ZEO3 is part of ZODB3)
  if zmajor == '3':
    options['egg'] = zodb['egg']

  # ZODB{4,5}: link/depend to ZEO<ZODB.major>
  else:
    zeo_x = self.buildout['ZEO'+zmajor]
    options['depends'] += '$${%s:egg}' % zeo_x.name
    options['egg'] = zeo_x['egg']

    # update [versions] from what is needed by ZEO<X>
    for _ in zeo_x['egg_versions'].splitlines():
      if _ == '' or _.startswith('#'):
          continue
      egg, eq, version = _.split() # 'transaction = 1.7.0'
      assert eq == '='
      self.buildout['versions'][egg] = version
    # propagate updated [versions] -> easy_install
    # (buildout does this in Buildout constructor)
    import zc.buildout.easy_install
    zc.buildout.easy_install.default_versions(self.buildout['versions'])


# ZEO/scripts installs scripts from ZEO
[ZEO/scripts]
recipe  = zc.recipe.egg:scripts
eggs    = ${ZEO:egg}


# ZEO4: we maintain our own 4-nxd branch with patches
[ZEO4]
recipe  = zc.recipe.egg:develop
setup   = ${ZEO4-repository:location}
egg     = ZEO
egg_versions =

[ZEO4-repository]
recipe  = slapos.recipe.build:gitclone
repository = https://lab.nexedi.com/nexedi/ZEO.git
branch  = 4-nxd
revision= 5114f909e5a5
location = ${buildout:parts-directory}/ZEO4
git-executable = ${git:location}/bin/git


# ZEO5 is plain upstream egg
[ZEO5]
recipe  = zc.recipe.egg:eggs
egg     = ZEO
eggs    = ${:egg}

egg_versions =
  ZEO = 5.2.2
  trollius = 2.2.post1
  futures = 3.2.0
