[buildout]
extends =
  ../numpy/buildout.cfg
  ../lxml-python/buildout.cfg
  ../git/buildout.cfg
  ../postgresql/buildout.cfg

[olapy-repository]
recipe = slapos.recipe.build:gitclone
repository = https://github.com/abilian/olapy.git
branch = master
git-executable = ${git:location}/bin/git

[olapy-develop]
recipe = zc.recipe.egg:develop
setup = ${olapy-repository:location}
environment = olapy-env
setup-eggs =
  ${numpy:egg}
  ${lxml-python:egg}
  pip

[olapy-dir]
recipe = slapos.cookbook:mkdirectory
directory = ${buildout:parts-directory}/olapy/

[olapy-env]
<= numpy-env
OLAPY_PATH = ${olapy-dir:directory}

[olapy]
recipe = zc.recipe.egg:custom
egg = olapy
environment = olapy-env
setup-eggs =
  ${numpy:egg}
  ${lxml-python:egg}
  pip
initialization =
  import os
  os.environ['OLAPY_PATH'] = "${olapy-dir:directory}"
