[buildout]
parts =
  consul

[consul]
recipe = slapos.recipe.build:download-unpacked
shared = true
version = 0.8.3
url = https://releases.hashicorp.com/consul/${:version}/consul_${:version}_${:_url}.zip

[consul:linux and platform.machine() == "i386"]
_url = linux_386
md5sum = dfdc0eedd79baab7e6bc56c1582fd02e

[consul:linux and platform.machine() == "x86_64"]
_url = linux_amd64
md5sum = d6bc0898ea37ae2198370a9e1978d1bb
