[buildout]
extends =
  ../../software/wendelin/software.cfg
  buildout.hash.cfg

[erp5-defaults]
wcfs-enable-default = true

[local-bt5-repository]
# Same as bt5-repository, but only local repository.
# Used to generate bt5lists.
list += ${vifib:location}/master/bt5

[erp5_repository_list]
repository_id_list += vifib/master

[erp5]
branch = erp5-vifib

[vifib]
<= erp5
repository = https://lab.nexedi.com/nexedi/slapos.core.git
branch = master

[slapos-bin]
<= erp5
repository = https://lab.nexedi.com/nexedi/slapos-bin.git
branch = master

[eggs]
eggs +=
  slapos.core
  
dummy +=
  ${vifib:location}
  ${slapos-bin:location}
  
extra-paths +=
  ${vifib:location}/master
  ${slapos-bin:location}


### Overwrite recipes to introduce customized changes
[download-base-part]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}

[template-erp5]
< = download-base-part
filename = instance-erp5.cfg.in

[template-balancer]
< = download-base-part
filename = instance-balancer.cfg.in

[template-apache-backend-conf]
url = ${:_profile_base_location_}/${:filename}

[template-haproxy-cfg]
url = ${:_profile_base_location_}/${:filename}

[versions]
python-memcached = 1.47
xml-marshaller = 1.0.2


# Test Suite: SlapOS-Master.UnitTest-Master ran at 2023/10/20 03:57:41.581576 UTC
#             2 failures, 0 errors, 2033 total, status: FAIL

[erp5]
revision = 554f312659615c642b22f7a52a290383a790020e


[vifib]
revision = 988b3fd01b2cc37f52e36623a901db50b27008d5


[erp5-bin]
revision = 13d3ed05f0f07a53786fdf1ec0855a94ba1acdfc


[slapos-bin]
revision = 0e69f462bf6de44db7d9a2bf0bf5407aa9691753


[erp5-doc]
revision = 3996ae1f832ca438ead9fbcf0ab8082dd1d22021


[wendelin]
revision = bfe4ea1d40f20c0a821b78e1c5720d00878e9a96

