[buildout]
versions = versions
extends = 
  buildout.hash.cfg
  ../../stack/slapos.cfg
  ../../component/openssl/buildout.cfg
  ../../component/jupyter/buildout.cfg
  ../../stack/monitor/buildout.cfg
parts =
  slapos-cookbook
  jupyter
  jupyter-notebook-initialized-scripts
  instance-jupyter-notebook

[jupyter]
python_executable = ${buildout:bin-directory}/${:interpreter}

[download-file-base]
recipe = slapos.recipe.build:download
url = ${:_profile_base_location_}/${:filename}
download-only = true
mode = 0644

[jupyter-notebook-config]
<= download-file-base

[jupyter-set-password]
<= download-file-base

[erp5-kernel]
<= download-file-base

[kernel-json]
<= download-file-base

[custom-js]
<= download-file-base

[instance-jupyter-notebook]
recipe = slapos.recipe.template:jinja2
template = ${:_profile_base_location_}/${:filename}
rendered = ${buildout:directory}/template.cfg
mode = 0644
context =
  key bin_directory buildout:bin-directory
  key develop_eggs_directory buildout:develop-eggs-directory
  key eggs_directory buildout:eggs-directory
  key openssl_output openssl-output:openssl
  key python_executable jupyter:python_executable
  key jupyter_config_location jupyter-notebook-config:location
  key jupyter_config_filename jupyter-notebook-config:filename
  key jupyter_set_password_location jupyter-set-password:location
  key jupyter_set_password_filename jupyter-set-password:filename
  key erp5_kernel_location erp5-kernel:location
  key erp5_kernel_filename erp5-kernel:filename
  key kernel_json_location kernel-json:location
  key kernel_json_filename kernel-json:filename
  key custom_js_location custom-js:location
  key custom_js_filename custom-js:filename
  key monitor_template_rendered buildout:directory

[versions]
Pygments = 2.2.0
astor = 0.5
backports-abc = 0.5
backports.shutil-get-terminal-size = 1.0.0
cycler = 0.10.0
ipykernel = 4.5.2
ipython = 5.3.0
ipython-genutils = 0.1.0
ipywidgets = 6.0.0
jupyter-client = 5.0.0
jupyter-core = 4.3.0
jupyterlab = 0.26.3
jupyterlab-launcher = 0.3.1
matplotlib = 2.0.0
mistune = 0.7.3
nbformat = 4.3.0
notebook = 4.4.1
pandas = 0.19.2
plone.recipe.command = 1.1
prompt-toolkit = 1.0.13
ptyprocess = 0.5.1
pyzmq = 16.0.2
scikit-learn = 0.18.1
seaborn = 0.7.1
simplegeneric = 0.8.1
slapos.recipe.template = 3.0
statsmodels = 0.8.0
terminado = 0.6
tornado = 4.4.2
traitlets = 4.3.2
widgetsnbextension = 2.0.0
# numpy >= 1.13.1 is required for numpy.core.multiarray
numpy = 1.13.1


# Required by:
# tornado==4.4.2
certifi = 2017.1.23

# Required by:
# notebook==4.3.2
# nbconvert 4.2.0 depends on entrypoints egg that is not available as tar/zip source.
nbconvert = 4.1.0

# Required by:
# ipython==5.3.0
pathlib2 = 2.2.1

# Required by:
# statsmodels==0.8.0
patsy = 0.4.1

# Required by:
# ipython==5.3.0
pexpect = 4.2.1

# Required by:
# ipython==5.3.0
pickleshare = 0.7.4

# Required by:
# matplotlib==2.0.0
# pandas==0.19.2
python-dateutil = 2.6.0

# Required by:
# pathlib2==2.2.1
scandir = 1.5

# Required by:
# statsmodels==0.8.0
scipy = 0.19.0

# Required by:
# tornado==4.4.2
singledispatch = 3.4.0.3

# Required by:
# matplotlib==2.0.0
subprocess32 = 3.2.7

# Required by:
# prompt-toolkit==1.0.13
wcwidth = 0.1.7

jupyter = 1.0.0
jupyter-console = 5.1.0

# Required by:
# jupyter==1.0.0
qtconsole = 4.3.0
