[macro-virtual-env]
recipe = slapos.recipe.build
install =
  from zc.buildout.easy_install import working_set
  import os
  import errno
  buildout = self.buildout['buildout']

  eggs = tuple(
    egg.strip()
    for egg in options['eggs'].splitlines()
    if egg.strip()
  )
  eggs_set = working_set(
    eggs,
    [buildout['develop-eggs-directory'], buildout['eggs-directory']]
  )
  python_path = os.pathsep.join(tuple(dist.location for dist in eggs_set))

  path = os.pathsep.join([os.path.dirname(buildout['executable']),buildout['bin-directory']])
  with open(location, "w") as f:
    f.write(options['template'] % {
      "path" : path,
      "pythonpath" : python_path,
      "name" : self.name,
    })

# Template virtual env for bash shell in posix
[macro-virtual-env:posix]
template =
  alias deactivate='PATH=$_OLD_VENV_PATH PYTHONPATH=$_OLD_VENV_PYTHONPATH PS1=$_OLD_VENV_PS1 && unset _OLD_VENV_PATH _OLD_VENV_PYTHONPATH _OLD_VENV_PS1 && unalias deactivate'
  VENV_PATH=%(path)s; VENV_PYTHONPATH=%(pythonpath)s
  _OLD_VENV_PATH=$PATH; _OLD_VENV_PYTHONPATH=$PYTHONPATH; _OLD_VENV_PS1=$PS1
  PATH=$VENV_PATH:$PATH
  PYTHONPATH=$VENV_PYTHONPATH:$PYTHONPATH
  PS1='(%(name)s) '$PS1
